@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

hr,
legend {
    display: none;
    height: 0px;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

caption {
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

label,
input,
select,
button {
    vertical-align: middle;
    outline: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

img {
    border: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 8px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

body,
textarea {
    font-family: "Noto Sans KR", "맑은고딕", "Malgun Gothic", dotum, gulim, sans-serif;
    color: #333333;
}

.icon-splash-capture {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.875rem;
    height: 2.875rem;
    background-image: url("../img/icons/icon_splash_capture.png");
}

.icon-splash-location {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.5rem;
    height: 3rem;
    background-image: url("../img/icons/icon_splash_location.png");
}

.icon-splash-sms {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.875rem;
    height: 2.75rem;
    background-image: url("../img/icons/icon_splash_sms.png");
}

.icon-splash-address {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.875rem;
    height: 2.875rem;
    background-image: url("../img/icons/icon_splash_address.png");
}

.icon-app-error {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.9375rem;
    height: 4.3125rem;
    background-image: url("../img/icons/icon_app_error.png");
}


.app-splash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.app-splash .logo {
    position: absolute;
    left: 6.875rem;
    right: 6.875rem;
    height: 100%;
    text-indent: -9999px;
    background: url("../img/ui/app_logo.png") no-repeat center center;
    background-size: contain;
    z-index: 10;
}

.app-splash .splash-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.app-splash .splash-bg .bg-box {
    position: absolute;
    left: 0;
    width: calc(100% + 5rem);
    height: 100%;
    background: url("../img/ui/app_bg.jpg") no-repeat center top;
    background-size: cover;
}

.app-splash .splash-bg .dim-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/ui/app_dim.png") no-repeat center bottom;
    background-size: contain;
}

.app-splash .splash-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 30;
}

.app-splash .splash-info .info-content {
    padding: 6.875rem 5rem 11.25rem 5rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.app-splash .splash-info .info-content .info-top {
    padding-bottom: 2.5rem;
    margin-bottom: 3.75rem;
    border-bottom: 1px solid #333;
}

.app-splash .splash-info .info-content .info-top .title {
    margin-bottom: 1.5625rem;
    line-height: 1.4em;
    font-size: 2.375rem;
    color: #333333;
}

.app-splash .splash-info .info-content .info-top .title b {
    font-weight: 700;
}

.app-splash .splash-info .info-content .info-top .desc {
    line-height: 1.5em;
    font-size: 1.375rem;
    color: #818286;
}

.app-splash .splash-info .info-content .info-list {
    margin-bottom: 3.75rem;
}

.app-splash .splash-info .info-content .info-list .list-box {
    position: relative;
    padding-left: 5.9375rem;
    margin-top: 1.5625rem;
}

.app-splash .splash-info .info-content .info-list .list-box:first-child {
    margin-top: 0;
}

.app-splash .splash-info .info-content .info-list .list-box .icon {
    display: block;
    position: absolute;
    left: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
}

.app-splash .splash-info .info-content .info-list p {
    line-height: 1.5em;
    font-size: 1.375rem;
    color: #818286;
}

.app-splash .splash-info .info-content .info-list .label {
    margin-bottom: 0.3125rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.app-splash .splash-info .info-content .help {
    position: relative;
    padding-left: 1.375rem;
    line-height: 1.5em;
    font-size: 1.375rem;
    color: #818286;
}

.app-splash .splash-info .info-content .help:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0.8125rem;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #bcbdc1;
}

.app-splash .splash-info .info-content .help b {
    font-weight: 700;
    color: #333;
}

.app-splash .splash-info .btn-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8.125rem;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    background: #89b03f;
}

.app-splash .splash-bg {
    transition: all 0.5s ease-out;
    opacity: 0;
}

.app-splash .splash-bg .bg-box {
    transition: all 0.6s ease-out;
    transition-delay: 0.3s;
}

.app-splash .splash-info {
    transition: all 0.3s ease-in-out;
    transition-delay: 1.2s;
    opacity: 0;
}

.app-splash.on .splash-bg {
    opacity: 1;
}

.app-splash.on .splash-bg .bg-box {
    left: -5rem;
}

.app-splash.on .splash-info {
    opacity: 1;
}

.app-error {
    position: absolute;
    left: 0;
    top: 0;
    padding: 11.25rem 4.375rem 12.5rem 4.375rem;
    width: 100%;
    height: 100%;
    background: #fff;
}

.app-error .icon-box {
    margin-bottom: 3.75rem;
}

.app-error p {
    line-height: 1.6em;
    font-size: 1.375rem;
    color: #818286;
}

.app-error .error-text .title {
    margin-bottom: 1.875rem;
    line-height: 1.3em;
    font-size: 2.625rem;
    font-weight: 700;
    color: #333333;
}

.app-error .error-help {
    position: absolute;
    left: 5rem;
    right: 4.375rem;
    bottom: 12.5rem;
    padding-top: 3.125rem;
    border-top: 1px solid #e7e7e7;
}

.app-error .error-help .title {
    margin-bottom: 0.9375rem;
    line-height: 1.4em;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
}

.app-error .error-help a {
    color: #818286;
}

.app-error .btn-error {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 8.125rem;
    line-height: 8.375rem;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    color: #333333;
    background: #f5f5f5;
    z-index: 10;
}