/*reset*/
html{
	width: 100%;
}
html,body {
	font-size:8px !important;
}
html,body,ul,li,button {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,p,button {
	margin: 0;
	line-height: 1;
}



/*스타일 가이드*/
.guide-wrap header {
	position:static;
	background:#89b03f;
	color:#fff;
	border-bottom:0;
}
.guide-wrap .btn-wrap {
	position:absolute;
	right:10px;
	top:90px;
	display: block;
}
.guide-wrap .btn-wrap .btn {
	color:#fff;
	height:auto;
	padding: 5px;
	margin:5px;
	min-width: auto;
	border-bottom:2px solid #fff;
	font-size:16px;
}
.guide-wrap .btn-wrap .btn:hover {
	opacity: .8;
}
.guide-wrap h1 {
	padding: 40px 0;
    text-align: center;
    font-size: 35px;
	font-weight: 700;
}
.guide-wrap h2 {
	display: block;
	padding:10px 10px 20px;
	margin:10px 20px;
	font-size: 24px;
	border-bottom:1px solid #ddd;
}
.guide-wrap header nav ul {
	display: flex;
	flex-wrap: nowrap;
	width:100%;
}
.guide-wrap header nav li {
	background:#fff;
	color:#333;
	flex: 1 1 auto;
	text-align: center;
}
.guide-wrap header nav li a {
	display: block;
	padding:15px 0;
	font-size:16px;
	font-weight:500;
	border-left:1px solid #ddd;
	border-bottom:3px solid #ddd;
}
.guide-wrap header nav li.active a {
	border-bottom-color:#89b03f;
	color:#5b7824;
}
.guide-wrap header nav li a:hover {
	opacity: .8;
}
.guide-wrap .guide {
	margin-top:20px;
	font-size:14px;
}
.reset {
	font-size: 10px;
	line-height: 1.2;
}
.clip {
	display: block;
	/* height: 36px; */
	/* border: 0;
	border-left: 10px solid #ccc;
	border-bottom: 10px solid white; */
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eeeeee;
}
.clip > span {
	/* position: absolute; */
	font-style: italic;
	color: green;
}
.content-wrap {
	background-color: #fefefe;
	border: 1px solid #e9e9e9;
	min-height: 100px;
	margin: 0 10px;
	padding: 30px 0 0 0;
	text-align: center;
	color: #eee;
	font-size: 30px;
}
.guide.test {
	width:350px;
	padding: 0 0 50px;
	display: inline-block;
}
.guide.test_btn_wrap {
	display: inline-block;
	padding: 0 0 0 20px;

}
.guide.test_loading  {
	height:250px;
	overflow: hidden;
	position: relative;
}
.guide.test_loading .progress {
	position:static;
	margin:0;
}
.guide.test_loading .loading_txt {
	position: absolute;
	left:0;
	top:0;
	display: block;
	width:100%;
	text-align: center;
	line-height:250px;
	margin:0px;
	text-align:center;
}
/*.table-wrap {
	max-width:70%;
}*/
.styleguide .modal-wrap {
	display: inline-block;
	position: relative;
	height: auto;
	width:auto;
	padding:30px;
}
.styleguide .modal-wrap .modal-box {
	position: static;
	display: inline-block;
	transform: translate(0 ,0);
}
body .styleguide {
	padding-left: 30px;
	width: calc(100% - 30px);
	max-width:calc(100% - 200px);
	position: relative;
}

body .styleguide .cont {
	width:375px;
	padding:20px;
	position: relative;
}
body .styleguide .cont.wide {
	width: calc(100% - 40px);
}
.styleguide h1 {
	padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.styleguide .cont h3:not(.not) {
	font-size:20px;
	font-weight: bold;
	padding: 15px 0;
	color:#224211;
	font-weight: 400;;
}
.styleguide .cont h3:not(.not):nth-of-type(n+2) {
	margin-top:20px;
	padding-top:20px;
}
.styleguide .cont h3.p0 {
	padding:0;
}
#box4 a {
	margin-top: 2px;
}
.styleguide .loading-box.page-wrap {
	position:static;
	height:200px;
}


.left-menu {
	position: absolute;
	top:240px;
	right:20px;
	width:150px;
	border:1px solid #aaa;
	padding: 20px 30px;
	border-radius: 5px;
}
.left-menu.fixed {
	position:fixed;
	top:30px;
	right:20px;
}
.left-menu li {
	line-height: 40px;
	font-size:16px;
}
.left-menu li a.active {
	font-weight: 700;
	text-decoration: underline;
}
.styleguide .popup-window {
	position:relative;
	width:100%;
	height:600px;
}