.app-splash{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  .logo{
    position: absolute;
    left: rem(110);
    right: rem(110);
    height: 100%;
    text-indent: -9999px;
    background: url("../img/ui/app_logo.png") no-repeat center center;
    background-size: contain;
    z-index: 10;
  }
  
  .splash-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    .bg-box{
      position: absolute;
      left: 0;
      width: calc(100% + #{rem(80)});
      height: 100%;
      background: url("../img/ui/app_bg.jpg") no-repeat center top;
      background-size: cover;
    }
    .dim-box{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;    
      background: url("../img/ui/app_dim.png") no-repeat center bottom;
      background-size: contain;
    }
    z-index: 20;
  }
  
  .splash-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    .info-content{
      padding: rem(110) rem(80) rem(180) rem(80);
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      .info-top{
        padding-bottom: rem(40);
        margin-bottom: rem(60);
        border-bottom: 1px solid #333;
        .title{
          margin-bottom: rem(25);
          line-height: 1.4em;
          font-size: rem(38);
          color: #333333;
          b{
            font-weight: 700;
          }
        }
        .desc{
          line-height: 1.5em;
          font-size: rem(22);
          color: #818286;
        }
      }
      .info-list{
        margin-bottom: rem(60);
        .list-box{
          position: relative;
          padding-left: rem(95);
          margin-top: rem(25);
          &:first-child{
            margin-top: 0;
          }
          .icon{
            display: block;
            position: absolute;
            left: rem(15);
            top: 50%;
            transform: translateY(-50%);
          }
        }
        p{
          line-height: 1.5em;
          font-size: rem(22);
          color: #818286;
        }
        .label{
          margin-bottom: rem(5);
          font-size: rem(24);
          font-weight: 700;
          color: #333;
        }
      }
      .help{
        position: relative;
        padding-left: rem(22);
        line-height: 1.5em;
        font-size: rem(22);
        color: #818286;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: rem(13);
          width: rem(6);
          height: rem(6);
          border-radius: 50%;
          background: #bcbdc1;
        }
        b{
          font-weight: 700;
          color: #333;
        }
      }
    }
    .btn-confirm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: rem(130);
      text-align: center;
      font-size: rem(36);
      font-weight: 700;
      color: #fff;
      background: #89b03f;
    }
    z-index: 30;
  }
  
  .splash-bg{
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
  }
  .splash-bg .bg-box{
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .splash-info{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
    opacity: 0;
  }
  &.on{
    .splash-bg{
      opacity: 1;
    }
    .splash-bg .bg-box{
      left: rem(-80);
    }
    .splash-info{
      opacity: 1;
    }
  }
}

.app-error{
  position: absolute;
  left: 0;
  top: 0;
  padding: rem(180) rem(70) rem(200) rem(70);
  width: 100%;
  height: 100%;
  background: #fff;
  .icon-box{
    margin-bottom: rem(60);
  }
  p{
    line-height: 1.6em;
    font-size: rem(22);
    color: #818286;
  }
  .error-text{
    .title{
      margin-bottom: rem(30);
      line-height: 1.3em;
      font-size: rem(42);
      font-weight: 700;
      color: #333333;
    }
  }
  .error-help{
    position: absolute;
    left: rem(80);
    right: rem(70);
    bottom: rem(200);
    padding-top: rem(50);
    border-top: 1px solid #e7e7e7;
    .title{
      margin-bottom: rem(15);
      line-height: 1.4em;
      font-size: rem(24);
      font-weight: 700;
      color: #333333;
    }
    a{
      color: #818286;
    }
  }
  
  .btn-error{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: rem(130);
    line-height: rem(134);
    text-align: center;
    font-size: rem(36);
    font-weight: 700;
    color: #333333;
    background: #f5f5f5;
    z-index: 10;
  }
}
