//알림 텍스트
.notice-title{
  position: relative;
  padding-left: rem(60);
  margin-bottom: rem(50);
  line-height: rem(40);
  font-size: rem(28);
  font-weight: 500;
  color: #333333;
  white-space: nowrap;
  letter-spacing: rem($letter-spacing-default);
  &.best{
    font-size: rem(34);
  }
  &:before{
    @include iconb;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: rem(-7);
    width: rem(52);
    height: rem(54);
    background-image: url("../img/icons/icon_new2.png");
  }
}

//필터
.item-filter{
  .filter-box{
    position: relative;
    padding: rem(23) rem(40);
    height: rem(96);
    background: #f7fafc;
  }
  .total{
    position: absolute;
    left: rem(40);
    top: rem(22);
    line-height: rem(50);
    font-size: rem(26);
    font-weight: 700;
    color: #333333;
  }
  .right-box{
    position: absolute;
    right: rem(40);
    top: rem(22);
    .drop-menu.mr30{
      vertical-align: top;
      margin-right: rem(15)!important;
    }
  }
  .btn-filter{
    display: inline-block;
    padding: 0 rem(10);
    margin-right: rem(-15);
    height: rem(50);
    line-height: rem(50);
    font-size: rem(26);
    font-weight: 500;
    color: #333333;
    .icon{
      margin-left: rem(10);
    }
  }
  .filter-list{
    display: flex;
    flex-wrap: wrap;
    padding: rem(60) rem(28) rem(38) rem(40);
    border-bottom: rem(2) solid #e7e7e7;
    .filter{
      @include tag;
      margin: 0 rem(10) rem(22) 0;
      padding-right: rem(52);
      height: rem(52);
      // line-height: rem(50);
      .icon-good{
        margin: rem(-3) 0 0 rem(4);
        width:rem(18);
        height:rem(16);
      }
      // b{
        // font-weight: 700;
      // }
      .btn-delete{
        display: block;
        position: absolute;
        right: 1px;
        top: -1px;
        width: rem(50);
        height: rem(50);
        .icon-close{
          // margin-top: -2px;
        }
      }
    }
  }
}

//게시물
.bbs-wrap{
  .bbs-header{
    margin-bottom: rem(30);
    .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.bordered{
        border-bottom: rem(2) solid #333;
      }
      .btn{
        margin: rem(10) 0;
        padding: 0 rem(30);
        width: auto;
      }
      .count{
        @include font-manrope(400);
        font-size: rem(26);
        margin-left: rem(10);
        b{
          font-weight: 700;
        }
      }
    }
    .header-bottom{
      display: flex;
      justify-content: space-between;
      padding: rem(25) 0;
      height: rem(100);
      &.bordered{
        border-bottom: rem(2) solid #e7e7e7;
      }
    }
    &.bordered{
      border-bottom: rem(2) solid #333;
    }
    &.gray-bordered{
      border-bottom: rem(2) solid #e7e7e7;
    }
    
    .left-box{
      display: flex;
    }
    .right-box{
      display: flex;
    }
    
    .title{
      padding-bottom: rem(10);
      line-height: rem(80);
      font-size: rem(34);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-title);
      .eng{
        @include font-manrope(700);
      }
    }
    .total{
      line-height: rem(80);
      font-size: rem(28);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-text);
      b{
        @include font-manrope(700);
      }
    }
    .total + p.total{
      position: relative;
      margin-left: rem(30);
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: rem(-14);
        top: 50%;
        margin-top: rem(-11);
        width: rem(2);
        height: rem(22);
        background: #e7e7e7;
      }
    }
    .desc{
      margin-bottom: rem(20);
      line-height: rem(40);
      font-size: rem(24);
      color: #818286;
      letter-spacing: -0.5px;
      word-break: keep-all;
      .btn-link{
        font-weight: 700;
        color: #333333;
      }
    }
    .btn-delete, .btn-more{
      display: block;
      line-height: rem(50);
      font-size: rem(26);
      font-weight: 500;
      color: #58595b;
      .icon{
        margin: rem(-4) 0 0 rem(10);
      }
    }
    .select-box{
      min-width: rem(180);
    }
    .check-box{
      margin: rem(10) 0;
    }
    .search-box{
      position: relative;
      &.type{
        padding-left: rem(200);
      }
      .select-box{
        position: absolute;
        left: 0;
        top: 0;
      }
      .input-search{
        padding: 0 rem(100) 0 rem(20);
        width: 100%;
        height: rem(80);
        font-size: rem(26);
        color: #333;
        border: rem(2) solid #e7e7e7;
        border-radius: rem(12);
      }
      .btn-search{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(80);
        height: rem(80);
        opacity: 0.5;
        z-index: 10;
      }
    }
    .btn-filter{
      display: inline-block;
      margin-top: rem(5);
      padding: 0 rem(10);
      height: rem(50);
      line-height: rem(50);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
      .icon{
        margin-left: rem(10);
      }
    }
    .check-photo{
      display: inline-block;
      position: relative;
      padding-left: rem(44);
      .check{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: rem(9);
        width: rem(38);
        height: rem(32);
        opacity: 0;
        z-index: 1;
        margin:0;
      }
      .check:checked + span.icon,
      .check:checked + span.icon + span.text{
        opacity: 1;
      }
      .icon{
        display: block;
        position: absolute;
        left: 0;
        top: rem(9);
        width: rem(38);
        height: rem(32);
        background: url("../img/icons/icon_photo.png") no-repeat center center;
        background-size: contain;
        opacity: 0.4;
      }
      .text{
        display: block;
        line-height: rem(50);
        font-size: rem(26);
        font-weight: 500;
        color: #333;
        opacity: 0.4;
      }
    }
    .sort-list{
      display: inline-flex;
      align-items: center;
      .btn-sort{
        display: block;
        position: relative;
        margin-left: rem(20);
        padding: 0 rem(10);
        height: rem(50);
        line-height: rem(50);
        font-size: rem(26);
        font-weight: 500;
        color: #bcbdc1;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(-10);
          top: 50%;
          margin-top: rem(-11);
          width: rem(2);
          height: rem(22);
          background: #e7e7e7;
        }
        &:first-child{
          margin-left: 0;
        }
        &:first-child:before{
          display: none;
        }
        &.active{
          color: #333;
        }
      }
    }
  }
  
  .tag-list{
    display: flex;
    margin-bottom: rem(30);
    flex-wrap: wrap;
    .tag{
      @include tag;
      width: rem(90);
      
      &.day{
        font-weight: 700;
        color: #333;
        border-color: #333;
      }
      &.dday{
        font-weight: 700;
        font-size:rem(26);
        // line-height: rem(39);
        color: #ed1c24;
        border-color: #ed1c24;
      }
    }
  }
  
  .bbs-list{
    width: 100%;
    table-layout: fixed;
    border-top: rem(2) solid #e7e7e7;
    border-collapse: collapse;
    tbody td{
      padding: rem(20);
      text-align: center;
      vertical-align: middle;
      border-bottom: rem(2) solid #e7e7e7;
      position: relative;
      &.alignl{
        text-align: left;
      }
      p{
        line-height: rem(28);
        font-size: rem(20);
        color: #818286;
      }
      .subject{
        padding-right: rem(10);
      }
      &.new .date:after {
        content:'';
        @include icon;
        width:rem(25);
        height:rem(25);
        background-image: url('../img/icons/icon_bbs_new.png');
        margin-left:rem(10);
        position: relative;
        top:rem(-2);
        background-size: 100%;
      }
      .date{
        @include font-manrope(400);
        margin-bottom: rem(5);
        .category{
          margin-right: rem(20);
          font-weight: 700;
          color: #333;
        }
        .range{
          position: relative;
          margin-left: rem(35);
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: rem(-17);
            top: 50%;
            margin-top: rem(-8);
            width: 1px;
            height: rem(16);
            background: #e7e7e7;
          }
        }
      }
      .title, .btn-link{
        @include ellipsen(2);
        display: inline-block;
        line-height: rem(36);
        font-size: rem(24);
        font-weight: 500;
        color: #333333;
        box-sizing: border-box;
        padding-right:rem(10);
      }
      .desc{
        margin-top: rem(5);
      }
      &.point{
        width: rem(150);
        .label{
          margin-bottom: rem(20);
          font-size: rem(22);
          font-weight: 700;
          color: #89b03f;
        }
        .value{
          @include font-manrope(700);
          font-size: rem(32);
          color: #89b03f;
        }
      }
    }
    tbody tr.cancel{
      td.point{
        .label, .value{
          color: #bcbdc1;
        }
      }
    }
  }
  
  .view-list{
    .view-box{
      margin-top: rem(75);
      &:first-child{
        margin-top: 0;
      }
    }
    .btn-view{
      display: block;
      img{
        display: block;
        margin-bottom: rem(40);
        width: 100%;
        border-radius: rem(25);
      }
      .tag-list{
        padding:0 rem(20);
      }
      .view-title, .view-date{
        padding:0 rem(30);
      }
    }
  }
  
  .promo-list{
    .view-box{
      margin: 0;
      padding: rem(80) rem(40) rem(70);
      border-top: rem(10) solid #f5f5f5;
      &:first-child{
        border-top: 0;
      }
      &:last-child {
        padding-bottom:0;
      }
    }
    .btn-view{
      margin-bottom: rem(30);
    }
    .thumb-list{
      display: inline-flex;
      flex-wrap: wrap;
      width: 101%;
      .btn-thumb{
        display: block;
        position: relative;
        margin-right: rem(10);
        width: calc(24% - #{rem(calcd(10, 4))});
        border: 1px solid #e7e7e7;
        border-radius: rem(10);
        overflow: hidden;
        &:last-child{
          margin-right: 0;
        }
        img{
          display: block;
          width: 100%;
        }
        .over{
          @include font-manrope(700);
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          line-height: rem(159);
          text-align: center;
          font-size: rem(34);
          color: #fff;
          background: rgba(0,0,0,0.5);
          z-index: 10;
        }
      }
    }
    .promo-text{
      text-align: center;
      .btn-link{
        @include ellipsen(2);
        display: inline-block;
        margin-top: rem(40);
        line-height: rem(48);
        font-size: rem(36);
        font-weight: 700;
        color: #333333;
        letter-spacing: -1px;
      }
      .desc{
        margin-top: rem(20);
        line-height: rem(38);
        font-size: rem(26);
        color: #818286;
      }
    }
  }
  
  .view-title-box{
    position: relative;
    .btn-share{
      display: block;
      position: absolute;
      right: rem(-15);
      top: rem(-12);
      width: rem(50);
      height: rem(50);
    }
  }
  
  .view-content{
    margin-top: rem(40);
    margin-bottom: rem(70);
    img {
      max-width:100%;
      height:auto !important;
    }
  }
  
  .view-title{
    @include ellipsen(2);
    display: block;
    line-height: rem(34);
    font-size: rem(28);
    font-weight: 500;
    color: #333333;
  }
  .view-date{
    @include font-manrope(500);
    display: block;
    margin-top: rem(7);
    line-height: rem(30);
    font-size: rem(26);
    color: #58595b;
  }
}

.bbs-page-list{
  display: flex;
  justify-content: center;
  margin-top: rem(50);
  width: 100%;
  .btn-page{
    @include font-manrope(700);
    display: block;
    position: relative;
    margin: 0 rem(9);
    width: rem(40);
    height: rem(40);
    line-height: rem(40);
    text-align: center;
    border-radius: rem(10);
    font-size: rem(24);
    color: #333333;
    &.active{
      color: #fff;
      background: #333;
    }
    &.prev{
      margin-right: rem(10);
    }
    &.next{
      margin-left: rem(10);
    }
  }
}

.btn-list-more{
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: rem(48);
  padding-left: rem(20);
  width: rem(140);
  line-height: rem(50);
  font-size: rem(26);
  font-weight: 700;
  color: #333333;
  .icon{
    margin: rem(-4) 0 0 rem(14);
  }
  &.alignl{
    margin-left: rem(-20);
  }
  &.alignr{
    margin-right: rem(-20);
  }
}

.caution-box{
  .caution-title{
    position: relative;
    margin-bottom: rem(35);
    padding-left: rem(56);
    line-height: rem(40);
    font-size: rem(32);
    font-weight: 700;
    color: #333333;
    letter-spacing: rem($letter-spacing-title);
    .icon{
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .caution-list{
    li{
      margin-top: rem(20);
      &:first-child{
        margin-top: 0;
      }
      p{
        position: relative;
        padding-left: rem(18);
        line-height: rem(36);
        font-size: rem(26);
        color: #818286;
        word-break: keep-all;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: rem(16);
          width: rem(6);
          height: rem(6);
          border-radius: 50%;
          background: #bcbdc1;
        }
      }
    }
  }
}

//faq
.bbs-faq-list{
  .faq-title{
    position: relative;
    padding: rem(30) 0;
    border-bottom: 1px solid #e7e7e7;
    &:after{
      display: block;
      content: "";
      position: absolute;
      top: rem(104);
      right: rem(12);
      width: rem(26);
      height: rem(15);
      background: url('../img/icons/icon_arrow_faq.png') no-repeat center center;
      background-size: contain;
    }
    .info{
      display: flex;
      margin-bottom: rem(15);
      p{
        display: block;
        position: relative;
        margin-left: rem(30);
        line-height: rem(40);
        font-size: rem(26);
        color: #333333;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(-15);
          top: 50%;
          margin-top: rem(-12);
          width: rem(2);
          height: rem(22);
          background: #e7e7e7;
        }
        &:first-child{
          margin-left: 0;
        }
        &:first-child:before{
          display: none;
        }
      }
      .status + p.name:before{
        display: none;
      }
      .status{
        width: rem(110);
        height: rem(44);
        text-align: center;
        font-weight: 500;
        font-size: rem(22);
        color: #fff;
        border-radius: rem(22);
        background: #bcbdc1;
        border:0;
        &.complete{
          background: #333333;
        }
      }
      .type{
        font-size: rem(20);
        color: #818286;
      }
    }
    .title{
      @include ellipsen(2);
      position: relative;
      padding-right: rem(50);
      line-height: rem(38);
      font-size: rem(26);
      color: #333333;
      &.lock{
        padding-left: rem(48);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-17);
          width: rem(31);
          height: rem(35);
          background: url("../img/icons/icon_lock.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
    &.active:after{
      transform: rotate(180deg);
    }
    &.active .title{
      font-weight: 700;
    }
  }
  .faq-text{
    display: none;
    padding: rem(30);
    border-bottom: 1px solid #e7e7e7;
    background: #f8f8f8;
    p, .product-link{
      line-height: rem(36);
      font-size: rem(24);
      color: #58595b;
      a{
        font-size: rem(24);
        color: #117ef9;
        font-weight: 500;
        text-decoration: underline;
      }
    }
    .product-link{
      margin-bottom: rem(10);
    }
    .faq-question{
      margin-bottom: rem(20);
      p{
        font-weight: 500;
        color: #333;
      }
    }
    .faq-question, .faq-answer{
      position: relative;
      padding-left: rem(36);
      line-height: rem(36);
      font-size: rem(22);
      &:before{
        @include font-manrope(700);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "Q";
        font-size: rem(24);
        color: #333;
      }
    }
    .faq-answer:before{
      content: "A"!important;
      color: #89b03f;
    }
    .btn{
      margin-top: rem(40);
      width: rem(160);
    }
  }
  &.list-more-wrap {
    .faq-title:nth-of-type(n+6) {
      display: none;
    }
    &.on {
      .faq-title:nth-of-type(n+6) {
        display: block;
      }
    }
    & + .btn-list-more.on {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

.custom-faq-list{
  border-top: 1px solid #e7e7e7;
  .faq-title{
    .info{
      flex: none;
      display: block;
      .status{
        display: inline-block;
        min-width: rem(200);
        box-sizing: border-box;
        padding:0 rem(10);
        width:auto;
        background: #333;
      }
    }
    .title{
      @include ellipsen(1);
      padding-left:rem(20);
    }
    &:after{
      top: rem(38);
    }
  }
}

.mypage-faq-list{
  border-top: 1px solid #e7e7e7;
  .faq-title{
    .info {
      p{
        font-size: rem(20);
        color: #818286;
      }
      .status{
        width: rem(110);
        height: rem(42);
        line-height: rem(46);
        text-align: center;
        font-size: rem(22);
        font-weight: 500;
        color: #fff;
        border-radius: rem(21);
        background: #bcbdc1;
        &.complete{
          color: #fff;
          background: #333333;
        }
      }
    }
  }
}

//쿠폰
.coupon-list{
  .coupon-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: rem(40);
    overflow: hidden;
    &:first-child{
      margin-top: 0;
    }
    &:before, &:after{
      display: block;
      content: "";
      position: absolute;
      top: rem(-15);
      right: rem(130);
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      border: 2px solid #8bb23f;
      background: #fff;
      z-index: 10;
    }
    &:after{
      top: auto;
      bottom: rem(-15);
    }
    &.time{
      .coupon-slot, .status-slot, &:before, &:after{
        border-color: #e9bb5b;
      }
      .coupon-slot{
        .coupon-info .dday{
          color: #ed1c24;
        }
        .coupon-price{
          color: #e9bb5b;
        }
      }
      .status-slot{
        background: #f8ecd2;
        .coupon-status{
          padding-top: rem(52);
          color: #e9bb5b;
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: rem(-21);
            width: rem(43);
            height: rem(43);
            vertical-align: middle;
            background: url("../img/icons/icon_coupon_time.png") no-repeat center center;
            background-size: contain;
          }
        }
      }
    }
    &.end{
      .coupon-slot, .status-slot, &:before, &:after{
        border-color: #e7e7e7;
      }
      .coupon-slot{
        .coupon-target, .coupon-target .btn-link, .coupon-name, .coupon-info{
          color: #ddd;
        }
        .coupon-price{
          color: #ddd;
        }
      }
      .status-slot{
        background: #f8f8f8;
        .coupon-status{
          color: #bcbdc1;
        }
        .icon{
          @include icon-gray;
        }
      }
    }
    .coupon-slot{
      position: relative;
      flex: 1;
      padding: rem(40);
      min-height: rem(294);
      border: 2px solid #8bb23f;
      border-right: 0;
      border-radius: rem(25) 0 0 rem(25);
      &:after{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        border-right: 2px dashed #e7e7e7;
      }
      .coupon-price{
        @include font-manrope(700);
        line-height: rem(50);
        font-size: rem(30);
        color: #8bb23f;
        text-indent: rem(-5);
        .price{
          margin-left: rem(5);
          font-size: rem(50);
        }
      }
      .coupon-name{
        @include ellipsen(2);
        line-height: rem(42);
        font-size: rem(32);
        font-weight: 700;
        color: #333333;
      }
      .coupon-target{
        margin-top: rem(10);
        line-height: rem(30);
        font-size: rem(24);
        font-weight: 500;
        color: #58595b;
        .btn-link{
          color: #58595b;
          .icon{
            margin-left: rem(10);
          }
        }
      }
      .coupon-info{
        margin-bottom: rem(22);
        line-height: rem(30);
        font-size: rem(22);
        font-weight: 500;
        color: #818286;
        white-space: nowrap;
        font-family: "Manrope", "Noto Sans KR", "맑은고딕", "Malgun Gothic", dotum, gulim, sans-serif;
        .dday{
          position: relative;
          margin-left: rem(40);
          &.red{
            color: #f01d11;
          }
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: rem(-20);
            top: 50%;
            margin-top: rem(-10);
            width: 1px;
            height: rem(20);
            background: #e7e7e7;
          }
        }
      }
    }
    
    .status-slot{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: rem(146);
      text-align: center;
      border: 2px solid #8bb23f;
      border-left: 0;
      border-radius: 0 rem(25) rem(25) 0;
      background: #f3f4e6;
      .coupon-status{
        position: relative;
        line-height: rem(30);
        font-size: rem(26);
        font-weight: 700;
        color: #8bb23f;
      }
      .btn{
        margin-top: rem(18);
        width: rem(118);
      }
    }
  }
  
  .coupon-detail{
    margin-top: rem(40);
    width: 100%;
    th{
      padding: rem(10) rem(15) rem(10) rem(40);
      text-align: left;
      font-size: rem(24);
      font-weight: 500;
      color: #333333;
    }
    td{
      padding: rem(10) rem(40) rem(10) 0;
      text-align: right;
      font-size: rem(24);
      color: #818286;
    }
  }
  &.empty{
    padding-top: rem(220);
    padding-bottom: rem(220);
    text-align: center;
    p{
      margin-top: rem(45);
      font-size: rem(28);
      font-weight: 500;
      letter-spacing: -1.4;
    }
  }
}
.empty-list{
  margin-top: rem(120);
  text-align: center;
  p{
    margin-top: rem(40);
    font-size: rem(28);
    font-weight: 500;
  }
}