.brand-wrap{
  padding-top: rem(60);
  
  .brand-video{
    margin: rem(100) 0 rem(80) 0;
    .video-box{
      position: relative;
      .btn-play{
        @include transtion(0.2s);
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(84);
        height: rem(84);
        z-index: 10;
        &.hide{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .video{
      display: block;
      margin: 0;
      width: 100%;
    }
    .text-box{
      padding: rem(40) 0 rem(50) 0;
      background: #f8f3f0;
      .title {
        line-height: 1.4em;
        font-size: rem(36);
        font-weight: 500;
        color: #31291c;
        letter-spacing: rem($letter-spacing-text);
        b{
          font-weight: 700;
        }
      }
      .desc{
        margin-top: rem(20);
        line-height: 1.4em;
        font-size: rem(26);
        color: #333;
        letter-spacing: rem($letter-spacing-default);
        b{
          font-weight: 700;
        }
        &.flex {
          display: flex;
          justify-content: space-between;
          align-content: flex-start;
          margin-top:rem(80);
          .btn {
            margin:rem(-14);
          }
        }
      }
      .btn-product{
        margin-top: rem(35);
        width: rem(190);
      }
    }
  }
}

