html, body{
	scroll-behavior: smooth;
	// 모바일
	// @media all  and (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-tablet-landscape) {
	// 	font-size: 8px;
	// }
	// 태블릿
	@media all and (max-width: $breakpoint-pc-default) {
		font-size: 8px;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		text-size-adjust : none;
	}
	//모바일 iPhone5 이하
	@media all and (max-width: $breakpoint-mobile-small){
		font-size: 6px;
	}
	img {
		max-width:100%;
	}
}

body, textarea{
	font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
	color: $fc-default;
}
.for-pc{
	@media all and (max-width: $breakpoint-tablet-landscape) {
		display: none !important;
	}
}
.for-mobile {
	@media all and (min-width: $breakpoint-tablet-landscape) {
		display: none !important;
	}
}
.hidden{
	display: none;
}
html {
	&.hold {
		overflow-y: hidden !important;
	}
}
em, strong{
	font-weight: 700;
}
.color-green{
  color: #8eb444!important;
}
.datepicker-wrap {
	display: none;
	flex-grow: 1;
	margin: 0 rem(20);
	.date-picker.input-text {
		width:rem(350);
	}
}