header{
	&.gnb-cc {
		.gnb{
			padding: 0 rem(40);
			font-size: rem(36);
			font-weight: 700;
		}
	}
	// border-bottom: rem(10) solid #f5f5f5;
	// box-sizing: border-box;
}

.customer-center-wrap{
	h2 {
		font-size: rem(32);
		font-weight: 700;
	}
	.title {
		font-size: rem(28);
	}
	.contact{
		padding-top: rem(62);
		// padding-bottom: rem(75);
		// border-bottom: rem(10) solid #f5f5f5;
		
		.time{
			margin-top: rem(30);
			margin-bottom: rem(46);
			font-size: rem(24);
			color: #818286;
			> span{
				display: inline-block;
				height: rem(20);
				padding-left: rem(20);
				padding-right: rem(20);
				&:nth-of-type(1){
					padding-left: 0;
					border-right: 1px solid #dddddd;
				}
			}
		}
		.number{
			@include font-manrope(700);
			font-size: rem(36);
			color: #6b8138;
			vertical-align: middle;
		}
	}
	.faq{
		
		.faq-title-slide {
			height: rem(86);
			margin-top: rem(50);
			margin-left: rem(-40);
			margin-right: rem(-40);

			.faq-title-slide:not(.swiper-container-initialized) {
				.swiper-wrapper {
					display: flex;
					flex-wrap: nowrap;
				}
			}

			.swiper-slide {
				padding: 0 rem(20);
				width: auto;

				&:first-child {
					padding-left: rem(40);
				}
			}

			.btn-menu {
				display: block;
				position: relative;
				// padding: 0 rem(15);
				line-height: rem(50);
				font-size: rem(30);
				font-weight: 700;
				color: #bcbdc1;
				
				&.active {
					font-weight: 700;
					color: #333333;

					&:after {
						display: block;
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: rem(4);
						border-radius: rem(4) rem(4) rem(2) rem(2);
						background: #333;
					}
				}
			}
		}
		.qna-list{
			border-bottom: rem(2) solid #e7e7e7;
			dt{
				&.qna-title{
					padding-top: rem(30);
					padding-bottom: rem(30);
					padding-left: rem(20);
					padding-right: rem(20);
					border-top: rem(2) solid #e7e7e7;
					.label{
						font-size: rem(20);
						color: $fc-dark-gray;
					}
					.btn-title{
						display: flex;
						align-items: center;
						font-size: rem(22);
						font-weight: 700;
						padding-top: rem(16);
						padding-bottom: rem(16);
						justify-content: space-between;
						.text{
							padding-right: rem(40);
						}
					}
					&.active{
						.icon-arrow-up{
							transform: rotate(0);
						}
					}
				}
			}
			dd{
				&.accordion-content{
					padding-top: rem(50);
					padding-bottom: rem(50);
					padding-left: rem(40);
					padding-right: rem(40);
					border-top: rem(2) solid #e7e7e7;
					background-color: #f8f8f8;
					line-height: 1.6;
				}
			}
		}
		.input-group{
			display: flex;
			margin-top: rem(60);
			margin-bottom: rem(40);
			.select-box{
				flex: 1 1 rem(180);
				margin-right: rem(20);
			}
			.search-box {
				position: relative;
				flex: 1 1 auto;

				.input-search {
					padding: 0 rem(100) 0 rem(20);
					width: 100%;
					height: rem(80);
					font-size: rem(26);
					color: #333;
					border: rem(2) solid #e7e7e7;
					border-radius: rem(12);
				}

				.btn-search {
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: rem(80);
					height: rem(80);
					opacity: 0.5;
					z-index: 10;
				}
			}
		}
	}
	.bbs-header .select-box{
		min-width:rem(200);
	}
	
	//일대일문의
	.customer-qna-main{
	  margin-top: rem(50);
	  .cq-main-top{
	    .qna-title{
	      position: relative;
	      padding-left: rem(76);
	      margin-bottom: rem(40);
	      line-height: rem(38);
	      font-size: rem(28);
	      font-weight: 700;
	      color: #333333;
	      &:before{
	        display: block;
	        content: "";
	        position: absolute;
	        left: 0;
	        top: 50%;
	        margin-top: rem(-30);
	        width: rem(62);
	        height: rem(60);
	        background: url("../img/icons/icon_customer_title.png") no-repeat;
	        background-size: contain;
	      }
	    }
	    .qna-list-box{
	      border-radius: rem(25);
	      background: $bg-blue;
	      overflow: hidden;
	      .title-box{
	        padding: rem(30) 0;
	        text-align: center;
	        background: #333333;
	        .title{
	          line-height: rem(36);
	          font-size: rem(24);
	          color: #ffffff;
	          b{
	            font-size: rem(28);
	            font-weight: 700;
	          }
	        }
	      }
	      .qna-list{
	        padding: rem(40);
	        li{
	          position: relative;
	          padding-left: rem(76);
	          margin-top: rem(20);
	          &:first-child{
	            margin-top: 0;
	          }
	          .btn-qna{
	            @include ellipse;
	            display: block;
	            padding: rem(4) rem(38) 0 rem(28);
	            line-height: rem(54);
	            font-size: rem(22);
	            font-weight: 500;
	            color: #333333;
	            border: 1px solid #e7e7e7;
	            border-radius: rem(30);
	            background: #fff;
	            .img{
	              display: block;
	              position: absolute;
	              left: 0;
	              top: 0;
	              width: rem(60);
	              border-radius: 50%;
	              box-shadow: 0 0 rem(10) rgba(0,0,0,0.1);
	            }
	            &:after{
	              display: block;
	              content: "";
	              position: absolute;
	              right: rem(23);
	              top: 50%;
	              margin-top: rem(-8);
	              width: rem(12);
	              height: rem(17);
	              background: url("../img/icons/icon_arrow_link_gray.png") no-repeat;
	              background-size: contain;
	            }
	          }
	        }
	      }
	    }
	  }
	  .cq-main-bottom{
	    .title{
	      margin-bottom: rem(30);
	      line-height: rem(40);
	      font-size: rem(28);
	      font-weight: 700;
	      color: #333333;
	    }
	    .text-box{
	      p{
	        line-height: rem(36);
	        font-size: rem(22);
	        color: #818286;
	        .link{
	          font-weight: 500;
	          color: #333333;
	          text-decoration: underline;
	        }
	      }
	    }
	    .btn-qna{
	      padding: 0 rem(28);
	      margin-top: rem(40);
	      width: auto;
	      height: rem(70);
	      line-height: rem(66);
	      font-size: rem(26);
	      font-weight: 500;
	    }
	  }
	}
	
	//매장찾기
	.customer-store{
	  position:relative;
	  .btn-store-map{
	    display: block;
	    position: relative;
	    height: rem(98);
	    text-align: center;
	    line-height: rem(94);
	    font-size: rem(32);
	    font-weight: 700;
	    color: #bcbdc1;
	    background: #f5f5f5;
	    &:after{
	      display: block;
	      content: "";
	      position: absolute;
	      right: rem(50);
	      top: 50%;
	      margin-top: rem(-17);
	      width: rem(20);
	      height: rem(31);
	      background: url("../img/icons/icon_arrow_back.png") no-repeat;
	      background-size: contain;
	      transform: rotate(-90deg);
	      opacity: 0.4;
	    }
	    &.active{
	      color: #333;
	      &:after{
	        transform: rotate(90deg);
	        opacity: 1;
	      }
	    }
	  }
	  .store-list-wrap{
	    padding: rem(20) 0 rem(60) 0;
	    overflow: hidden;
	    overflow-y: auto;
		height:auto;
		&:not(.active) {
			height:0;
		}
	  }
	  .store-list-box{
	    padding-top: rem(40);
	    .search-box{
        position: relative;
        margin-bottom: rem(40);
        .btn-search{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: rem(80);
          height: rem(80);
          z-index: 10;
          opacity: 0.5;
        }
      }
	  .form-box {
		  display: flex;
		  margin-bottom: rem(40);
		  .select-box {
			  margin-right:1%;
		  }
		  .search-box {
			border: 1px solid #e7e7e7;
			border-radius: rem(10);
			margin:0;
		  }
		  .btn-search {
			  position: relative;
			  width: rem(76);
			  height: rem(76);
		  }
	  }
      .search-result{
        .result-total{
          line-height: rem(80);
          font-size: rem(28);
          font-weight: 700;
          color: #333333;
          border-bottom: 1px solid #e7e7e7;
        }
      }
	  }
	  .store-map-wrap{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: rem(130);
      overflow: hidden;
	  height: calc(100vh - #{rem(440)});
      #map{
        width: 100%;
        height: 100%;	
      }
    }
    .btn-map-open{
      display: block;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: rem(130);
      line-height: rem(136);
      text-align: center;
      font-size: rem(36);
      font-weight: 700;
	  z-index:11;
    }
	}
}

.store-result-list{
  li{
    position: relative;
    padding: rem(30) rem(140) rem(30) rem(20);
    border-bottom: 1px solid #e7e7e7;
    .name{
      margin-bottom: rem(15);
      line-height: rem(40);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
    }
    .address{
      margin-bottom: rem(25);
      line-height: rem(36);
      font-size: rem(22);
      color: #818286;
    }
    .tel{
      @include font-manrope(700);
      display: inline-block;
      line-height: rem(30);
      font-size: rem(24);
      color: #6b8138;
    }
    .btn-map{
      display: block;
      position: absolute;
      right: rem(50);
      top: rem(80);
      z-index: 10;
    }
  }
}

.notice-detail{
	.notice-board-title {
		padding: rem(50) rem(40);
		vertical-align: middle;
		text-align: left;
		border-bottom: rem(10) solid #f5f5f5;
		.title-header{
			display: flex;
			justify-content: space-between;
			margin-bottom: rem(20);
			p {
				line-height: rem(28);
				font-size: rem(20);
				color: #818286;
			}
			
			.date {
				.category{
					margin-right: rem(20);
				}
			}
		}

		.title {
			// @include ellipsen(2);
			display: inline-block;
			font-size: rem(24);
			font-weight: 500;
		}
	}
	.notice-content{
		padding: rem(50) rem(40);
		font-size: rem(22);
		line-height: 1.5;
	}
}
.map {
	background-color: rgba(0,0,0,.2);
}

.event-comment-wrap{
  margin-top: rem(80);
  .comment-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(40);
    height: rem(100);
    background: #f8f8f8;
    .btn-comment{
      height: rem(100);
    }
    .total{
      font-size: rem(26);
      line-height: 1;
      color: #333333;
      b{
        font-weight: 700;
      }
    }
    .btn-more{
      display: block;
      line-height: 1;
      font-size: rem(26);
      font-weight: 500;
      color: #58595b;
      .icon{
        margin: rem(-2) 0 0 rem(10);
      }
    }
  }
  .comment-thumb-list{
    margin-top: rem(60);
    li{
      margin-top: rem(20);
      &:first-child{
        margin-top: 0;
      }
    }
    .btn-comment{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .img-slot{
        display: block;
        flex: 0 0 rem(160);
        border-radius: rem(10);
        overflow: hidden;
        img{
          display: block;
          width: 100%;
		  height:rem(160);
		  object-fit: cover;
        }
      }
      .text-slot{
        display: block;
        flex: 1 1 0;
        padding-left: rem(40);
        .info{
          display: flex;
          align-items: center;
          margin-bottom: rem(18);
          span{
            position: relative;
            padding-left: rem(36);
            line-height: 1;
            font-size: rem(26);
            font-weight: 500;
            color: #333333;
            &:before{
              display: block;
              content: "";
              position: absolute;
              left: rem(18);
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: rem(20);
              background: #e7e7e7;
            }
            &:first-child{
              padding-left: 0;
              &:before{
                display: none;
              }
            }
          }
        }
        .text{
          display: block;
          span{
            @include ellipsen(3);
            display: block;
            line-height: 1.5em;
            font-size: rem(22);
            color: #58595b;
          }
        }
      }
    }
	&.comment-list {
		.btn-comment .text-slot {
			padding-left:0;
		}
		> li {
			margin-bottom:rem(30);
		}
	}
  }
}
