@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

//Noto
// @font-face {
// 	font-family: 'Noto Sans KR';
// 	src: url('../../fonts/Noto/notokr-light.woff') format('woff'), url('../../fonts/Noto/notokr-light.woff2') format('woff2');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Noto Sans KR';
// 	src: url('../../fonts/Noto/notokr-regular.woff') format('woff'),
// 		url('../../fonts/Noto/notokr-regular.woff2') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Noto Sans KR';
// 	src: url('../../fonts/Noto/notokr-medium.woff') format('woff'),
// 		url('../../fonts/Noto/notokr-medium.woff2') format('woff2');
// 	font-weight: 500;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Noto Sans KR';
// 	src: url('../../fonts/Noto/notokr-bold.woff') format('woff'), url('../../fonts/Noto/notokr-bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// }

//Manrope
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-Light.woff') format('woff'), url('../../fonts/Noto/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-Regular.woff') format('woff'), url('../../fonts/Noto/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-Medium.woff') format('woff'), url('../../fonts/Noto/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-Bold.woff') format('woff'), url('../../fonts/Noto/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-ExtraBold.woff') format('woff'), url('../../fonts/Noto/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}