// .content + footer{
  // margin-top: rem(-80);
// }

//푸터
footer{
  position: relative;
  padding-bottom: rem(180);
  background: #f9f9f9;
  z-index: 80;
  .footer-notice{
    padding: rem(40) 0;
    background: #3c3e26;
    li{
      position: relative;
      padding-left: rem(140);
      margin-top: rem(10);
      &:first-child{
        margin-top: 0;
      }
      .label{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        line-height: rem(40);
        font-size: rem(24);
        font-weight: 500;
        color: #ffffff;
      }
      .btn-notice{
        @include ellipsen(1);
        display: block;
        position: relative;
        padding-right: rem(20);
        line-height: rem(40);
        font-size: rem(20);
        color: rgba(255,255,255,0.5);
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: rem(-9);
          width: rem(12);
          height: rem(18);
          background: url("../img/icons/icon_arrow_white.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
  }
  .footer-wrap{
    position: relative;
    padding: rem(50) 0;
    .fnb, .snb{
      display: flex;
      border-bottom: 1px solid #e7e7e7;
      li{
        flex: 1;
        padding: rem(15) 0;
        text-align: center;
        .btn-menu{
          display: inline-block;
          padding: 0 rem(20);
          line-height: rem(50);
          font-size: rem(24);
          font-weight: 700;
          color: #333;
        }
      }
    }
    
    .snb{
      border-top: 1px solid #e7e7e7;
      li{
        .btn-menu{
          font-size: rem(20);
          font-weight: 500;
          &.privacy{
            font-weight: 700;
            color: #333;
          }
        }
      }
    }
    
    .footer-address{
      margin: rem(35) 0;
      p{
        line-height: rem(36);
        font-size: rem(20);
        color: #58595b;
        .link{
          margin-left: rem(15);
          font-weight: 700;
          color: #8bb23f;
          text-decoration: underline;
        }
      }
    }
    .copyright{
      padding-right: rem(70);
      margin-top: rem(30);
      @include font-manrope(400);
      line-height: rem(30);
      font-size: rem(20);
      color: #58595b;
      word-break: keep-all;
      letter-spacing: 0;
    }
    .btn-top{
      display: block;
      position: absolute;
      right: rem(30);
      bottom: rem(30);
      width: rem(60);
      height: rem(60);
      border-radius: 50%;
      background: #bcbdc1;
      &:after{
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(24);
        height: rem(15);
        background: url("../img/icons/icon_top_arrow.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
}

.footer-menu{
  @include transtion(0.3s);
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: rem(30);
  width: 100%;
  height: rem(160);
  background: #f3f5f2;
  z-index: 90;
  .fnb{
    display: flex;
    li{
      flex: 1;
    }
    .btn-menu{
      display: block;
      position: relative;
      margin: 0 auto;
      padding-top: rem(60);
      width: rem(100);
      height: rem(100);
      text-align: center;
      @include font-manrope(700);
      font-size: rem(22);
      line-height: rem(30);
      .icon-box{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: rem(60);
      }
    }
    .btn-recent{
      display: block;
      margin: 0 auto;
      margin-top: rem(10);
      width: rem(71);
      height: rem(71);
      img{
        display: block;
        width: 100%;
      }
    }
  }
  .btn-top{
    display: block;
    position: absolute;
    right: rem(30);
    bottom: rem(180);
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    background: #bcbdc1;
    &:after{
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(24);
      height: rem(15);
      background: url("../img/icons/icon_top_arrow.png") no-repeat center center;
      background-size: contain;
    }
  }
}

.pd-footer-menu{
  padding: 0;
  height: rem(130);
  .btn-list{
    display: flex;
  }
  a, .btn{
    flex: 1;
    display: block;
    position: relative;
    height: rem(130);
    line-height: rem(130);
    font-size: rem(36);
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background: #f5f5f5;
  }
  .btn-wish{
    flex: 0 0 rem(160);
    background: #f7fafc;
    &.active{
      .icon{
        @extend .icon-wish-check;
      }
    }
  }
  .btn.green{
    background: #6b8138;
  }
  .btn.gray{
    background: #85a495;
  }
  .btn.light-gray{
    background: #f5f5f5;
    color: #333333;
  }
  .btn.black{
    background: #31291c;
  }
  .btn-alarm.black{
    background: #333333;
  }
  .btn-alarm.on{
    background: #89b03f;
  }
  .btn-soldout.gray{
    color: #818286;
    background: #f5f5f5;
  }
  .text {
    display: block;
    text-align: center;
    color: #333;
    background: #f5f5f5;
    flex: 1;
    display: block;
    position: relative;
    height: rem(130);
    line-height: rem(130);
    font-size: rem(36);
    font-weight: 700;
  }
}

//플로팅 메뉴
#float-menu{
  position: fixed;
  right: rem(40);
  bottom: rem(75);
  z-index: 100;
  .btn-menu{
    @include transtion(0.2s);
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    background: #bcbdc1;
    z-index: 10;
  }
  .btn-menu.float{
    bottom: rem(95);
    .line{
      @include transtion(0.2s);
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: rem(-2) 0 0 rem(-15);
      width: rem(30);
      height: rem(4);
      background: #fff;
    }
    .line:nth-child(2){
      transform: rotate(90deg);
    }
    z-index: 11;
  }
  .menu-list{
    position: absolute;
    right: 0;
    bottom: rem(95);
    z-index: 10;
    .btn-menu{
      background: #fff;
      opacity: 0;
    }
  }
  
  .float-mask{
    @include transtion(0.2s);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
  
  &.active{
    .menu-list{
      z-index: 13;
      .btn-menu{
        opacity: 1;
      }
    }
    .float-mask{
      opacity: 1;
      visibility: visible;
    }
    .btn-menu.float{
      .line{
        background: #333333;
      }
      .line:nth-child(1){
        transform: rotate(45deg);
      }
      .line:nth-child(2){
        transform: rotate(135deg);
      }
      background: #fff;
    }
    .btn-menu.menu{
      bottom: rem(95);
    }
    .btn-menu.wish{
      bottom: rem(190);
    }
    .btn-menu.my{
      bottom: rem(285);
    }
    .btn-menu.recent{
      bottom: rem(380);
    }
  }
}

.footer-btn {
  width:100%;
  display: flex;
  position:fixed;
  bottom:0;
  z-index: 2;
  a {
    flex: 1;
    height: rem(130);
    line-height: rem(130);
    font-size: rem(36);
    font-weight: 700;
  }
}