$start: 0;
$end: 30;
@for $i from $start through $end {
  .mb#{$i * 10} {
    margin-bottom: #{rem($i * 10)}!important;
  }
  .mt#{$i * 10} {
    margin-top: #{rem($i * 10)}!important;
  }
  .ml#{$i * 10} {
    margin-left: #{rem($i * 10)}!important;
  }
  .mr#{$i * 10} {
    margin-right: #{rem($i * 10)}!important;
  }
}

.btn-round{
  border-radius: rem(50);
  &.btn-width, &.height{
    border-radius: rem(45);
  }
}
.btn-round, .btn-box{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // padding-top: rem(5);
  width: rem(330);
  height: rem(90);
  font-size: rem(34);
  font-weight: 700;
  background: #fff;
  letter-spacing: rem($letter-spacing-default);
  &.height{
    height: rem(85);
    font-size: rem(36);
  }
  &.md{
    height: rem(60);
    font-size: rem(26);
    font-weight: 500;
  }
  &.btn-width{
    width: 100%;
    height: rem(100);
    font-size: rem(36);
  }
  &.center{
    display: flex;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  &.fill{
    &.black{
      color: #fff;
      background: #31291c;
      // background: #333;
    }
    &.gray{
      color: #333;
      background: #f5f5f5;
    }
    &.darkgray{
      color: #fff;
      background: #818286;
    }
    &.green{
      color: #fff;
      background: $btn-color-green;
    }
  }
  &.outline{
    &.black{
      // color: #31291c;
      // border: 1px solid #31291c;
      color: #333;
      border: 1px solid #333;
      background: #fff;
    }
    &.gray{
      color: #58595b;
      border: 1px solid #e7e7e7;
      background: #fff;
    }
    &.green{
      color: #58595b;
      border: 1px solid #89b03f;
      background: #fff;
    }
    &.black-line {
      color: #333;
      border: 1px solid #333;
      background:transparent;
    }
  }
}
.btn-modify{
  display: inline-block;
  padding: 0 rem(10);
  height: rem(40);
  font-size: rem(28);
  font-weight: 500;
  color: #333333;
}
.btn-wrap{
  display: flex;
  justify-content: space-between;
  .btn{
    flex: 1 1 50%;
  }
}

.content-title{
  position: relative;
  margin: rem(70) 0 rem(40) 0;
  .title{
    line-height: 1;
    font-size: rem(46);
    font-weight: 700;
    color: #333;
    &.manrope {
      @include font-manrope(700);
      font-size:rem(50);
      letter-spacing: 0;
    }
    &.sm {
      font-size:rem(36);
      b {
        font-size:rem(40);
        @include font-manrope(700);
      }
    }
  }
  .btn-drop-menu{
    display: inline-block;
    line-height: rem(50);
    font-size: rem(36);
    font-weight: 700;
    color: #333;
    .icon{
      margin: rem(-4) 0 0 rem(10);
    }
  }
  .desc{
    margin-top: rem(10);
    line-height: rem(46);
    font-size: rem(30);
    color: #818286;
  }
  .text{
    margin-top: rem(10);
    line-height: rem(30);
    font-size: rem(24);
    color: #818286;
    &.manrope {
      @include font-manrope(400);
      letter-spacing: 0;
    }
  }
  .btn-more{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: rem(30);
    font-size: rem(24);
    font-weight: 500;
    color: #58595b;
    .icon{
      margin: rem(-4) 0 0 rem(10);
    }
  }
}
.content-title + div.content-line{
  margin-top: rem(0);
}

.content-width{
  position: relative;
  margin-left: rem(-40)!important;
  width: calc(100% + #{rem(80)});
}

.content-line{
  margin-top: rem(60);
  margin-bottom: rem(60);
  height: rem(10);
  background: #f5f5f5;
  &.sm{
    height: 1px;
    background: #e7e7e7;
  }
  &.size2 {
    margin-top:rem(120);
    margin-bottom:rem(120);
  }
}

.content-line-sm{
  margin-top: rem(50);
  margin-bottom: rem(50);
  height: 1px;
  background: #e7e7e7;
}

.content-desc-top{
  text-align: center;
  .icon-box{
    height: rem(140);
    img{
      display: block;
      margin: 0 auto;
      width: rem(101);
    }
  }
  p{
    line-height: rem(32);
    font-size: rem(26);
    color: #333333;
    letter-spacing: rem($letter-spacing-text);
    &.title{
      margin-bottom: rem(24);
      line-height: rem(54);
      font-size: rem(36);
      font-weight: 700;
      letter-spacing: rem($letter-spacing-text);
    }
  }
}

.img-width-box{
  display: block;
  img{
    display: block;
    width: 100%;
  }
}

.drop-menu{
  display: inline-block;
  position: relative;
  .btn-menu{
    display: inline-block;
    position: relative;
    padding: 0 rem(25) 0 rem(10);
    line-height: rem(50);
    font-size: rem(24);
    font-weight: 500;
    color: #333333;
  }
  .select-box{
    height: rem(50);
    width: rem(180);
    border: 0;
    background-color: transparent;
    font-size: rem(26);
  }
}
.menu-arrow:after{
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: rem(-6);
  width: rem(17);
  height: rem(12);
  background: url("../img/icons/icon_arrow_down.png") no-repeat;
  background-size: contain;
}

.check-box{
  display: inline-block;
  position: relative;
  padding-left: rem(54);
  height: rem(60);
  .check{
    position: absolute;
    left: 0;
    top: rem(10);
    width: rem(40);
    height: rem(40);
    margin:0;
    opacity: 0;
    z-index: 10;
  }
  .icon{
    display: block;
    position: absolute;
    left: 0;
    top: rem(10);
    width: rem(40);
    height: rem(40);
    border: rem(2) solid #e7e7e7;
    border-radius: rem(10);
    background: #fff;
  }
  .text{
    display: block;
    padding-right: rem(10);
    line-height: rem(60);
    font-size: rem(28);
    font-weight: 500;
    color: #bcbdc1;
  }
  .text .icon-good{
    margin: rem(-4) rem(4) 0 0;
  }
  .text .icon-good + b{
    font-size: rem(22);
    font-weight: 700;
    color: #000000!important;
  }
  .check:checked + span.icon{
    border: rem(3) solid #333;
    background: #fff url("../img/icons/icon_check.png") no-repeat center center;
    background-size: contain;
  }
  .check:checked + span.icon + span.text{
    color: #333;
  }
}

.graph-bar{
  display: inline-block;
  position: relative;
  margin: rem(11) 0;
  width: rem(180);
  height: rem(8);
  vertical-align: middle;
  border-radius: rem(4);
  background: #dddddd;
  .bar{
    position: absolute;
    left: 0; 
    top: 0;
    width: 0;
    height: rem(8);
    border-radius: rem(4);
    background: #89b03f;
  }
  & + p.point{
    display: inline-block;
    margin-top: 1px;
    margin-left: rem(15);
    vertical-align: middle;
    line-height: rem(30);
    font-size: rem(24);
    font-weight: 500;
    color: #333333;
  }
}

.form-content{
  .form-title-box{
    display: flex;
    margin: rem(50) 0 rem(20) 0;
    align-items: center;
    justify-content: space-between;
    &:first-child{
      margin-top: 0;
    }
    .title{
      line-height: rem(40);
      font-size: rem(30);
      font-weight: 700;
      color: #333;
    }
  }
  .form-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.form-check{
      .select-box{
        flex: 1;
        margin-right: rem(40);
      }
    }
    &.form-btn{
      .input-text{
        flex: 1;
        margin-right: rem(20);
        width: auto;
      }
      .btn{
        width: rem(160);
      }
    }
    &.form-phone{
      >*{
        flex: 1;
        margin-right: rem(20);
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &.form-zip{
      justify-content: normal;
      .input-text{
        flex: 0;
        width: rem(200);
      }
    }
    &.form-email{
      position: relative;
      .at{
        flex: 0 0 rem(15);
        display: inline-block;
        margin: 0 rem(10);
      }
      .input-text{
        flex: 1;
      }
      .select-box{
        flex: 0 0 40%;
      }
      .dir-wrap{
        display: none;
        flex: 0 0 40%;
        .dir-input{
          margin-right: 0;
          padding-right: rem(40);
        }
        .close-dir-input{
          position: absolute;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: rem(30);
          height: rem(30);
          right: rem(14);
          top: 50%;
          transform: translateY(-50%);
        }
      }
      
    }
    &.form-refund{
      .refund-desc{
        margin: 0 auto 0 rem(25)!important;
      }
    }
  }
  
  .form-btn-box{
    display: flex;
    margin-top: rem(60);
    .btn-box, .btn-round{
      flex: 1;
      margin-right: rem(20);
      &:last-child{
        margin-right: 0;
      }
      &button {
        font-family: 'Noto Sans KR';        
      }
    }
  }
}

.input-text{
  @include font-manrope(400);
  padding: 0 rem(20);
  width: 100%;
  height: rem(80);
  font-size: rem(24);
  color: #58595b;
  border: 1px solid #e7e7e7;
  border-radius: rem(10);
  background: #fff;
  &.input-sm{
    width: rem(100);
  }
  &.input-md{
    width: rem(200);
  }
  &.input-md2{
    width: rem(250);
  }
  &.input-lg{
    width: rem(500);
  }
  &.input-lgs{
    width: rem(460);
  }
  &.input-xs{
    width: rem(700);
  }
  &.input-half{
    width: 48%;
  }
  &.input-full{
    width: 100%;
  }
}
.comment-box-header{
  display: flex;
  .title{
    flex: 1 1 70%;
  }
  .text-count{
    width: auto;
  }
}
.text-count{
  margin-top: rem(20);
  width: 100%;
  text-align: right;
  line-height: rem(40);
  font-size: rem(24);
  color: #818286;
}
textarea.input-text{
  padding: rem(15) rem(20);
  height: rem(380);
  line-height: rem(36);
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  box-sizing: border-box;
  &.height-md{
    height: rem(230);
  }
}
.input-text:read-only{
  background: #f9f9f9;
}
.input-text.alignr{
  text-align: right;
}
.input-text.alignc{
  text-align: center;
}
.file-box{
  position: relative;
  overflow: hidden;
  .input-file{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(80);
    opacity: 0;
    z-index: 10;
  }
  .btn-file{
    display: block;
    height: rem(80);
    text-align: center;
    line-height: rem(76);
    font-size: rem(34);
    font-weight: 700;
    color: #58595b;
    border: 1px solid #e7e7e7;
    border-radius: rem(40);
  }
  .desc{
    margin-top: rem(15);
    width: 100%;
    text-align: right;
    line-height: rem(40);
    font-size: rem(24);
    color: #818286;
  }
  .upload-list{
    margin-top: rem(40);
    .upload-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: rem(20);
      &:first-child{
        margin-top: 0;
      }
      .info-box{
        flex: 1;
        position: relative;
        padding: 0 rem(60) 0 rem(30);
        height: rem(60);
        border: 1px solid #e7e7e7;
        border-radius: rem(30);
        .file-name{
          @include ellipse;
          @include font-manrope(500);
          max-width: rem(400);
          line-height: rem(56);
          font-size: rem(26);
          color: #58595b;
          .icon{
            margin: rem(-3) rem(10) 0 0;
          }
        }
        .btn-file-delete{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: rem(60);
          height: rem(60);
        }
      }
      .file-size{
        @include font-manrope(500);
        padding-left: rem(30);
        min-width: rem(120);
        line-height: 1;
        text-align:right;
        font-size: rem(24);
        color: #818286;
      }
    }
  }
}

//셀렉트 박스
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-box{
  padding: 0 rem(30) 0 rem(10);
  height: rem(80);
  font-size: rem(28);
  color: #333;
  font-weight: 500;
  border: 1px solid #e7e7e7;
  border-radius: rem(10);
  background: #fff;
  background-image: url('../img/icons/icon_select_arrow.png');
  background-position: right rem(20) center;
  background-repeat: no-repeat;
  background-size: rem(13) rem(8);
  font-family: 'Noto Sans KR';
  font-weight: 500;
  text-indent: rem(10);
  &.line{
    padding-left: 0;
    border: 0;
    border-bottom: rem(2) solid #e7e7e7;
    border-radius: 0;
  }
  &.select-full{
    width: 100%;
  }
  &.select-half{
    width: 48%;
  }
  &.select-hide{
    display: none;
  }
  option{
    
  }
}
.refund-desc{
  margin-bottom: rem(30);
  line-height: rem(30);
  font-size: rem(24);
  font-weight: 500;
  color: #ed1c24;
}
.select-drop-down{
  position: relative;
  display: inline-block;
  .btn-select{
    @include ellipse;
    display: inline-block;
    position: relative;
    padding:0 rem(50) 0 rem(20);
    height: rem(80);
    line-height: rem(76);
    font-size: rem(26);
    color: #333;
    font-weight: 500;
    border: 1px solid #e7e7e7;
    border-radius: rem(10);
    white-space: nowrap;
    &:after{
      display: block;
      content: "";
      position: absolute;
      right: rem(15);
      top: 50%;
      margin-top: rem(-6);
      width: rem(17);
      height: rem(12);
      background: url('../img/icons/icon_arrow_down.png') no-repeat center center;
      background-size: contain;
    }
    &.placeholder{
      font-weight: 400;
      color: #bcbdc1;
    }
  }
  &.active{
    z-index: 20;
    .btn-select{
      border-color: #333;
      border-bottom-color: #fff;
      border-radius: rem(12) rem(12) 0 0;
      &:after{
        transform: rotate(180deg);
      }
    }
    .select-drop-list{
      display: block;
    }
  }
  &.alignt{
    .btn-select:after{
      transform: rotate(180deg);
    }
    &.active .btn-select:after{
      transform: rotate(0deg);
    }
    .btn-select{
      border-color: #333;
      border-top-color: #fff;
      border-radius: 0 0 rem(10) rem(10);
    }
    .select-drop-list{
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: rem(-10);
      padding: rem(13) 0 0 0;
      border: 1px solid #333333;
      border-bottom: 0;
      border-radius: rem(10) rem(10) 0 0;
    }
  }
  .select-drop-list{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: rem(-10);
    padding: 0 0 rem(13) 0;
    width: 100%;
    border: 1px solid #333333;
    border-top: 0;
    border-radius: 0 0 rem(10) rem(10);
    background: #fff;
    .btn-menu{
      display: block;
      padding: 0 rem(20);
      line-height: rem(50);
      font-size: rem(24);
      color: #58595b;
      font-weight: 500;
      &.active{
        color: #333;
        font-weight: 700;
      }
    }
  }
  &.select-full{
    width: rem(100);
    .btn-select{
      width: rem(100);
      min-width: 0;
    }
  }
  &.select-half{
    width: 48%;
    .btn-select{
      width: 100%;
    }
  }
}

//결제 내역
.payment-info-area{
  .table-box{
    padding: rem(20) rem(35) 0 rem(35);
    border-radius: rem(20);
    background: #f7fafc;
  }
  .payment-table{
    width: 100%;
    p, .btn-detail-popup{
      line-height: rem(40);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
    }
    .btn-detail-popup{
      display: inline-block;
      .icon{
        margin-left: rem(10);
      }
    }
    .price{
      @include font-manrope(500);
      letter-spacing: rem($letter-spacing-price);
      b{
        margin-right: rem(4);
        font-size: rem(30);
        font-weight: 700;
      }
    }
    td{
      padding: rem(5) 0;
      text-align: left;
    }
    td.payment{
      text-align: right;
    }
    tr.sale .price{
      color: #ed1c24;
    }
    tr:has(+ tr.total){
      td{
        padding-bottom: rem(20);
      }
    }
    tr.total{
      td{
        padding: rem(20) 0;
        border-top: rem(2) dashed #e7e7e7;
      }
      p{
        font-size: rem(30);
        font-weight: 700;
      }
      p.price{
        font-size: rem(28);
        b{
          font-size: rem(38);
        }
      }
    }
    tr.agree{
      p{
        line-height: rem(36);
        font-size: rem(24);
        color: #58595b;
        &+p {
          margin-top:rem(10)
        }
      }
    }
  }
  .more-text{
    margin-top: rem(40);
    text-align: center;
    line-height: rem(30);
    font-size: rem(26);
    font-weight: 500;
    color: #333;
    .icon{
      margin: rem(-4) rem(14) 0 0;
    }
    .green {
      color:#89b03f;
    }
  }
  .payment-btn{
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);
    .btn-round{
      flex: 1;
      margin-right: rem(20);
      width: auto;
      // height: rem(90);
      // font-size: rem(32);
      // font-weight: 700;
      // border-radius: rem(45);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .gift-total{
    display: flex;
    justify-content: space-between;
    padding: 0 rem(35);
    margin-top: rem(50);
    height: rem(100);
    border: 1px solid #e7e7e7;
    border-radius: rem(20);
    p{
      line-height: rem(98);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
      .total{
        margin-right: rem(6);
        font-size: rem(30);
        @include font-manrope(700);
      }
    }
  }
}

.page-btn-box{
  display: flex;
  justify-content: space-between;
  margin-top: rem(40);
  a{
    flex: 1;
    margin-right: rem(20);
    &:last-child{
      margin-right: 0;
    }
  }
}

.dot-list{
  p{
    position: relative;
    margin-top: rem(15);
    padding-left: rem(16);
    line-height: rem(32);
    font-size: rem(24);
    color: #818286;
    &:first-child{
      margin-top: 0;
    }
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: rem(13);
      width: rem(6);
      height: rem(6);
      border-radius: 50%;
      background: #bcbdc1;
    }
  }
}

.loading-box{
  @include transtion(0.2s);
  // display: none;
  opacity: 0;
  visibility: hidden;
  margin-top: rem(80);
  height: rem(50);
  &.active{
    // display: block;
    opacity: 1;
    visibility: visible;
    .icon{
      -webkit-animation: animation-loading 1.2s infinite cubic-bezier(0.7, 0.3, 0.9, 1);
      animation: animation-loading 1.2s infinite cubic-bezier(0.7, 0.3, 0.9, 1);
    }
  }
  .icon{
    display: block;
    margin: 0 auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  &.page-wrap {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(255,255,255,.9);
    z-index:100;
    margin-top:0;
    .icon {
      position:absolute;
      left:50%;
      top:50%;
      margin:rem(-40) 0 0 rem(-40);
      width: rem(80);
      height: rem(80);
    }
  }
}
@-webkit-keyframes animation-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animation-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//툴팁
.btn-tooltip-msg{
  position: relative;
  z-index: 20;
  &.active{
    .tooltip-msg-popup{
      opacity: 1;
      visibility: visible;
    }
  }
}
.tooltip-msg-popup{
  @include transtion(0.2s);
  position: absolute;
  left: 50%;
  top: rem(40);
  margin-left: rem(-40);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: rem(12) rem(18);
    line-height: 1;
    font-size: rem(20);
    font-weight: 500;
    color: #333333;
    border: 1px solid #333;
    border-radius: rem(30);
    white-space: nowrap;
    background: #fff;
  }
}
.count-down-time{
  position: relative;
  .time{
    position: absolute;
    right: rem(25);
    top: 50%;
    transform: translateY(-50%);
    @include font-manrope(500);
    color: $fc-emphas;
    font-size: rem(26);
    letter-spacing: rem(-0.05*16);
  }
}