body.scroll{
  &.notibar header{
    top: rem(-374);
  }
  header{
    top: rem(-254);
  }
  .footer-menu:not(.pd-footer-menu){
    bottom: rem(-160);
  }
}

body {
  transition: padding 0.3s;
  letter-spacing: -0.05em;
}

header{
  @include transtion(0.3s);
  position: fixed;
  left: 0;
  top: 0;
  width :100%;
  border-bottom: rem(4) solid #dadada;
  background: #fff;
  z-index: 100;
  &.no_border_bt{
    border-bottom: initial;
  }
  .header-top{
    position: relative;
    height: rem(90);
    .logo{
      position: absolute;
      left: rem(-12);
      top: rem(25);
      padding: rem(10);
    }
    .btn-home{
      display: block;
      position: absolute;
      left: rem(52);
      top: rem(21);
      width: rem(60);
      height: rem(60);
    }
    .btn-back{
      display: block;
      position: absolute;
      left: rem(-24);
      top: rem(21);
      width: rem(60);
      height: rem(60);
    }
    .btn-category{
      display: block;
      position: absolute;
      left: 50%;
      top: rem(21);
      transform: translateX(-50%);
      padding: 0 rem(26);
      height: rem(60);
      line-height: rem(60);
      font-size: rem(36);
      font-weight: 700;
      color: #333333;
      z-index: 110;
      letter-spacing: rem($letter-spacing-text);
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(4);
        top: 50%;
        margin-top: rem(-6);
        width: rem(17);
        height: rem(12);
        background: url("../img/icons/icon_arrow_down.png") no-repeat;
        background-size: contain;
      }
    }
    .hnb{
      display: flex;
      position: absolute;
      right: rem(-14);
      top: rem(21);
      .btn-menu{
        display: block;
        position: relative;
        margin-left: rem(23);
        width: rem(60);
        height: rem(60);
      }
      .put {
        .icon-cart:before {
          content:'';
          position:absolute;
          right:0;
          top:0;
          width:rem(8);
          height:rem(8);
          border-radius: 100%;
          background-color: #89b03f;
        }
      }
    }
  }
  
  //카테고리
  .category-menu{
    @include transtion(0.2s);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    &:after {
      content:'';
      width:100%;
      height: rem(100);
      background:#fff;
      position: absolute;
      left:0;
      top:0;
      z-index:101;
    }
    .menu-wrap{
      @include transtion(0.3s);
      position: absolute;
      left: 0;
      top: rem(-400);
      width: 100%;
      padding: rem(130) rem(30) rem(90) rem(30);
      border-radius: 0 0 rem(60) rem(60);
      background: #fff;
      overflow: hidden;
      opacity: 0;
    }
    .menu-list{
      display: inline-flex;
      flex-wrap: wrap;
      gap: rem(50) 0;
      width: 100%;
      li{
        padding: 0 rem(10);
        width: 20%;
      }
      .btn-menu{
        display: block;
        position: relative;
        padding-top: rem(120);
        height: rem(150);
        line-height: rem(30);
        text-align: center;
        font-size: rem(24);
        font-weight: 500;
        color: #58595b;
        word-break: keep-all;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: rem(-59);
          width: rem(118);
          height: rem(118);
          border-radius: 50%;
          background: #f1f1f5;
        }
        &:after{
          display: block;
          content: "";
          position: absolute;
          left: 50%;
          top: rem(20);
          margin-left: rem(-50);
          width: rem(100);
          height: rem(80);
          background-position: center center!important;
          background-size:contain!important;
        }
        &.skincare:after{
          background: url("../img/icons/icon_category_skin.png") no-repeat center center;
        }
        &.clean:after{
          background: url("../img/icons/icon_category_clean.png") no-repeat center center;
        }
        &.mask:after{
          background: url("../img/icons/icon_category_mask.png") no-repeat center center;
        }
        &.base:after{
        background: url("../img/icons/icon_category_base.png") no-repeat center center;
        }
        &.point:after{
          background: url("../img/icons/icon_category_point.png") no-repeat center center;
        }
        &.suncare:after{
          background: url("../img/icons/icon_category_sun.png") no-repeat center center;
        }
        &.body:after{
          background: url("../img/icons/icon_category_body.png") no-repeat center center;
        }
        &.man:after{
          background: url("../img/icons/icon_category_man.png") no-repeat center center;
        }
        &.cosmetic:after{
          background: url("../img/icons/icon_category_cosmetic.png") no-repeat center center;
        }
        &.set:after{
          background: url("../img/icons/icon_category_set.png") no-repeat center center;
        }
      }
    }
  }
  &.category-open{
    .btn-category:after{
      transform: rotate(180deg);
    }
    .category-menu{
      opacity: 1;
      visibility: visible;
      .menu-wrap{
        top: 0;
        opacity: 1;
      }
    }
    div.header-notibar {
      margin-top:rem(-120);
    }
  }
  
  .header-bottom{
    padding: rem(10) 0 rem(30) 0;
    .title{
      line-height: rem(50);
      font-size: rem(36);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-title);
    }
    .btn-drop-menu{
      display: inline-block;
      line-height: rem(50);
      font-size: rem(36);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-title);
      .icon{
        margin: rem(-4) 0 0 rem(15);
        transform: rotate(180deg);
      }
    }
  }
  .container {
    background-color: #fff;
  }
}

header.sub{
  border-bottom: rem(10) solid #f5f5f5;
}
header.sub + div.content{
  padding-top: rem(190);
}
header.sub.noborder{
  border-bottom: 0;
}
header.noborder:not(.sub){
  height: rem(100);
  border-bottom: 0;
}
header.noborder:not(.sub) + div.content{
  padding-top: rem(100);
  
}

header .gnb, .item-gnb{
  height: rem(88);
  .gnb-slide:not(.swiper-container-initialized){
    .swiper-wrapper{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
  }
  .swiper-slide{
    padding: 0 rem(10);
    width: auto;
  }
  .btn-menu{
    display: block;
    position: relative;
    padding: 0 rem(10);
    line-height: rem(90);
    font-size: rem(34);
    font-weight: 500;
    color: #bcbdc1;
    
    &.btn-promotion{
      color: #6b8138;
    }
    &.active{
      color: #333333;
      &:after{
        display: block;
        content: "";
        position: absolute;
        left: rem(15);
        right: rem(15);
        bottom: 0;
        height: rem(6);
        border-radius: rem(6);
        background: #333;
      }
    }
  }
}

.item-gnb{
  height: rem(56);
  .btn-menu{
    padding: 0 rem(10);
    line-height: rem(56);
    font-size: rem(32);
    &.active{
      color: #333333;
      font-weight: 700;
      &:after{
        left: rem(10);
        right: rem(10);
      }
    }
  }
  &.size2 {
    height:rem(64);
    .btn-menu {
      line-height: rem(64);
    }
  }
  &.manrope {
    @include font-manrope(500);
    .btn-menu {
      font-size: rem(32);
      letter-spacing: 0;
      &.active {
        font-weight:800;
      }
    }
  }
}

//전체메뉴
#header-total-menu{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1001;
  &.active{
    .total-menu{
      left: 0;
      opacity: 1;
    }
  }
  .total-menu{
    @include transtion(0.2s);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    width: rem(650);
    max-width: 86%;
    background: #fff;
    opacity: 0;
    .menu-header{
      padding: rem(70) rem(40) rem(60) rem(40);
      .logo{
        margin-bottom: rem(50);
      }
      .btn-close{
        display: block;
        position: absolute;
        right: rem(35);
        top: rem(60);
        width: rem(60);
        height: rem(60);
      }
      .name{
        line-height: rem(42);
        font-size: rem(32);
        color: #333333;
        b{
          font-weight: 500;
        }
      }
      .info-slot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(40);
        padding: 0 rem(50);
        height: rem(80);
        border-radius: rem(40);
        background: #89b03f;
        .point-box{
          display: flex;
          flex-wrap: wrap;
        }
        p{
          @include font-manrope(700);
          font-size: rem(26);
          color: #fff;
          &.point{
            margin-top: 0;
            margin-left: rem(30);
            font-size: rem(28);
          }
        }
      }
      .btn-slot{
        display: flex;
        .btn{
          margin-right: rem(10);
          width: rem(180);
        }
      }
    }
    .menu-content{
      flex: 1;
      padding: 0 rem(40) rem(40) rem(40);
      overflow: hidden;
      overflow-y: auto;
      scroll-behavior: smooth;
      .gnb-list{
        .list-box{
          margin-top: rem(28);
          &:first-child{
            margin-top: 0;
          }
          &.style2 {
            display: flex;
            justify-content: space-between;
            .btn-call {
              line-height: rem(60);
              font-size: rem(36);
              font-weight: 500;
              color: #333333;
            }
            .btn-gnb {
              min-width:55%;
            }
          }
        }
        .btn-gnb{
          display: block;
          position: relative;
          line-height: rem(60);
          font-size: rem(36);
          font-weight: 500;
          color: #333333;
          &.expand:after{
            display: block;
            content: "";
            position: absolute;
            right: rem(10);
            top: 50%;
            margin-top: rem(-8);
            width: rem(24);
            height: rem(15);
            background: url("../img/icons/icon_arrow_faq.png") no-repeat center center;
            background-size: contain;
            opacity: 0.6;
          }
          &.active{
            color: #89b03f;
            &.expand:after{
              transform: rotate(180deg);
              opacity: 1;
            }
          }
        }
        .gnb-sub{
          display: none;
          padding: rem(25) 0 rem(30) 0;
          li{
            margin-top: rem(18);
            &:first-child{
              margin-top: 0;
            }
          }
          .btn-sub{
            display: block;
            line-height: rem(40);
            font-size: rem(26);
            color: #58595b;
          }
        }
      }
    }
  }
}

//탑 노티 바
// body.scroll{
  // .top-notibar{
    // .notibar-wrap{
      // top: rem(-370);
    // }
  // }
// }
// .top-notibar{
  // position: relative;
  // height: rem(120);
  // z-index: 90;
  // .notibar-wrap{
    // @include transtion(0.3s);
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    // overflow: hidden;
  // }
  // .container{
    // position: relative;
  // }
  // .btn-link{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding: 0 rem(50) 0 rem(15);
    // height: rem(120);
    // img{
      // display: block;
      // max-width: 100%;
    // }
  // }
  // .btn-close{
    // display: block;
    // position: absolute;
    // right: rem(40);
    // top: 50%;
    // transform: translateY(-50%);
    // width: rem(30);
    // height: rem(30);
    // z-index: 10;
  // }
// }
// .top-notibar + header{
  // top: rem(120);
// }

body.notibar{
  padding-top: rem(120);
  .header-notibar {
    margin-top:0;
  }
}
body.popup-open.notibar .category-open {
  .header-notibar {
    margin-top:rem(-120);
  }
}

header .header-notibar{
  position: relative;
  height: rem(120);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-top: rem(-120);
  .container{
    position: relative;
    background:transparent;
  }
  .btn-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(50) 0 rem(15);
    height: rem(120);
    img{
      display: block;
      max-width: 100%;
    }
  }
  .btn-close{
    display: block;
    position: absolute;
    right: rem(40);
    top: 50%;
    transform: translateY(-50%);
    width: rem(30);
    height: rem(30);
    z-index: 10;
  }
}
