.h2-wrap {
	display: flex;

	h2 {
		flex: 1 1 auto;
	}
	.btn-more{
		display: flex;
		align-items: center;
		line-height: 1;
		font-size: rem(24);
		color: $fc-dark-gray;
		.icon-arrow-link{
			margin-left: rem(17);
		}
	}
}