.home-content-wrap{
  .category-visual-area{
    .slider-page-bar{
      .swiper-pagination-bullet{
        background: #fafbfa;
        opacity: 0.7;
        &.swiper-pagination-bullet-active{
          background: #31291c;
        }
      }
    }
  }
  
  .home-category-menu{
    padding-top: rem(50);
    .category-menu{
      .swiper-slide{
        width: auto;
      }
      .category-list {
        display: flex;
        width:100%;
        padding:0 rem(40);
        margin-bottom:rem(48);
        flex-wrap:wrap;
        align-content: space-between;
        .item {
          flex:1 1 rem(120);
          text-align: center;
          min-width:20%;
          &:nth-of-type(n+6) {
            margin-top:rem(26);
          }
          &:nth-of-type(5n) {
           margin-right:0; 
          }
        }
      }
    }
    .btn-menu{
      display: block;
      text-align: center;
      line-height: rem(30);
      font-size: rem(24);
      font-weight: 500;
      color: #58595b;
      .icon-box{
        display: block;
        position: relative;
        margin: 0  auto rem(17);
        width: rem(120);
        height: rem(120);
        border-radius: 50%;
        background: #f9f9fc;
        img{
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: rem(80);
        }
      }
    }
  }
  
  .home-content{
    margin-top: rem(80);
    .content-title{
      margin-top: 0;
    }
    .item-gnb .swiper-slide{
      padding: 0 rem(8);
    }
  }
  
  .home-time-special{
    margin-top:rem(120);
    margin-bottom:rem(120);
    padding: rem(55) 0 rem(75) 0;
    background: #f9f9fc;
    .time-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: rem(20);
      border-bottom: 1px solid #e7e7e7;
      .title{
        font-size: rem(50);
        color: #333333;
        @include font-manrope(700);
        .icon{
          margin: rem(-10) 0 0 rem(10);
        }
      }
      .time-box{
        position: relative;
        display: flex;
        align-items: center;
        width:rem(346);
        height:rem(80);
        border-radius: rem(20);
        overflow: hidden;
        box-shadow: 0 0 rem(40) rgba(0,20,43,0.17);
        background:linear-gradient(to right, #8bb23f, #aec952);
        background-repeat: no-repeat;
        background-position: top right;
        background-size:0;
        transition: all 0.6s ease-in-out;
        &.active {
          background-size:100%;
          .time-bg {
            transition: all 0.6s ease-in-out 0.6s;
          }	
        }
        .icon-timer {
          position: relative;
          z-index: 1;
          margin-left:rem(18);
        }
        .due-date{
          position: relative;
          z-index: 1;
          padding-right: rem(22);
          font-size: rem(20);
          @include font-manrope(800);
          color:#31291c;
          float: right;
          &::after {
            content:'HOT DEAL';
            display: block;
            font-size: rem(16);
          }
        }
        .time-bg {
          position:absolute;
          width:0;
          height:100%;
          left:0;
          top:0;
          background:#fff;
          z-index:0;
          transition: all 0.3s;
        }
      
				.time{
					position: relative;
					z-index: 1;
					@include font-manrope(700);
					margin-left:rem(22);
					flex: 1 1 auto;
					&:before {
						content:'남은시간';
						display: block;
						font-size:rem(16);
					}
					> span{
						font-size: rem(20);
						line-height: 1;
					}
				}
      }
    }
    
    .time-bottom{
      padding-top: rem(50);
      .time-thumb{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem(60);
        .btn-time{
          @include transtion(0.2s);
          display: block;
          position: relative;
          margin: 0 rem(5);
          width: rem(100);
          height: rem(100);
          border-radius: rem(10);
          background: #fff;
          overflow: hidden;
          opacity: 1;
          &:after{
            @include transtion(0.2s);
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 2;
            opacity: 0;
          }
          &.active{
            &:after{
              opacity: 0.3;
            }
          }
          img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .sold-out {
      .img-slot:after {
        display: none;
      }
      .btn-slot {
        position:relative;
        &:after {
          content:'품절되었습니다.';
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 20.625rem;
          height: 5.625rem;
          font-size: 2.125rem;
          font-weight: 700;
          letter-spacing: -0.075rem;
          color: #bcbdc1;
          border: 1px solid #e7e7e7;
          background: transparent;
          height: 3.75rem;
          font-size: 1.625rem;
          font-weight: 500;
          border-radius: 3.125rem;
        }
        a {
          display: none;
        }
      }
    }
  }
  
  .home-ranking{
    .content-title{
      .title{
        img{
          display: inline-block;
          margin: rem(-10) rem(6) 0 0;
          height: rem(40);
          vertical-align: middle;
        }
        b{
          @include font-manrope(800);
          font-size: rem(50);
          letter-spacing: 0.03em;
        }
      }
    }
    .item-gift-list{
      .item-box{
        position: relative;
        margin: rem(20) 0 0 ;
        border-radius: 0;
        &:first-child {
          margin-top:rem(30);
        }
        .rank{
          @include font-manrope(700);
          display: block;
          position: absolute;
          left: 0;
          top:0;
          width: rem(44);
          height:rem(44);
          text-align: center;
          line-height: rem(44);
          font-size: rem(24);
          color: #fff;
          z-index: 2;
          background-color: #6b8138;
          border-radius: rem(12) 0 rem(12) 0 ;
        }
        // &:nth-child(1):before{
        //   display: block;
        //   content: "";
        //   position: absolute;
        //   left: rem(3);
        //   top: 50%;
        //   transform: translateY(-50%);
        //   margin-top: rem(-36);
        //   @include icon;
        //   width: rem(31);
        //   height: rem(29);
        //   background-image: url('../img/icons/icon_rank_crown.png');
        // }
      }
    }
    
    .ranking-tab-list{
      position: relative;
      overflow: hidden;
      .ranking-list:not(.active) {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }
      .img-slot {
        flex: 0 0 rem(150);
        width:rem(150);
        height:rem(150);
      }
      .info-slot {
        margin-left:rem(30);
      }
      .pd-name{
        @include ellipsen(2);
        line-height: rem(38);
        margin-bottom:rem(20);
      }
    }
  }
  
  .home-bnr{
    margin-top:rem(100);
    .btn-link{
      display: block;
      img{
        display: block;
        width: 100%;
      }
    }
    .btn-bnr{
      display: block;
      position: relative;
      height: rem(300);
      background-position: center center!important;
      background-size: cover!important;
      .text-box{
        display: block;
        position: absolute;
        left: rem(40);
        top: 50%;
        transform: translateY(-50%);
        .sub-title{
          display: block;
          margin-bottom: rem(4);
          line-height: rem(40);
          font-size: rem(34);
          font-weight: 500;
          color: #333333;
        }
        .title{
          @include font-manrope(800);
          display: block;
          margin-bottom: rem(10);
          line-height: rem(60);
          font-size: rem(50);
          color: #6b8138;
        }
        .desc{
          display: block;
          line-height: rem(30);
          font-size: rem(18);
          font-weight: 500;
          color: #333333;
        }
      }
      .icon-arrow{
        display: block;
        position: absolute;
        right: rem(40);
        bottom: rem(30);
        width: rem(60);
        height: rem(60);
        border-radius: 50%;
        background: rgba(0,0,0,0.34);
      }
    }
  }
  
  .home-brand-line{
    margin-top:rem(120);
    .brandline-slide-area{
      position: relative;
      padding-bottom: rem(60);
      .content-title{
        .title {
          @include font-manrope(700);
          font-size: rem(50);
          letter-spacing: 0;
        }
        .brand-title{
          @include font-manrope(400);
          margin-top: rem(32);
          font-size: rem(34);
          color: #3a5542;
          letter-spacing: 0;
          b{
            @include font-manrope(700);
          }
        }
        .desc {
          font-size:rem(26);
          color:#58595b;
          line-height: rem(38);
          letter-spacing: -0.05em;
        }
      }
      .content-title + .img-slot {
        position:relative;
        width:100%;
        height:rem(370);
        overflow: hidden;
        border-radius: rem(20);
        img {
          width: 100%;
          height:100%;
          object-fit: cover;
        }
      }
      .slider-page-bar{
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  
  .home-best-review{
    position: relative;;
    padding: rem(100) 0;
    margin-top:rem(120);
    margin-bottom:rem(120);
    background: #f7fafc;
    .review-slide{
      .swiper-slide{
        width: rem(420);
        &:not(.swiper-slide-active) .review-thumb{
          filter: grayscale(100%);
          opacity: 0.9;
        }
      }
    }
    .btn-more {
      position:absolute;
      right:rem(30);
      top:rem(100);
      font-weight:500;
      a {
        font-size:rem(26);
        color:#58595b;
        .icon {
          margin-top: 0;
          margin-left: rem(13);
        }
      }

    }
    .review-box{
      position: relative;
      width: rem(420);
      .review-thumb{
        @include transtion(0.2s);
        width: rem(420);
        height: rem(420);
        border-radius: rem(25);
        background-size: cover!important;
        background-position: center center!important;
      }
      .review-wrap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        border-radius: rem(30);
        .text-box{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          padding: rem(50) rem(40) 0 rem(40);
          .title{
            @include ellipsen(1);
            margin-bottom: rem(25);
            line-height: rem(30);
            font-size: rem(26);
            font-weight: 700;
            color: #ffffff;
          }
          .text{
            @include ellipsen(4);
            line-height: rem(36);
            font-size: rem(24);
            color: rgba(255,255,255,.8);
          }
        }
        .name{
          position: absolute;
          left: rem(40);
          bottom: rem(50);
          line-height: rem(30);
          font-size: rem(22);
          color: rgba(255,255,255,.8);
        }
        .good{
          position: absolute;
          right: rem(40);
          bottom: rem(50);
          line-height: rem(30);
          font-size: rem(22);
          font-weight: 700;
          color: #ffffff;
          .icon{
          margin: rem(-7) rem(6) 0 0; 
          }
        }
      }
    }
    .item-list-sm{
      .item-box{
        background: none;
        .img-slot{
          background: #fff;
        }
      }
    }
  }
  
  .home-share{
    overflow: hidden;
    .sns-thumb{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-left: calc(50% + #{rem(calcd(10, 2))});
      width: 103%;
      .btn-sns{
        display: block;
        margin: 0 rem(10) rem(10) 0;
        width: calc(47.4% - #{rem(calcd(10, 2))});
        border-radius: rem(25);
        overflow: hidden;
        img{
          display: block;
          width: 100%;
        }
        &:first-child{
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          width: calc(48.6% - #{rem(calcd(10, 2))});
        }
      }
    }
    .sns-link{
      margin-top: rem(50);
      text-align: center;
      .btn-link{
        display: inline-block;
        position: relative;
        margin: 0 rem(10);
        width: rem(60);
        height: rem(60);
        vertical-align: top;
      }
    }
    .title {
      color:#000;
    }
    .text {
      color:#58595b;
    }
  }
  
  .item-list-slide{
    position: relative;
    // .gnb-slide-tab{
      // @include transtion(0.2s);
    // }
    overflow: hidden;
    .gnb-slide-tab:not(.active){
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      width: 100%;
    }
  }

}