@mixin icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;
}
@mixin icond {
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}
@mixin iconb {
  background-repeat: no-repeat;
  background-size: 100%;
}
@mixin icon-margin($val){
  margin: rem(-2) rem($val) 0 0;
  vertical-align: middle;
}
@mixin icon-gray{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
}
.icon-alignc{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-logo{
  @include icond;
  @include img-only;
  width: rem(342);
  height: rem(30);
  background-size:100%;
  background-image: url('../img/icons/icon_logo.png');
}
.icon-search{
  @include icond;
  @include img-only;
  width: rem(42);
  height: rem(44);
  background-image: url('../img/icons/icon_search.png');
}
.icon-cart{
  @include icond;
  @include img-only;
  width: rem(38);
  height: rem(44);
  background-image: url('../img/icons/icon_cart.png');
}
.icon-menu-home{
  @include icond;
  width: rem(47);
  height: rem(48);
  background-image: url('../img/icons/icon_menu_home.png');
}
.icon-menu-menu{
  @include icond;
  width: rem(32);
  height: rem(32);
  background-image: url('../img/icons/icon_menu_menu.png');
}
.icon-menu-wish{
  @include icond;
  width: rem(41);
  height: rem(35);
  background-image: url('../img/icons/icon_menu_wish.png');
}
.icon-menu-my{
  @include icond;
  width: rem(37);
  height: rem(41);
  background-image: url('../img/icons/icon_menu_my.png');
}
.icon-menu-history{
  @include icond;
  width: rem(42);
  height: rem(43);
  background-image: url('../img/icons/icon_menu_history.png');
}
.icon-item-wish{
  @include icond;
  @include img-only;
  width: rem(27);
  height: rem(23);
  background-image: url('../img/icons/icon_item_wish.png');
}
.icon-item-wish-check, .btn-wish.checked .icon-item-wish{
  @include icond;
  @include img-only;
  width: rem(27);
  height: rem(22);
  background-image: url('../img/icons/icon_item_wish_check.png');
}
.icon-wish{
  @include icon;
  @include img-only;
  width: rem(42);
  height: rem(39);
  background-image: url('../img/icons/icon_wish.png');
}
.icon-wish-check{
  @include icon;
  @include img-only;
  width: rem(44);
  height: rem(39);
  background-image: url('../img/icons/icon_wish_check.png');
}
.icon-item-cart{
  @include icond;
  @include img-only;
  width: rem(28);
  height: rem(32);
  background-image: url('../img/icons/icon_item_cart.png');
}
.icon-back{
  @include icond;
  @include img-only;
  width: rem(20);
  height: rem(31);
  background-image: url('../img/icons/icon_arrow_back.png');
}
.icon-filter{
  @include icon;
  width: rem(41);
  height: rem(33);
  background-image: url('../img/icons/icon_filter.png');
}
.icon-menu-category{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_menu_category.png');
}
.icon-menu-reviewbest{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_menu_reviewbest.png');
}
.icon-notice{
  @include icon;
  width: rem(41);
  height: rem(29);
  background-image: url('../img/icons/icon_notice.png');
}
// .icon-share{
  // @include icon;
  // width: rem(34);
  // height: rem(36);
  // background-image: url('../img/icons/icon_share.png');
// }
.icon-share{
  @include icon;
  width: rem(31);
  height: rem(30);
  background-image: url('../img/icons/icon_shares.png');
}
.icon-menu-reward-grade{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_menu_reward_grade.png');
}
.icon-menu-reward-price{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_menu_reward_price.png');
}
.icon-menu-reward-price{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_menu_reward_price.png');
}
.icon-point{
  @include icon;
  width: rem(41);
  height: rem(41);
  background-image: url('../img/icons/icon_point.png');
}
.icon-coupon{
  @include icon;
  width: rem(41);
  height: rem(41);
  background-image: url('../img/icons/icon_coupon.png');
}
.icon-close{
  @include icon;
  width: rem(17);
  height: rem(17);
  background-image: url('../img/icons/icon_close.png');
}
.icon-close-popup{
  @include icon;
  @include img-only;
  width: rem(27);
  height: rem(27);
  background-image: url('../img/icons/icon_close_popup.png');
}
.icon-good{
  @include icon;
  width: rem(28);
  height: rem(26);
  background-image: url('../img/icons/icon_good.png');
  &.gray{
    background-image: url('../img/icons/icon_good_gray.png');
  }
  &.large{
    width: rem(31);
    height: rem(29);
    background-image: url('../img/icons/icon_good_md.png');
    &.gray{
      background-image: url('../img/icons/icon_good_gray_md.png');
    }
  }
}
.icon-good-white{
  @include icon;
  width: rem(27);
  height: rem(25);
  background-image: url('../img/icons/icon_good_white.png');
}
.icon-good-lg{
  @include icon;
  width: rem(65);
  height: rem(63);
  background-image: url('../img/icons/icon_good_lg_gray.png');
  &.on{
    @include icon;
    background-image: url('../img/icons/icon_good_lg.png');
  }
}
.icon-grade-king{
  @include icon;
  width: rem(28);
  height: rem(25);
  background-image: url('../img/icons/icon_grade_king.png');
}
.icon-refresh{
  @include icon;
  width: rem(38);
  height: rem(36);
  background-image: url('../img/icons/icon_refresh.png');
}
.icon-popup-close{
  @include icon;
  @include img-only;
  width: rem(27);
  height: rem(27);
  background-image: url('../img/icons/icon_popup_close.png');
}
.icon-popup-close-white{
  @include icon;
  @include img-only;
  width: rem(31);
  height: rem(31);
  background-image: url('../img/icons/icon_popup_close_white.png');
}
.icon-list-more{
  @include icon;
  width: rem(28);
  height: rem(17);
  background-image: url('../img/icons/icon_list_more.png');
}
// .icon-list-more{
//   @include icon;
//   width: rem(13);
//   height: rem(8);
//   background-image: url('../img/icons/icon_select_arrow.png');
// }
.icon-favorite{
  @include icon;
  width: rem(29);
  height: rem(33);
  background-image: url('../img/icons/icon_favorite.png');
}
.icon-leaf{
  @include icon;
  width: rem(30);
  height: rem(31);
  background-image: url('../img/icons/icon_leaf.png');
  &.on{
    @include icon;
    background-image: url('../img/icons/icon_leaf_green.png');
  }
}
.icon-leaf-large{
  @include icon;
  width: rem(30);
  height: rem(33);
  background-image: url('../img/icons/icon_leaf_large.png');
}
.icon-download{
  @include icon;
  width: rem(22);
  height: rem(34);
  background-image: url('../img/icons/icon_download.png');
}
.icon-tooltip-green{
  @include icon;
  width: rem(38);
  height: rem(38);
  background-image: url('../img/icons/icon_tooltip_green.png');
}
.icon-tooltip-gray{
  @include icon;
  width: rem(21);
  height: rem(22);
  background-image: url('../img/icons/icon_tooltip_gray.png');
}
.icon-tooltip{
  @include icon;
  width: rem(25);
  height: rem(26);
  background-image: url('../img/icons/icon_tooltip.png');
}
.icon-arrow-left{
  @include icon;
  width: rem(12);
  height: rem(17);
  background-image: url('../img/icons/icon_page_left.png');
}
.icon-arrow-right{
  @include icon;
  width: rem(12);
  height: rem(17);
  background-image: url('../img/icons/icon_page_right.png');
}
.icon-arrow-dropdown{
  @include icon;
  width: rem(17);
  height: rem(12);
  background-image: url('../img/icons/icon_arrow_down.png');
  &.up{
    transform: rotate(180deg);
  }
}
.icon-arrow-faq{
  @include icon;
  width: rem(24);
  height: rem(15);
  background-image: url('../img/icons/icon_arrow_faq.png');
}
.icon-upload-close{
  @include icon;
  width: rem(25);
  height: rem(24);
  background-image: url('../img/icons/icon_thumb_delete.png');
}
.icon-upload-close-white{
  @include icon;
  width: rem(23);
  height: rem(23);
  background-image: url('../img/icons/icon_thumb_delete_white.png');
}
.icon-upload-plus{
  @include icon;
  width: rem(40);
  height: rem(40);
  background-image: url('../img/icons/icon_thumb_plus.png');
}
.icon-plus{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_plus.png');
}
.icon-count-down{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_count_down.png');
}
.icon-count-up{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_count_up.png');
}
.icon-cs{
  @include icon;
  @include img-only;
  width: rem(30);
  height: rem(34);
  background-image: url('../img/icons/icon_cs.png');
}
.icon-cs-menu{
  @include icon;
  @include img-only;
  width: rem(13);
  height: rem(8);
  background-image: url('../img/icons/icon_cs_menu.png');
}
.icon-arrow-link{
  @include icon;
  @include img-only;
  width: rem(8);
  height: rem(14);
  background-image: url('../img/icons/icon_arrow_link.png');
}
.icon-arrow-up,
.icon-arrow-down {
  @include icon;
  width: rem(20);
  height: rem(11);
  background-image: url('../img/icons/icon_arrow_more.png');
}

.icon-arrow-up {
  transform: rotate(180deg);

  &.icon-alignc {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
.icon-arrow-link-lg{
  @include icon;
  width: rem(13);
  height: rem(24);
  background-image: url('../img/icons/icon_arrow_link_lg.png');
}
.icon-level{
  @include icon;
  width: rem(100);
  height: rem(110);
  &[data-level="new"]{
    background-image: url('../img/icons/icon_level_new.png');
  }
  &[data-level="vip"]{
    background-image: url('../img/icons/icon_level_vip.png');
  }
  &[data-level="vvip"]{
    background-image: url('../img/icons/icon_level_vvip.png');
  }
  &[data-level="svip"]{
    background-image: url('../img/icons/icon_level_svip.png');
  }
  &[data-level="members"]{
    background-image: url('../img/icons/icon_level_members.png');
  }
}
.icon-point-info{
  @include icon;
  width: rem(32);
  height: rem(32);
  background-image: url('../img/icons/icon_point_info.png');
}
.icon-my-point{
  @include icon;
  width: rem(61);
  height: rem(59);
  background-image: url('../img/icons/icon_my_point.png');
}
.icon-my-coupon{
  @include icon;
  width: rem(66);
  height: rem(52);
  background-image: url('../img/icons/icon_my_coupon.png');
}
.icon-my-coupon-empty{
  @include icon;
  width: rem(119);
  height: rem(92);
  background-image: url('../img/icons/icon_my_coupon_empty.png');
}
.icon-my-order{
  @include icon;
  width: rem(66);
  height: rem(61);
  background-image: url('../img/icons/icon_my_order.png');
}
.icon-map{
  @include icon;
  width: rem(66);
  height: rem(67);
  background-image: url('../img/icons/icon_map_point.png');
}
.icon-tel{
  @include icon;
  width: rem(29);
  height: rem(30);
  background-image: url('../img/icons/icon_tel.png');
}
.icon-bus{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_bus.png');
}
.icon-subway{
  @include icon;
  width: rem(60);
  height: rem(60);
  background-image: url('../img/icons/icon_subway.png');
}
.icon-review-write{
  @include icon;
  width: rem(72);
  height: rem(64);
  background-image: url('../img/icons/icon_review_write.png');
  &.sm{
    width: rem(34);
    height: rem(32);
  }
}
.icon-dday-time{
  @include icon;
  width: rem(44);
  height: rem(44);
  background-image: url('../img/icons/icon_dday_time.png');
}
.icon-helpful{
  @include icon;
  width: rem(32);
  height: rem(33);
  background-image: url('../img/icons/icon_helpful.png');
}
.icon-coupon-download{
  @include icon;
  width: rem(46);
  height: rem(49);
  background-image: url('../img/icons/icon_coupon_download.png');
}
.icon-coupon-download-white{
  @include icon;
  width: rem(30);
  height: rem(33);
  background-image: url('../img/icons/icon_coupon_download_white.png');
}
.icon-lighting{
  @include icon;
  width: rem(31);
  height: rem(40);
  background-image: url('../img/icons/icon_lighting.png');
}
.icon-timer{
  @include icon;
  width: rem(40);
  height: rem(43);
  background-image: url('../img/icons/icon_timer.png');
}
.icon-crown{
  @include icon;
  width: rem(31);
  height: rem(29);
  background-image: url('../img/icons/icon_rank_crown.png');
}
.icon-arrow-white{
  @include icon;
  width: rem(15);
  height: rem(23);
  background-image: url('../img/icons/icon_arrow_white.png');
}
.icon-sns-facebook{
  @include icon;
  width: rem(46);
  height: rem(42);
  background-image: url('../img/icons/icon_sns_facebook.png');
}
.icon-sns-instagram{
  @include icon;
  width: rem(46);
  height: rem(42);
  background-image: url('../img/icons/icon_sns_instagram.png');
}
.icon-sns-youtube{
  @include icon;
  width: rem(46);
  height: rem(42);
  background-image: url('../img/icons/icon_sns_youtube.png');
}
.icon-arrow-green{
  @include icon;
  width: rem(12);
  height: rem(17);
  background-image: url('../img/icons/icon_arrow_green.png');
}
.icon-leaf-double{
  @include icon;
  width: rem(54);
  height: rem(28);
  background-image: url('../img/icons/icon_leaf_double.png');
}
.icon-payco{
  @include icon;
  width: rem(88);
  height: rem(24);
  background-image: url('../img/icons/icon_payco.png');
}
.icon-kakao{
  @include icon;
  width: rem(70);
  height: rem(27);
  background-image: url('../img/icons/icon_kakao.png');
}
.icon-naver{
  @include icon;
  width: rem(105);
  height: rem(24);
  background-image: url('../img/icons/icon_naver.png');
}
.icon-apple{
  @include icon;
  width: rem(34);
  height: rem(42);
  background-image: url('../img/icons/icon_apple.png');
}
.icon-user-drop{
  @include icon;
  width: rem(31);
  height: rem(28);
  background-image: url('../img/icons/icon_user_drop.png');
}
.icon-rank-up{
  @include icon;
  width: rem(13);
  height: rem(8);
  background-image: url('../img/icons/icon_rank_up.png');
}
.icon-rank-down{
  @include icon;
  width: rem(13);
  height: rem(8);
  background-image: url('../img/icons/icon_rank_down.png');
}
.icon-rank-stay{
  @include icon;
  width: rem(13);
  height: rem(3);
  background-image: url('../img/icons/icon_rank_stay.png');
}
.icon-empty-category{
  @include icon;
  width: rem(120);
  height: rem(120);
  background-image: url('../img/icons/icon_empty_category.png');
}
.icon-empty-login{
  @include icon;
  width: rem(116);
  height: rem(116);
  background-image: url('../img/icons/icon_empty_login.png');
}
.icon-empty-list{
  @include icon;
  width: rem(103);
  height: rem(111);
  background-image: url('../img/icons/icon_empty_list.png');
}
.icon-empty-address{
  @include icon;
  width: rem(104);
  height: rem(109);
  background-image: url('../img/icons/icon_empty_address.png');
}
.icon-empty-wish{
  @include icon;
  width: rem(113);
  height: rem(110);
  background-image: url('../img/icons/icon_empty_wish.png');
}
.icon-empty-coupon{
  @include icon;
  width: rem(123);
  height: rem(96);
  background-image: url('../img/icons/icon_empty_coupon.png');
}
.icon-empty-category{
  @include icon;
  width: rem(120);
  height: rem(120);
  background-image: url('../img/icons/icon_empty_category.png');
}
.icon-empty-review{
  @include icon;
  width: rem(109);
  height: rem(98);
  background-image: url('../img/icons/icon_empty_review.png');
}
.icon-empty-qna{
  @include icon;
  width: rem(106);
  height: rem(92);
  background-image: url('../img/icons/icon_empty_qna.png');
}
.icon-empty-point{
  @include icon;
  width: rem(107);
  height: rem(109);
  background-image: url('../img/icons/icon_empty_point.png');
}

.icon-skin-dry{
  @include icon;
  width: rem(90);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_dry.png')
}
.icon-skin-complex{
  @include icon;
  width: rem(91);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_complex.png')
}
.icon-skin-oily{
  @include icon;
  width: rem(90);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_oily.png')
}
.icon-skin-sensitive{
  @include icon;
  width: rem(91);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_sensitive.png')
}
.icon-skin-dry-off{
  @include icon;
  width: rem(90);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_dry_off.png')
}
.icon-skin-complex-off{
  @include icon;
  width: rem(91);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_complex_off.png')
}
.icon-skin-oily-off{
  @include icon;
  width: rem(90);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_oily_off.png')
}
.icon-skin-sensitive-off{
  @include icon;
  width: rem(91);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_sensitive_off.png')
}
.icon-skin-whitening{
  @include icon;
  width: rem(96);
  height: rem(101);
  background-image: url('../img/icons/icon_skin_whitening.png');
}
.icon-skin-elastic{
  @include icon;
  width: rem(97);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_elastic.png');
}
.icon-skin-moisturizing{
  @include icon;
  width: rem(96);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_moisturizing.png');
}
.icon-skin-sensitive-problem{
  @include icon;
  width: rem(97);
  height: rem(102);
  background-image: url('../img/icons/icon_skin_sensitive_problem.png');
}
.icon-skin-whitening-off{
  @include icon;
  width: rem(96);
  height: rem(101);
  background-image: url('../img/icons/icon_skin_whitening_off.png');
}
.icon-skin-elastic-off{
  @include icon;
  width: rem(97);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_elastic_off.png');
}
.icon-skin-moisturizing-off{
  @include icon;
  width: rem(96);
  height: rem(103);
  background-image: url('../img/icons/icon_skin_moisturizing_off.png');
}
.icon-skin-sensitive-problem-off{
  @include icon;
  width: rem(97);
  height: rem(102);
  background-image: url('../img/icons/icon_skin_sensitive_problem_off.png');
}
.icon-empty-cart{
  @include icon;
  width: rem(90);
  height: rem(103);
  background-image: url('../img/icons/icon_empty_cart.png');
}
.icon-empty-password{
  @include icon;
  width: rem(123);
  height: rem(96);
  background-image: url('../img/icons/icon_password.png');
}
.icon-empty-password-change{
  @include icon;
  width: rem(100);
  height: rem(108);
  background-image: url('../img/icons/icon_password_change.png');
}
.icon-empty-account{
  @include icon;
  width: rem(118);
  height: rem(110);
  background-image: url('../img/icons/icon_account.png');
}

.icon-essential-login{
  @include icon;
  width: rem(116);
  height: rem(116);
  background-image: url('../img/icons/icon_essential_login.png');
}
.icon-naverpay{
  @include icon;
  width: rem(100);
  height: rem(39);
  background-image: url('../img/icons/icon_naverpay.png');
}
.icon-kakaopay{
  @include icon;
  width: rem(97);
  height: rem(30);
  background-image: url('../img/icons/icon_kakaopay.png');
}
.icon-paycopay{
  @include icon;
  width: rem(112);
  height: rem(25);
  background-image: url('../img/icons/icon_paycopay.png');
}
.icon-naverpay-off{
  @include icon;
  width: rem(100);
  height: rem(39);
  background-image: url('../img/icons/icon_naverpay_off.png');
}
.icon-kakaopay-off{
  @include icon;
  width: rem(97);
  height: rem(30);
  background-image: url('../img/icons/icon_kakaopay_off.png');
}
.icon-paycopay-off{
  @include icon;
  width: rem(112);
  height: rem(25);
  background-image: url('../img/icons/icon_paycopay_off.png');
}
.icon-clip{
  @include icon;
  width: rem(28);
  height: rem(29);
  background-image: url('../img/icons/icon_upload_clip.png');
}
.icon-app{
  @include icon;
  width: rem(74);
  height: rem(84);
  background-image: url('../img/icons/icon_app.png');
}

.icon-loading{
  @include icon;
  width: rem(50);
  height: rem(50);
  background-image: url('../img/icons/icon_loading.png');
}
.icon-select-arrow{
  @include icond;
  width: rem(13);
  height: rem(8);
  background-image: url('../img/icons/icon_select_arrow.png');
}
.icon-video-play{
  @include icond;
  width: rem(84);
  height: rem(84);
  background-image: url('../img/icons/icon_video_play.png');
}

.icon-splash-capture{
  @include icond;
  width: rem(46);
  height: rem(46);
  background-image: url('../img/icons/icon_splash_capture.png');
}
.icon-splash-location{
  @include icond;
  width: rem(40);
  height: rem(48);
  background-image: url('../img/icons/icon_splash_location.png');
}
.icon-splash-sms{
  @include icond;
  width: rem(46);
  height: rem(44);
  background-image: url('../img/icons/icon_splash_sms.png');
}
.icon-splash-address{
  @include icond;
  width: rem(46);
  height: rem(46);
  background-image: url('../img/icons/icon_splash_address.png');
}
.icon-app-error{
  @include icond;
  width: rem(47);
  height: rem(69);
  background-image: url('../img/icons/icon_app_error.png');
}

.icon-float-top{
  @include icond;
  width: rem(35);
  height: rem(21);
  background-image: url('../img/icons/icon_float_top.png');
}
.icon-float-my{
  @include icond;
  width: rem(34);
  height: rem(35);
  background-image: url('../img/icons/icon_float_my.png');
}
.icon-float-wish{
  @include icond;
  width: rem(36);
  height: rem(30);
  background-image: url('../img/icons/icon_float_wish.png');
}
.icon-float-menu{
  @include icond;
  width: rem(31);
  height: rem(28);
  background-image: url('../img/icons/icon_float_menu.png');
}
.icon-order-processing{
  @include icon;
  width: rem(112);
  height: rem(111);
  background-image: url('../img/icons/icon_order_processing.png');
}
.icon-coupon-delete{
  @include icon;
  width: rem(16);
  height: rem(16);
  background-image: url('../img/icons/icon_coupon_delete.png');
}
.icon-noti-close{
  @include icon;
  width: rem(23);
  height: rem(23);
  background-image: url('../img/icons/icon_noti_close.png');
}
.icon-review-bullet{
  @include icon;
  width: rem(51);
  height: rem(51);
  background-image: url('../img/icons/icon_review_bullet.png');
}
.icon-arrow-black{
  @include icon;
  width: rem(15);
  height: rem(24);
  background-image: url('../img/icons/icon_arrow_black.png');
}
.icon-truck{
  @include icon;
  width: rem(43);
  height: rem(37);
  background-image: url('../img/icons/icon_truck.png');
}

.icon-play {
  @include icon;
  width:rem(80);
  height:rem(80);
  background-image: url('../img/icons/icon_play.png');
}
.icon-home {
  @include icond;
  @include img-only;
  width: rem(41);
  height: rem(36);
  background-image: url('../img/icons/icon_home.png');
}