.item-list:not(.swiper-container), .item-review-list{
  $gap: 30; //아이템 스페이스 값
  display: flex;
  flex-wrap: wrap;
  width: 103%;
  margin-top: rem(-60);
  overflow: hidden;
  .item-box{
    position: relative;
    margin: rem(60) rem(20) 0 0;
    width: calc(49% - #{rem(calcd($gap, 2))});
  }
  .na-animate {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    &:nth-of-type(1) {
      top:rem(80);
    }
    &:nth-of-type(2) {
      top:rem(80);
      transition-delay: 0.3s;
    }
    &:nth-of-type(3) {
      top:rem(80);
    }
    &:nth-of-type(4) {
      top:rem(80);
      transition-delay: 0.3s;
    }
    &:nth-of-type(5) {
      top:rem(80);
    }
    &:nth-of-type(6) {
      top:rem(80);
      transition-delay: 0.3s;
    }
    &.animated {
      top:0;
      opacity: 1;
    }
  }
}
.item-list.swiper-container{
  $gap: 20; //아이템 스페이스 값
  .swiper-wrapper{
    padding: 0 rem(40);
  }
  .item-box{
    margin-right: rem(20);
    width: rem(280);
    .img-slot {
      box-sizing: border-box;
      > img {
        width:100%;
        height:rem(280);
        object-fit: cover;
      }
    }
  }
}

.item-list{
  .item-brand-box{
    .img-slot{
      @include bgcover;
      width: 100%;
      height: calc(100vw - #{rem(158)});
      border-radius: rem(10);
      border: 0;
      overflow: hidden;
      .text{
        display: block;
        padding: rem(50) 0 0 rem(45);
        line-height: 1.5em;
        font-size: rem(26);
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
  .number{
    padding: 0 rem(4);
    margin-bottom: rem(15);
    line-height: 1;
    font-size: rem(28);
    @include font-manrope(800);
    color: #333333;
  }
  .check-box{
    display: block;
    position: absolute;
    left: rem(20);
    top: rem(12);
    z-index: 10;
  }
  .img-slot{
    display: block;
    position: relative;
    border: rem(2) solid #f5f5f5;
    border-radius: rem(10);
    overflow: hidden;
    width:100%;
    > img {
      width:rem(320);
      height:rem(320);
      object-fit: cover;
    }
    img{
      display: block;
      width: 100%;
    }
    .badge-list{
      position: absolute;
      right: rem(10);
      top: rem(10);
      width: rem(60);
      z-index: 3;
      >li{
        flex: 0 0 rem(60);
        margin-bottom:rem(6);
      }
    }
  }
  .info-slot{
    display: flex;
    flex-wrap: wrap;
  }
  .item-btn{
    display: flex;
    margin-top: rem(25);
    width: 100%;
    a{
      display: block;
      position: relative;
      margin-right: rem(15);
      width: rem(60);
      height: rem(60);
      border-radius: 50%;
      background: #f5f5f5;
      border:rem(2) solid #f5f5f5;
    }
    .btn-wish{
      &.checked{
        background-color: #fff;
        border-color:#333333;
        .icon-item-wish{
          @extend .icon-item-wish-check;
        }
      }
    }
  }
}

.item-list, .item-list-sm{
  .tag-list{
    display: block;
    width: 100%;
    min-height: rem(42);
    margin-top: rem(16);
    .tag{
      display: block;
      float: left;
      margin-right: rem(4);
      margin-top: rem(4);
      min-width: rem(80);
      height: rem(38);
      line-height: rem(38);
      text-align: center;
      font-size: rem(22);
      color: #ffffff;
      font-weight: 500;
      border-radius: rem(32);
      letter-spacing: -0.025em;
      @include font-manrope(500);
      &.sale{
        color: #fff;
        background: #8a4933;
      }
      &.best, &.new{
        color: #fff;
        background: #89b03f;
      }
    }
  }
  .pd-type{
    display: block;
    margin-bottom: rem(20);
    line-height: rem(30);
    font-size: rem(24);
    font-weight: 500;
    color: #8bb23f;
    .date{
      margin-left: rem(15);
      font-size: rem(22);
      color: #818286;
      font-weight: normal;
    }
  }
  .pd-name{
    @include ellipsen(2);
    display: block;
    margin: rem(20) 0 rem(20) 0;
    width: 100%;
    height:rem(68);
    line-height: rem(34);
    font-size: rem(28);
    font-weight: 500;
    color: #333333;
    word-break: keep-all;
  }
  .pd-sub{
    @include ellipsen(1);
    display: block;
    margin: 0 0 rem(10) 0;
    width: 100%;
    line-height: rem(30);
    font-size: rem(24);
    color: #818286;
  }
  .pd-name + p.pd-sub{
    margin-top: rem(-10);
  }
  .pd-price{
    line-height: 1;
    font-size: rem(24);
    font-weight: 700;
    color: #333333;
    .price{
      @include font-manrope(700);
      font-size: rem(30);
    }
  }
  .pd-old-price{
    margin-left: rem(16);
    padding-top: rem(4);
    line-height: 1;
    font-size: rem(20);
    font-weight: 500;
    color: #bcbdc1!important;
    text-decoration: line-through;
    .price{
      @include font-manrope(500);
      font-size: rem(26);
    }
  }
  .pd-sale{
    margin-right: rem(5);
    line-height: 1;
    font-size: rem(22);
    font-weight: 700;
    color: #ed1c24;
    .sale{
      @include font-manrope(700);
      font-size: rem(28);
    }
  }
  .pd-desc{
    line-height: 1;
    font-size: rem(24);
    font-weight: 500;
    color: #333333;
  }
  .pd-opt{
    display: inline-block;
    line-height: 1;
    font-size: rem(24);
    font-weight: 500;
    color: #818286;
    word-break: keep-all;
    max-width: 84%;
  }
  .btn-opt{
    line-height: 1;
    font-size: rem(24);
    font-weight: 500;
    color: #333333;
    position: absolute;
    right:0;
    bottom:0;
    .icon{
      margin: rem(-4) 0 0 rem(6);
    }
  }
  .opt-box{
    flex-wrap: wrap;
    .pd-price,
    .pd-opt,
    .btn-opt{
      position: relative;
      margin-right: rem(34);
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(-22);
        top: 50%;
        margin-top: rem(-9);
        width: rem(2);
        height: rem(18);
        background: #e7e7e7;
      }
      &:last-child:after{
        display: none;
      }   
      &:last-child {
        margin-right:0;
      }
    }
  }
  .opt-box + div.opt-box{
    margin-top: rem(15);
  }
  &.noborder .item-box .img-slot{
    border: 0;
  }
}

//작은 리스트
.item-list-sm{
  .item-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    padding: rem(40) rem(30);
    border-radius: rem(25);
    background: #fff;
    &.sold-out {
      .img-slot::after {
        content:'일시품절';
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        display: flex;
        background:rgba(0,0,0,0.3);
        color:#fff;
        text-align: center;
        font-size: rem(26);
        font-weight:500;
        padding: 0;
        align-items: center;
        justify-content: space-around;
      }
      .count-box {
        opacity: .5;
      }
    }
  }
  .info-slot{
    flex: 1;
    position: relative;
    .opt-box{
      display: flex;
      align-items: center;
      .pd-opt{
        font-weight: 700;
      }
      &.md {
        max-width:80%;
      }
    }
    .pd-price, .pd-old-price, .pd-sale{
      display: inline-block;
    }
  }
  .img-slot{
    display: block;
    position: relative;
    flex: 0 0 rem(110);
    width: rem(110);
    height: rem(110);
    border-radius: rem(12);
    overflow: hidden;
    > img, > a > img{
      display: block;
      width:100%;
      height:100%;
      object-fit: cover;
    }
    .badge-list{
      position: absolute;
      right: rem(6);
      top: rem(6);
      width: rem(30);
      z-index: 3;
      >li{
        flex: 0 0 rem(30);
        margin-bottom:rem(3);
        img {
          display: block;
          width:100%;
        }
      }
    }
    .badge{
      @include font-manrope(700);
      display: block;
      position: absolute;
      right: rem(5);
      top: rem(5);
      width: rem(40);
      height: rem(40);
      line-height: rem(38);
      text-align: center;
      font-size: rem(24);
      color: #fff;
      border-radius: 50%;
      background: #89b03f;
      z-index: 10;
    }
  }
  .info-slot{
    margin-left: rem(15);
  }
  .pd-name{
    @include ellipsen(2);
    margin-top: 0;
    line-height: rem(32);
  }
  .order-slot{
    flex: 0 0 100%;
    width: 100%;
  }
  &.bordered{
    .item-box{
      padding-top: rem(20);
      border-top: 1px solid #f5f5f5;
      border-radius: 0;
      &:first-child{
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

//리뷰 리스트
.item-review-list{
  .img-slot{
    display: block;
    position: relative;
    margin-bottom: rem(30);
    border-radius: rem(12);
    overflow: hidden;
    width:100%;
    $gap: 30; //아이템 스페이스 값
    height:rem(310);
    img{
      display: block;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .good{
      display: block;
      position: absolute;
      left: rem(20);
      bottom: rem(20);
      width: rem(80);
      height: rem(44);
      line-height: rem(46);
      text-align: center;
      font-size: rem(22);
      font-weight: 700;
      color: #333;
      border-radius: rem(22);
      background: #fff;
      .icon-good{
        margin: rem(-8) rem(2) 0 0;
        width:rem(18);
        height:rem(16);
      }
    }
  }
  .info-slot{
    display: block;
    .title{
      @include ellipsen(1);
      display: block;
      margin-bottom: rem(10);
      line-height: rem(30);
      font-size: rem(24);
      font-weight: 700;
      color: #333;
    }
    .text{
      @include ellipsen(3);
      display: block;
      line-height: rem(30);
      font-size: rem(22);
      font-weight: 300;
      color: #333;
    }
    .info{
      display: flex;
      justify-content: space-between;
      margin-top: rem(25);
      span{
        display: block;
        position: relative;
        line-height: rem(30);
        font-size: rem(20);
        font-weight: 500;
        color: #333;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(-16);
          top: 50%;
          margin-top: rem(-10);
          width: 1px;
          height: rem(20);
          background: #e7e7e7;
        }
        &:first-child:before{
          display: none;
        }
        &:first-child {
          max-width:33%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .tag-list{
    display: flex;
    margin-top: rem(21);
    flex-wrap: wrap;
    .tag{
      @include tag;
      margin-top:rem(4);
    }
  }
}

.item-review-slide{
  .item-box{
    
  }
  .img-slot{
    display: block;
    position: relative;
    margin-bottom: rem(30);
    border-radius: rem(30);
    width:100%;
    height:rem(640);
    overflow: hidden;
    img{
      display: block;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .good{
      display: block;
      position: absolute;
      left: rem(20);
      bottom: rem(20);
      width: rem(80);
      height: rem(44);
      line-height: rem(46);
      text-align: center;
      font-size: rem(22);
      font-weight: 700;
      color: #333;
      border-radius: rem(22);
      background: #fff;
      .icon-good{
        margin: rem(-8) rem(2) 0 0;
        width:rem(18);
        height:rem(16);
      }
    }
  }
  .item-slot{
    display: flex;
    .img-slot{
      position: relative;
      display: block;
      flex: 0 0 rem(160);
      border-radius: rem(12);
      overflow: hidden;
      width:rem(160);
      height:rem(160);
      margin-bottom:0;
      img{
        display: block;
        width: 100%;
        height:100%;
        object-fit: cover;
      }
    }
    .info-slot{
      padding: rem(15) 0 0 rem(20);
      .info-box{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(20);
        .name{
          display: block;
          line-height: rem(44);
          font-size: rem(24);
          font-weight: 700;
          color: #333;
          margin-right: rem(10);
          .icon{
            margin: rem(-6) rem(4) 0 0;
          }
        }
        .tag{
          @include tag;
        }
      }
      .pd-name{
        @include ellipsen(2);
        display: block;
        line-height: rem(46);
        font-size: rem(36);
        font-weight: 700;
        color: #333;
      }
    }
  }
}

//빈 리스트
.list-empty-box{
  padding: rem(150) 0 rem(100) 0;
  text-align: center;
  &.md{
    padding: rem(80) 0 rem(20) 0;
  }
  &.bordered{
    border-top: 1px solid #e7e7e7;
  }
  .icon-box{
    margin-bottom: rem(55);
    img{
      display: inline-block;
      width: rem(120);
    }
  }
  p{
    line-height: rem(40);
    font-size: rem(30);
    font-weight: 500;
    color: #333333;
    letter-spacing: rem($letter-spacing-text);
  }
  .btn-round, .btn-box{
    margin-top: rem(60);
  }
}

// .bbs-header + div.list-empty-box{
  // border-top: 1px solid #e7e7e7;
// }

.item-order-list, .item-refund-list{
  .item-box{
    position: relative;
    padding: rem(40) 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    .check-box{
      display: block;
      position: absolute;
      left: 0;
      top: rem(20);
      z-index: 10;
    }
    .btn-delete{
      display: block;
      position: absolute;
      right: 0;
      top: rem(20);
      width: rem(60);
      height: rem(60);
      z-index: 10;
    }
    .img-slot{
      flex: 0 0 rem(160);
      width: rem(160);
      height: rem(160);
    }
    .info-slot{
      position:relative;
      padding-left: rem(25);
      max-width:calc(100% - #{rem(200)});
    }
    .pd-name{
      @include ellipsen(3);
      height: auto;
    }
    .order-slot{
      display: flex;
      align-items: center;
      margin-top: rem(30);
      &.count{
        padding-left: rem(180);
      }
      .cart-box{
        flex: 0 0 rem(160);
        white-space: nowrap;
        text-align: center;
        .btn-wish, .btn-cart{
          display: inline-block;
          position: relative;
          margin:0 rem(10);
          width: rem(60);
          height: rem(60);
          opacity: 0.5;
        }
        .btn-wish.checked{
          opacity: 1;
          .icon-item-wish {
            opacity: 1;
            background-image: url(../img/icons/icon_item_wish.png);
          }
        }
        .icon-item-wish {
          width: rem(36);
          height: rem(32);
        }
        & + .count-box {
          margin-left:rem(40);
        }
      }
    }
    .price-box{
      flex: 1;
      padding-left: rem(30);
      text-align: left;
      .pd-price{
        margin-top: rem(10);
        font-size: rem(28);
        .price{
          font-size: rem(38);
        }
      }
      .pd-old-price{
        padding-top: 0;
        margin: 0;
        margin-top: rem(-3);
      }
    }
  }
}

.item-order-list, .item-refund-list, .item-gift-list{
  .item-box.disabled{
    .img-slot{
      cursor: not-allowed;
      filter: grayscale(100%);
      opacity: 0.4;
    }
    .count-box{
      cursor: not-allowed;
      background: #fafafa;
      opacity: 0.4;
    }
  }
  .item-box.selected{
    .img-slot{
      border: 1px solid #333333;
    }
  }
}

.item-order-list{
  .order-slot {
    position: relative;
    .price-box{
      position: absolute;
      right: 0;
      top: rem(6);
    }
  }
}

.count-box{
  display: flex;
  flex: 0 0 rem(200);
  position: relative;
  height: rem(80);
  border-radius: rem(10);
  border: rem(2) solid #e7e7e7;
  .btn-count{
    flex: 1;
    display: block;
    position: relative;
    width: rem(70);
    height: rem(76);
  }
  .count{
    @include font-manrope(800);
    flex: 1;
    display: block;
    height: rem(76);
    line-height: rem(76);
    text-align: center;
    font-size: rem(26);
    color: #333333;
  }
  .value-box{
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: rem(35);
    height: rem(80);
    line-height: rem(80);
    font-size: rem(22);
    font-weight: 700;
    color: #333333;
    white-space: nowrap;
    .value{
      margin-right: rem(3);
      font-size: rem(26);
      font-weight: 800;
    }
  }
}

.thumb-item-list{
  $gap: 10; //아이템 스페이스 값
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(-10);
  width: 104.5%;
  overflow: hidden;
  .item-box{
    display: block;
    position: relative;
    margin: rem(10) rem(10) 0 0;
    width: calc(23% - #{rem(calcd($gap, 4))});
    height: rem(156);
    border: rem(2) solid #e7e7e7;
    border-radius: rem(10);
    overflow: hidden;
    &.active{
      border-color: #333333;
    }
    img{
      display: block;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .badge{
      display: block;
      position: absolute;
      right: rem(8);
      top: rem(8);
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      text-align: center;
      font-size: rem(24);
      font-weight: 700;
      color: #fff;
      border-radius: 50%;
      background: #89b03f;
    }
  }
}

//반품교환 조회
.item-refund-list{
  border-top: 1px solid #e7e7e7;
  .item-box{
    padding-top: 0;
  }
  .order-info{
    display: inline-flex;
    position: relative;
    padding: rem(20) 0;
    margin-bottom: rem(5);
    width: 100%;
    span{
      display: block;
      position: relative;
      margin-left: rem(38);
      line-height: rem(50);
      font-size: rem(22);
      font-weight: 500;
      color: #333333;
      position: relative;
      &:after{
        display: block;
        content: "";
        position: absolute;
        left: rem(-18);
        top: 50%;
        margin-top: rem(-9);
        width: rem(2);
        height: rem(18);
        background: #e7e7e7;
      }
      &:first-child{
        margin-left: 0;
      }
      &:first-child:after{
        display: none;
      }
    }
  }
  a.order-info:after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: rem(-8);
    width: rem(15);
    height: rem(24);
    background: url("../img/icons/icon_arrow_black.png") no-repeat center center;
    background-size: contain;
  }
  .btn-slot{
    display: flex;
    justify-content: center;
    padding: rem(50) 0 0 0;
    width: 100%;
    .btn{
      margin-right: rem(20);
      max-width: 48%;
      height: rem(70);
      font-size: rem(26);
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

//주문배송목록
.item-shipping-list{
  border-top: rem(10) solid #f5f5f5;
  .item-box{
    padding-left: rem(40);
    padding-right: rem(40);
    border-bottom: rem(10) solid #f5f5f5;
  }
  .order-info{
    padding-top: rem(40);
    margin-bottom: rem(30);
    border-bottom: 1px solid #e7e7e7;
    .date{
      @include font-manrope(700);
      font-size: rem(26);
      color: #333333;
    }
  }
}

//사은품 상품 리스트
.item-gift-list{
  .item-box{
    padding: 0;
    margin-top: rem(20);
    &:first-child{
      margin-top: 0;
    }
    .img-slot{
      border: rem(2) solid #e7e7e7;
      border-radius: rem(12);
      overflow: hidden;
    }
    .info-slot{
      margin-left: rem(20);
    }
    .pd-name{
      @include ellipsen(1);
      margin-bottom: rem(10);
      height: auto;
    }
    .pd-desc{
      color: #89b03f;
    }
    .pd-desc + .pd-name{
      margin-top: rem(10);
    }
  }
  
  &.count-list{
    .item-box{
      position: relative;
      padding-right: rem(220);
      // .pd-desc{
        // margin-bottom: rem(5);
        // font-size: rem(22);
      // }
      .count-box{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(200);
      }
    }
  }
}

.item-list-slide{
  // .item-list{
  //   .pd-name{
  //     padding-right: rem(20);
  //   }
  // }  
  &.noborder .img-slot{
    border: 0;
  }
}

.item-list-full{
  .item-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-slot{
      position: relative;
      width: rem(260);
      height: rem(260);
      border-radius: rem(12);
      background: #fff;
      overflow: hidden;
      .item-count{
        position: absolute;
        right: rem(10);
        top: rem(10);
        padding-top: rem(20);
        width: rem(90);
        height: rem(90);
        text-align: center;
        line-height: rem(24);
        font-size: rem(20);
        font-weight: 700;
        color: #fff;
        border-radius: 50%;
        background: #da382d;
        z-index: 10;
        word-break: keep-all;
        span{
          font-size: rem(16);
          font-weight: 400;
          letter-spacing: rem($letter-spacing-text);
        }
        b{
          @include font-manrope(700);
          font-size: rem(24);
        }
      }
      img{
        display: block;
        width: 100%;
        height:100%;
        object-fit: cover;
      }
    }
    .info-slot{
      flex: 1;
      padding-left: rem(40);
      .pd-desc{
        line-height: rem(32);
        @include ellipsen(1);
        font-size: rem(24);
        color: #333333;
      }
      .pd-name{
        margin-bottom: rem(30);
        @include ellipsen(2);
        line-height: rem(40);
        font-size: rem(28);
        font-weight: 700;
        color: #333333;
      }
      .price-box{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        .pd-price{
          display: inline-block;
          line-height: 1;
          font-size: rem(24);
          color: #333333;
          letter-spacing: rem($letter-spacing-text);
          font-weight: 500;
          .price{
            font-size: rem(38);
            @include font-manrope(700);
          }
        }
        .pd-old-price{
          display: inline-block;
          @include font-manrope(500);
          margin-left: rem(15);
          padding-top: rem(12);
          line-height: 1;
          font-size: rem(20);
          color: #bcbdc1;
          text-decoration: line-through;
          letter-spacing: rem($letter-spacing-text);
          .price{
            font-size: rem(24);
          }
        }
        .pd-sale{
          display: inline-block;
          @include font-manrope(700);
          margin-right: rem(15);
          line-height: 1;
          font-size: rem(22);
          color: #ed1c24;
          letter-spacing: rem($letter-spacing-text);
          .sale{
            font-size: rem(32);
            font-weight: 700;
          }
        }
      }
      .btn-slot{
        margin-top: rem(40);
        .btn{
          width:rem(160);
          margin-right: rem(6);
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}

.gift-item-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(-40);
  width: 103%;
  overflow: hidden;
  .item-box{
    margin: rem(40) rem(20) 0 0;
    width: calc(49% - #{rem(calcd(30, 2))});
    .img-slot{
      display: block;
      position: relative;
      padding: 0;
      height: auto;
      .check, .icon{
        left: rem(15);
        top: rem(15);
        z-index: 2;
      }
      .img-box{
        position:relative;
        display: block;
        border: 1px solid #f5f5f5;
        border-radius: rem(10);
        overflow: hidden;
        width:100%;
        height: calc(48vw - #{rem(calcd(30, 2))});
        overflow: hidden;
      }
      .check:checked + span.icon + span.img-box{
        border-color: #333;
      }
      img{
        display: block;
        width: 100%;
        height:100%;
        object-fit: cover;
      }
      .soldout{
        display: none;
        align-items: center;
        justify-content: center;        
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #f5f5f5;
        border-radius: rem(10);
        background: rgba(0,0,0,0.6);
        z-index: 3;
        span{
          display: block;
          line-height: 1;
          font-size: rem(26);
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
    .info-slot{
      margin-top: rem(25);
      .pd-name{
        @include ellipsen(2);
        height: rem(68);
        line-height: rem(34);
        font-size: rem(26);
        font-weight: 500;
        color: #333333;
      }
      .pd-price {
        line-height: 1;
        font-size: rem(22);
        font-weight: 700;
        margin-top:rem(10);
        color: #333333;
        .price{
          @include font-manrope(700);
          font-size: rem(26);
          letter-spacing: rem($letter-spacing-price);
        }
      }
    }
    .count-box{
      width: 70%;
      max-width: rem(220);
      margin-top: rem(28);
    }
    
    &.soldout{
      .img-slot{
        border-color: #f5f5f5;
        .check, .icon{
          display: none;
        }
        .soldout{
          display: flex;
        }
      }
      .info-slot{
        .pd-name, .pd-price{
          color: #dddddd;
        }
      }
    }
  }
}

//쿠폰 리스트
.coupon-item-list{
  li{
    margin-top: rem(20);
    overflow: hidden;
    &:first-child{
      margin-top: 0!important;
    }
  }
  .btn-coupon-info{
    float: right;
    margin: rem(10) rem(-10) 0 0;
    line-height: 1;
    padding: rem(10);
    font-size: rem(24);
    font-weight: 500;
    color: #58595b;
    .icon{
      margin-left: rem(15);
    }
  }
  .coupon-item-box{
    display: block;
    position: relative;
    padding: rem(35) rem(40);
    .radio{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
    }
    .coupon-box{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: rem(3) solid #e7e7e7;
      border-radius: rem(25);
      z-index: 0;
    }
    > span{
      @include ellipsen(2);
      display: block;
      position: relative;
      z-index: 1;
      line-height: 1.4em;
      font-size: rem(26);
      color: #bcbdc1;
    }
    .coupon-name{
      font-size: rem(28);
      font-weight: 700;
      .icon{
        margin-right: rem(16);
        opacity: 0.5;
      }
    }
    .coupon-name + span{
      margin-top: rem(8);
    }
    .coupon-desc{
      margin-bottom: rem(2);
    }
    .coupon-price{
      position: absolute;
      right: rem(40);
      bottom: rem(35);
      font-weight: 500;
      .price{
        @include font-manrope(800);
        margin-right: rem(3);
        font-size: rem(30);
      }
    }
    .radio:checked + div.coupon-box{
      border-color: #333;
    }
    .radio:checked + div.coupon-box + span.coupon-name{
      color: #333;
      .icon{
        opacity: 1;
      }
    }
    .radio:checked + div.coupon-box + span.coupon-name + span.coupon-desc{
      color: #58595b;
    }
    .radio:checked + div.coupon-box + span.coupon-name + span.coupon-desc + span.coupon-date{
      color: #f01d11;
    }
    .radio:checked + div.coupon-box + span.coupon-name + span.coupon-desc + span.coupon-date + span.coupon-price{
      color: #333;
    }
  }
}

// 이벤트 리스트
.event-slide {
  .item-list.swiper-container .swiper-wrapper {
    padding:0;
  }
  .swiper-container .item-box {
    width:calc(100% - #{rem(80)});
    margin:0 rem(40);
    .img-slot {
      width:100%;
      height:auto;
      padding:0;
      border:0;
      .pd-name {
        position: absolute;
        z-index:3;
        left:rem(30);
        top:50%;
        transform: translateY(-50%);
        width:rem(300);
        margin:0;
        word-break: keep-all;
        height:auto;
        line-height:rem(38);
      }
      img {
        height:auto;
      }
    }
  }
}

.item-box.sold-out {
  .img-slot::after {
    content:'품절되었습니다.';
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,0.3);
    color:#fff;
    text-align: center;
    font-size: rem(24);
    font-weight:500;
    padding:rem(13) 0 ;
  }
}