.color-green{
  color: #6b8138!important;
  // color: #89b03f!important;
}
.color-red{
  color: #ed1c24!important;
}

.container{
  margin: 0 auto;
  padding: 0 rem(40);
}

.content{
  padding: rem(182) 0 rem(150) 0;
}
.content.main{
  padding-bottom: rem(100);
}
.content.bottom{
  padding-bottom: rem(260);
}

