//멤버십
.membership-content{
  .content-title{
    .title{
      font-size: rem(36);
      letter-spacing: $letter-spacing;
      b {
        @include font-manrope(700);
        letter-spacing: 0;
      }
    }
  }
  .ms-grade{
    margin-bottom: rem(80);
    .grade-area{
      margin-bottom: rem(80);
      .grade-wrap {
        padding-top:rem(50);
        padding-bottom:rem(20);
        background: url("../img/ui/membership_logo.png") no-repeat top center;
        background-size: cover;
        width: calc(100% - #{rem(80)});
        margin:0 auto;
      }
      .grade-slide .swiper-slide{
        width: rem(320);
        height: rem(718);
      }
      .swiper-slide.active .grade-box{
        margin-top: rem(-40);
        box-shadow: rem(20) rem(20) rem(40) rgba(0,0,0,0.2);
      }
    }
    .grade-box{
      position:relative;
      padding: rem(30) rem(50) rem(30) rem(190);
      border-radius: rem(10) rem(90) rem(10) rem(90);
      width:rem(570);
      height:rem(155);
      margin:0 auto rem(30);
      .icon-box{
        position:absolute;
        left:rem(50);
        top:rem(30);
        img{
          display: block;
          margin: 0 auto;
          width: rem(95);
        }
      }
      p{
        line-height: rem(30);
        font-size: rem(24);
        font-weight: 500;
        color: #ffffff;
      }
      .grade{
        @include font-manrope(700);
        margin-bottom: rem(15);
        line-height: rem(40);
        font-size: rem(36);
      }
      &.new{
        background: #a3c6c3;
        .icon-box{
          margin-bottom: rem(20);
        }
      }
      &.vip{
        background: #89b03f;
        .icon-box{
          margin-bottom: rem(50);
        }
      }
      &.vvip{
        background: #577365;
        .icon-box{
          margin-bottom: rem(80);
        }
      }
      &.svip{
        background: #484b62;
        .icon-box{
          margin-bottom: rem(110);
        }
      }
      .next-tooltip{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding-bottom: rem(12);
        right: rem(-55);
        bottom: rem(90);
        width: rem(264);
        height: rem(168);
        p{
          line-height: rem(32);
          text-align: center;
          font-size: rem(22);
          color: #333;
          b{
            font-weight: 700;
          }
        }
        background: url("../img/ui/membership_tooltip.png") no-repeat center center;
        background-size: contain;
      }
    }
    .grade-text{
      text-align: center;
      p{
        line-height: rem(40);
        font-size: rem(28);
        font-weight: 500;
        color: #333333;
        letter-spacing: -0.05em;
      }
    }
  }
  
  .ms-notice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(60);
    border-radius: rem(20);
    border-radius: 0 rem(20) rem(20) rem(63);
    background: #f8f8f8;
    overflow: hidden;
    .label{
      display: flex;
      align-items: center;
      padding-left: rem(40);
      flex: 0 0 rem(210);
      width: rem(210);
      height: rem(126);
      line-height: rem(38);
      font-size: rem(28);
      font-weight: 700;
      color: #fff;
      border-radius: 0 rem(63) rem(63) rem(63);
      background: #333333;
      word-break: keep-all;
    }
    .text{
      padding: 0 rem(20) 0 rem(20);
      line-height: rem(36);
      font-size: rem(24);
      color: #333;
      letter-spacing: -0.5px;
      b{
        font-weight: 700;
      }
    }
  }
  
  .ms-grade-list{
    .ms-box{
      position: relative;
      margin-top: rem(110);
      padding-left: rem(240);
      padding-top: rem(68);
      &:first-child{
        margin-top: 0;
      }
      &.new .label-box .label:before{
        background: url("../img/icons/icon_member_new.png") no-repeat center center;
        background-size: contain;
      }
      &.vip .label-box .label:before{
        background: url("../img/icons/icon_member_vip.png") no-repeat center center;
        background-size: contain;
      }
      &.vvip .label-box .label:before{
        background: url("../img/icons/icon_member_vvip.png") no-repeat center center;
        background-size: contain;
      }
      &.svip .label-box .label:before{
        background: url("../img/icons/icon_member_svip.png") no-repeat center center;
        background-size: contain;
      }
      &.my{
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: -1px;
          top: 0;
          width: rem(63);
          height: rem(51);
          background: url("../img/icons/icon_member_my.png") no-repeat;
          background-size: contain;
        }
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        left: rem(240);
        top: rem(4);
        right: 0;
        height: rem(2);
        background: #e7e7e7;
      }
    }
    .label-box{
      position: absolute;
      left: 0;
      top: 0;
      padding-top: rem(65);
      width: rem(210);
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: rem(6);
        border-radius: rem(3);
        background: #31291c;
      }
      .label{
        @include font-manrope(700);
        position: relative;
        padding-left: rem(90);
        line-height: 1;
        font-size: rem(50);
        color: #333;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(10);
          top: 50%;
          margin-top: rem(-35);
          width: rem(70);
          height: rem(70);
        }
      }
    }
    .text-box{
      position: relative;
      padding-left: rem(52);
      margin-bottom: rem(50);
      &:last-child{
        margin-bottom: 0;
      }
      .icon{
        display: block;
        position: absolute;
        left: 0;
        top: rem(3);
      }
      p{
        margin-bottom: rem(18);
        line-height: rem(38);
        font-size: rem(26);
        color: #58595b;
        word-break: keep-all;
        letter-spacing: -0.05em;
        b{
          font-weight: 700;
          color: #333;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  
  .ms-price-list{
    .ms-box{
      position: relative;
      margin-top: rem(110);
      padding-top: rem(60);
      &:first-child{
        margin-top: 0;
      }
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 49%;
        height: rem(6);
        border-radius: rem(3);
        background: #31291c;
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: rem(4);
        width: 47%;
        height: rem(2);
        background: #e7e7e7;
      }
      .label{
        margin-bottom: rem(50);
        line-height: rem(60);
        font-size: rem(32);
        color: #333333;
        letter-spacing: -0.05em;
        .price{
          font-weight: 700;
          b{
            @include font-manrope(800);
            margin-right: rem(5);
            font-size: rem(54);
            letter-spacing: rem($letter-spacing-price);
          }
        }
      }
      .item-list-sm{
        .item-box{
          padding: 0;
          margin-top: rem(20);
          &:first-child{
            margin-top: 0;
          }
          .img-slot{
            border: rem(2) solid #e7e7e7;
            border-radius: rem(15);
            overflow: hidden;
          }
          .info-slot {
            padding-left: rem(40);
          }

          .pd-name {
            height: auto;
            margin-bottom: rem(10);
          }

          .pd-desc {
            color: #89b03f;
          }
        }
      }
    }
  }
  
  .ms-join{
    padding: rem(90) rem(50) rem(80) rem(50);
    border-radius: rem(30);
    background: #f3f4e6;
    .join-title{
      @include font-manrope(800);
      margin-bottom: rem(15);
      text-align: center;
      line-height: rem(50);
      font-size: rem(42);
      color: #3a5542;
      text-transform: uppercase;
    }
    .join-sub{
      text-align: center;
      line-height: rem(30);
      font-size: rem(28);
      color: #333333;
      white-space: nowrap;
      letter-spacing: -0.5px;
    }
    .reward-list{
      li{
        display: flex;
        align-items: center;
        margin-top: rem(30);
        &:first-child{
          margin-top: 0;
        }
        .icon{
          position: relative;
          flex: 0 0 rem(80);
          width: rem(80);
          height: rem(80);
          border-radius: 50%;
          background: #e0e4cd;
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin: rem(-25) 0 0 rem(-25);
            width: rem(50);
            height: rem(50);
            background-size: contain!important;
          }
        }
        &:nth-child(1) .icon:before{
          background: url("../img/icons/icon_reward_03.png") no-repeat center center;
        }
        &:nth-child(2) .icon:before{
          background: url("../img/icons/icon_reward_01.png") no-repeat center center;
        }
        &:nth-child(3) .icon:before{
          background: url("../img/icons/icon_reward_04.png") no-repeat center center;
        }
        // &:nth-child(4) .icon:before{
        //   background: url("../img/icons/icon_reward_04.png") no-repeat center center;
        // }
        // &:nth-child(5) .icon:before{
        //   background: url("../img/icons/icon_reward_05.png") no-repeat center center;
        // }
        p{
          padding-left: rem(20);
          line-height: rem(30);
          font-size: rem(24);
          color: #333333;
          white-space: nowrap;
          letter-spacing: -0.5px;
          b{
            font-weight: 700;
          }
        }
      }
    }
    .join-bottom{
      margin-top: rem(80);
      padding-top: rem(80);
      border-top: rem(2) solid #dfe0d4;
      .join-img{
        img{
          display: block;
          margin: 0 auto;
          width: 75%;
        }
      }
      .join-text{
        margin-top: rem(25);
        margin-bottom: rem(45);
        text-align: center;
        line-height: rem(42);
        font-size: rem(26);
        color: #333333;
      }
      .btn-join {
        [class*="icon-"] {
          margin-right: rem(10);
        }
      }
    }
  }
  
  .coupon-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(40);
    background: #f7fafc;
    .label{
      font-size: rem(28);
      font-weight: 700;
      color: #333333;
      .icon{
        margin: rem(-4) rem(15) 0 0;
      }
    }
    .btn-link{
      @include font-manrope(700);
      display: block;
      font-size: rem(32);
      color: #333333;
      .icon{
        margin: rem(-4) 0 0 rem(15);
        // opacity: 0.5;
      }
    }
  }
}