@use "sass:math";
@mixin bg-default-set($size){
	background-repeat: no-repeat;
	background-size: $size;
}
@mixin default-pad-side{
	padding-left: rem($default-container-pad);
	padding-right: rem($default-container-pad);
}
@mixin img-only{
	text-indent: -99999px;
	font-size: 0;
	line-height: 0;
}
@mixin ellipse{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//n줄 말줄임
@mixin ellipsen($line){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin prefix-center-suffix{
	display: flex;
	justify-content: space-between;
	.suffix, .center, .prefix{
		display: flex;
		flex: 1 1 auto;
		align-items: center;
	}
	.prefix{
		justify-content: flex-start;
	}
	.center{
		justify-content: center;
	}
	.suffix{
		justify-content: flex-end;
	}
}
@mixin full-page($position){
	position: $position;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
@mixin scrollbar-custom{
	&::-webkit-scrollbar {
		width: rem(8);
		background-color: rgba(0, 0, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		width: rem(3);
		background-color: rgba(0, 0, 0, .3);
		background-clip: padding-box;
		border: rem(3) solid transparent;
		border-radius: rem(5);
	}
	scroll-behavior: smooth;
}
@mixin shadow{
	box-shadow: rem(5) 0 rem(20) rgba(0, 0, 0, 0.2);
}

@mixin column($divide, $gap){
	flex: 0 0 calc(#{math.div(100, $divide)}% - #{math.div($gap * ($divide - 1), $divide)}px);
	width: calc(#{math.div(100, $divide)}% - #{math.div($gap * ($divide - 1), $divide)}px);
}
@mixin transtion($sec){
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-duration: $sec;
  -moz-transition-duration: $sec;
  -ms-transition-duration: $sec;
  -o-transition-duration: $sec;
  transition-duration: $sec;
}
@mixin transtion-delay($sec){
  -webkit-transition-delay: $sec;
  -moz-transition-delay: $sec;
  -ms-transition-delay: $sec;
  -o-transition-delay: $sec;
  transition-delay: $sec;
}
@mixin font-manrope($weight) {
  font-family: "Manrope";
  font-weight: $weight;
}
@mixin tag{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-left: rem(20);
	padding-right: rem(20);
	height: rem(50);
	font-size: rem(24);
	line-height: 1;
	color: #58595b;
	border: rem(2) solid #e7e7e7;
	border-radius: rem(24);
	margin-right: rem(10);
	letter-spacing: rem($letter-spacing-text);
	white-space: nowrap;
	font-family: "Manrope", 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
	&:nth-last-of-type(1) {
		margin-right: 0;
	}
	&.sm {
	  font-size:rem(20);
	}
}

@mixin bgcover{
  background-position: center center !Important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
