.mypage-wrap{
  .mypage-header{
    display: flex;
    margin-bottom: rem(30);
    .my-profile{
      margin-left: rem(40);
      .name{
        position: relative;
        font-size: rem(42);
        font-weight: 700;
      }
      p{
        font-size: rem(24);
        color: $fc-dark-gray;
      }
    }
  }
  .membership-info-wrap{
    display: flex;
    align-items: center;
    p{
      flex: 1 1 auto;
      font-size: rem(26);
      font-weight: 700;
      letter-spacing: rem($letter-spacing-title);
      em{
        color: $primary;
      }
      .next-level{
      }
    }
    .btn-round{
      vertical-align: middle;
      font-size: rem(24);
      width: rem(160);
      height: rem(58);
    }
  }
  .membership-progressbar{
    .graph-bar{
      display: inline-block;
      position: relative;
      margin: rem(30) 0;
      width: 100%;
      height: rem(12);
      vertical-align: middle;
      border-radius: rem(6);
      background: #dddddd;
      .bar{
        position: absolute;
        left: 0; 
        top: 0;
        width: 0;
        height: rem(12);
        border-radius: rem(6);
        background: #333333;
      }
    }
    .legend{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: rem(24);
      font-weight: 700;
      .end{
        color: $fc-light-gray;
      }
    }
  }
  .my-point{
    display: flex;
    width: 100%;
    height: rem(250);
    margin-top: rem(60);
    background-color: $bg-blue;
    border-radius: rem(30);
    [class*="summary-"]{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1 1 auto;
      text-align: center;
      .title{
        margin-top: rem(25);
        font-size: rem(24);
        font-weight: 500;
      }
      .count{
        margin-top: rem(15);
        @include font-manrope(700);
        font-size: rem(32);
        color: #6b8138;
      }
    }
    .point-box{
      padding: 0 rem(45);
      width: 100%;
      .point-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(40) 0;
        .label{
          font-size: rem(26);
          font-weight: 700;
          color: #333333;
          .icon{
            margin: rem(-4) rem(10) 0 0;
          }
        }
        .point{
          @include font-manrope(700);
          font-size: rem(42);
          color: #89b03f;
        }
      }
      .point-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(30);
        border-top: 1px dashed #e7e7e7;
        .label{
          font-size: rem(24);
          font-weight: 500;
          color: #333333;
        }
        .btn-link{
          @include font-manrope(700);
          display: block;
          font-size: rem(26);
          color: #333333;
          .icon{
            margin: rem(-4) 0 0 rem(10);
            opacity: 0.5;
          }
        }
      }
    }
  }
  .mypage-links{
    .h2-wrap{
      margin-top: rem(70);
      padding-bottom: rem(20);
      border-bottom: 1px solid #eeeeee;
      h2{
        line-height: 1;
        font-size: rem(32);
        font-weight: 700;
      }
    }
    .links-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem(36);
      >li{
        flex: calc((100% - #{rem(40)})/2);
        flex-grow: 0;
        height: rem(55);
        
        .link{
          position: relative;
          display: block;
          font-size: rem(26);
          line-height: rem(55);
          color: $fc-dark-gray;
        }
      }
    }
  }
  
  //회원탈퇴
  .drop-area{
    padding-top: rem(70);
    .drop-caution-box{
      padding: rem(40);
      border-radius: rem(25);
      background: #f8f8f8;
    }
    .check-agree .text{
      font-size: rem(23);
      white-space: nowrap;
    }
  }
  
  .review-area{
    .btn-review-guide{
      display: block;
      position: relative;
      margin-bottom: rem(50);
      padding-left: rem(40);
      height: rem(120);
      line-height: rem(120);
      font-size: rem(28);
      font-weight: 700;
      color: #333;
      border-radius: rem(20);
      background: #f7fafc;
      .icon{
        margin: rem(-4) rem(20) 0 0;
      }
      .icon-arrow-black{
        display: block;
        position: absolute;
        right: rem(50);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
    .item-list-sm{
      border-top: 1px solid #e7e7e7;
      .item-box{
        border-radius: 0;
        border-bottom: 1px solid #e7e7e7;
        .img-slot{
          flex: 0 0 rem(160);
          width: rem(160);
          height: rem(160);
        }
        .info-slot{
          padding: 0 rem(20);
          .pd-name{
            height: auto;
          }
          .pd-price{
            margin-top: rem(15);
          }
        }
        .btn-slot{
          flex: 0 0 rem(160);
          display: inline-flex;
          min-height: rem(160);
          align-items: flex-end;
          .btn{
            width: 100%;
          }
        }
        .point-slot{
          flex: 0 0 rem(160);
          text-align: center;
          .label{
            margin-bottom: rem(6);
            line-height: rem(32);
            font-size: rem(22);
            font-weight: 700;
            color: #333333;
          }
          .point{
            @include font-manrope(700);
            line-height: rem(40);
            font-size: rem(32);
            color: #6b8529;
          }
        }
      }
    }
    
    .review-view-list{
      border-top: 0;
      .review-view-area{
        padding: 0 rem(40) rem(60) rem(40);
        margin-bottom: 0;
        border-bottom: rem(10) solid #f5f5f5;
      }
      .item-box{
        padding: rem(20) 0;
        margin-bottom: rem(40);
        border-bottom: 1px solid #e7e7e7;
        .info-slot{
          .pd-name{
            margin-bottom: rem(10);
          }
          .pd-sub{
            margin: 0;
          }
        }
      }
    }
  }

  // 피부정보관리
  &.mypage-skininfo{
    h3{
      margin-top: rem(50);
      margin-bottom: rem(40);
      font-size: rem(28);
      font-weight: 700;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      >li{
        flex: 0 1 calc(50% - #{rem(15)});
        display: inline-block;
        height: rem(320);
        margin-right: rem(30);
        
        &:nth-of-type(2n){
          margin-right: 0;
        }
        &:nth-last-of-type(n+3){
          margin-bottom: rem(30);
        }
        >a{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 100%;
          border: 1px solid #e7e7e7;
          border-radius: rem(20);
          p{
            margin-top: rem(38);
            font-size: rem(28);
            height:rem(40);
            font-weight: 300;
            color: $fc-dark-gray;
          }
          &.active{
            border: 1px solid #333333;
            p{
              font-weight: 500;
            }
            .icon-skin-dry-off{
              @extend .icon-skin-dry;
            }
            .icon-skin-complex-off{
              @extend .icon-skin-complex;
            }
            .icon-skin-oily-off{
              @extend .icon-skin-oily;
            }
            .icon-skin-sensitive-off{
              @extend .icon-skin-sensitive;
            }
            .icon-skin-whitening-off{
              @extend .icon-skin-whitening;
            }
            .icon-skin-elastic-off{
              @extend .icon-skin-elastic;
            }
            .icon-skin-moisturizing-off{
              @extend .icon-skin-moisturizing;
            }
            .icon-skin-sensitive-problem-off{
              @extend .icon-skin-sensitive-problem;
            }
          }
        }
      }
    }
  }
}

.userinfo-area{
  .info-table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    th{
      padding: rem(15) rem(10) rem(15) 0;
      width: rem(170);
      line-height: rem(30);
      text-align: left;
      font-size: rem(22);
      font-weight: 700;
      color: #333333;
      white-space: nowrap;
    }
    td{
      padding: rem(15) 0;
      p{
        line-height: rem(36);
        font-size: rem(22);
        color: #333333;
      }
      .btn{
        width: rem(200);
      }
    }
  }
  .agree-box{
    .text-box{
      p{
        line-height: rem(34);
        font-size: rem(22);
        color: #818286;
        word-break: keep-all;
        &+p {
          margin-top:rem(20);
        }
      }
    }
    .agree-check{
      display: flex;
      justify-content: space-between;
      margin-top: rem(40);
      width: 85%;
    }
  }
  .right-box{
    text-align: right;
  }
  .btn-user-drop{
    display: inline-block;
    line-height: rem(40);
    font-size: rem(24);
    font-weight: 700;
    color: #58595b;
    .icon{
      margin: rem(-6) rem(6) 0 0;
    }
  }
  .count-down-time{
    display: inline-block;
    width: 100%;
    .input-text{
      padding-right: rem(65);
    }
  }
  
}

.sns-connect-list{
  .connect-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: rem(160);
    margin-top: rem(30);
    &:first-child{
      margin-top: 0;
    }
    .icon-box{
      position: absolute;
      left: 0;
      top: 0;
      filter: grayscale(100%);
      width: rem(140);
      .icon{
        opacity: 0.3;
      }
      .icon-kakao{
        opacity: 1;
      }
      .icon-naver{
        opacity: 0.4;
      }
      .icon-apple{
        opacity: 0.2;
      }
    }
    .msg{
      line-height: rem(60);
      font-size: rem(23);
      color: #bcbdc1;
      white-space: nowrap;
      &.on{
        display: none;
        color: #333;
        font-weight: 500;
      }
    }
    .btn{
      flex: 0 0 rem(140);
    }
    &:not(.on) .btn-disconnect{
      display: none;
    }
    &.on {
      .icon-box{
        filter: grayscale(0);
        .icon{
          opacity: 1;
        }
      }
      .msg.off{
        display: none;
      }
      .msg.on{
        display: block;
      }
      .btn-connect{
        display: none;
      }
    }
  }
}

.account-connect-list{
  .connect-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: rem(30);
    &:first-child{
      margin-top: 0;
    }
    .msg{
      line-height: rem(60);
      font-size: rem(23);
      color: #bcbdc1;
      white-space: nowrap;
    }
    .btn{
      flex: 0 0 rem(140);
    }
    .account-info{
      font-size: rem(26);
      flex: 1 1 auto;
      .name {
        display: block;
      }
    }
  }
}

//주문배송조회 단계
.process-step-box{
  display: flex;
  padding: 0 rem(40);
  background-color: $bg-blue;
  margin-bottom: rem(50);
  li{
    flex: 1;
    position: relative;
    padding: rem(40) 0;
    text-align: center;
    &:after{
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: rem(52);
      width: rem(12);
      height: rem(17);
      background: url("../img/icons/icon_arrow_link_gray.png") no-repeat center center;
      background-size: contain;
    }
    &:last-child:after{
      display: none;
    }
    .num{
      @include font-manrope(700);
      line-height: rem(40);
      font-size: rem(36);
      color: #6b8138;
      display: inline-block;
      min-width:50%;
      &.empty{
        color: #818286;
      }
    }
    .stats{
      margin-top: rem(20);
      line-height: rem(30);
      font-size: rem(24);
      font-weight: 500;
      color: #333333;
    }
  }
}

//반품교환 조회
.refund-step-box{
  width:100%;
  overflow: hidden;
  .title{
    margin-bottom: rem(30);
    line-height: rem(40);
    font-size: rem(36);
    font-weight: 700;
    color: #333;
  }
  .step-list{
    display: flex;
    margin-bottom: rem(50);
    width: 106%;
    li{
      flex: 1;
      position: relative;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(12);
        top: 50%;
        margin-top: rem(-15);
        width: rem(18);
        height: rem(29);
        background: url("../img/icons/icon_arrow_step.png") no-repeat center center;
        background-size: contain;
      }
      &:last-child:after{
        display: none;
      }
      .step-box{
        position: relative;
        padding-top: rem(120);
        width: rem(180);
        height: rem(180);
        text-align: center;
        border-radius: 50%;
        background: #f8f8f8;
        .icon-box{
          position: absolute;
          left: 50%;
          top: rem(35);
          margin-left: rem(-40);
          width: rem(80);
          height: rem(80);
          img{
            display: block;
            width: 100%;
          }
        }
        .label{
          line-height: rem(30);
          font-size: rem(24);
          font-weight: 500;
          color: #333333;
        }
      }
      &:before{
        @include font-manrope(700);
        display: block;
        content: "1";
        position: absolute;
        left: rem(15);
        top: rem(10);
        line-height: rem(40);
        font-size: rem(33);
        color: #333333;
        z-index: 10;
      }
      &:nth-child(2):before{
        content: "2";
      }
      &:nth-child(3):before{
        content: "3";
      }
    }
  }
  .step-text{
    li{
      margin-top: rem(40);
      &:first-child{
        margin-top: 0;
      }
    }
    p{
      line-height: rem(30);
      font-size: rem(24);
      color: #333333;
    }
    .label{
      margin-bottom: rem(15);
      font-size: rem(26);
      font-weight: 700;
    }
  }
}

//배송주소록
.order-address-list{
  li{
    padding: rem(45) rem(40) rem(40) rem(40);
    margin-top: rem(30);
    border: 1px solid #e7e7e7;
    border-radius: rem(25);
    &:first-child{
      margin-top: 0;
    }
    &.active{
      border-color: #333;
    }
    .label{
      margin-bottom: rem(25);
      line-height: rem(30);
      font-size: rem(30);
      font-weight: 700;
      color: #333333;
    }
    .info{
      margin-bottom: rem(20);
      line-height: rem(30);
      font-size: rem(28);
      color: #333333;
      .name{
        position: relative;
        margin-right: rem(38);
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(-18);
          top: 50%;
          margin-top: rem(-10);
          width: rem(2);
          height: rem(20);
          background: #e7e7e7;
        }
      }
    }
    .address p{
      line-height: rem(36);
      font-size: rem(26);
      color: #818286;
    }
    .address-bottom{
      display: flex;
      margin-top: rem(30);
      .default, .btn-default{
        margin-right: auto;
        width: rem(240);
      }
      .btn{
        margin-left: rem(10);
        width: rem(120);
      }
      .btn-default{
        width: rem(250);
      }
    }
  }
}

//회원탈퇴
body.mypage-drop{
  header{
    border: 0;
    background: none;
  }
  .content{
    background: url("../img/ui/member_drop_bg.png") no-repeat center center;
    background-size: cover;
  }
  .drop-complete-area{
    padding: rem(90) rem(55);
    border-radius: rem(30);
    background: rgba(255,255,255,0.9);
    .icon-box{
      margin-bottom: rem(45);
      text-align: center;
      img{
        width: rem(144);
      }
    }
    .logo{
      margin-bottom: rem(15);
      text-align: center;
      img{
        width: rem(345);
      }
    }
    .title{
      margin-bottom: rem(20);
      text-align: center;
      font-size: rem(36);
      font-weight: 700;
      color: #333333;
      letter-spacing: rem($letter-spacing-title);
    }
    .text-box{
      margin-bottom: rem(70);
      text-align: center;
      p{
        line-height: rem(40);
        font-size: rem(24);
        font-weight: 500;
        color: #818286;
      }
    }
  }
}
