//주문결제
.order-payment-wrap{
  .content-faq-list{
    margin-bottom: rem(60);
    border-bottom: 1px solid #e7e7e7;
    .faq-title{
      padding: rem(35) rem(40);
      border-top: 1px solid #e7e7e7;
      border-bottom: 0;
      &:after{
        right: rem(38);
        top: rem(44);
      }
      .title{
        font-size: rem(32);
        font-weight: 700;
        color: #333;
      }
    }
    .faq-text{
      margin-bottom: rem(60);
      padding: rem(40);
      border-bottom: rem(10) solid #f5f5f5;
      background: #fff;
      &.faq-item-list{
        padding: 0;
      }
      .empty {
        font-size: rem(26);
        font-weight: 500;
        color: #333333;
        text-indent: rem(10);
      }
    }
  }
  
  .faq-item-list{
    .item-order-list{
      padding:0 rem(40);
    }
  }
  .item-order-list{
    .item-box{
      padding: rem(30) 0;
      border-bottom: 0;
      border-top: 1px solid #e7e7e7;
      &:first-child{
        border-top: 0;
      }
      .order-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(25);
        padding-left: 0;
        
        .pd-count{
          line-height: rem(36);
          font-size: rem(24);
          font-weight: 700;
          color: #333;
          b {
            display: inline-block;
            @include font-manrope(700);
            margin: rem(-7) rem(3) 0 0;
            vertical-align: middle;
            font-size: rem(28);
          }
        }
        .price-box{
          flex: none
        }
        .pd-price{
          margin: 0 rem(15) 0 0;
        }
        .pd-price, .pd-old-price{
          display: inline-block;
        }
      }
    }
  }
  
  .coupon-title-box{
    display: inline-flex;
    margin-bottom: rem(20);
    .title{
      position: relative;
      margin-left: rem(38);
      line-height: rem(40);
      font-size: rem(28);
      font-weight: 700;
      color: #333333;
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: rem(-18);
        top: 50%;
        margin-top: rem(-11);
        width: 1px;
        height: rem(22);
        background: #e7e7e7;
      }
      &:first-child{
        margin-left: 0;
        &:before{
          display: none;
        }
      }
    }
  }
  .point-input-box{
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    .input-point{
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: rem(60);
      font-size: rem(24);
      font-weight: 700;
      color: #333333;
      border: 0;
    }
    .btn-point-all{
      display: block;
      position: absolute;
      right: rem(-10);
      top: 0;
      padding: 0 rem(10);
      height: rem(60);
      line-height: rem(60);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
    }
  }
  .order-title-box{
    position: relative;
    margin-bottom: rem(15);
    height: rem(60);
    border-bottom: 1px solid #e7e7e7;
    &.noborder{
      border-bottom: 0;
    }
    .title{
      line-height: rem(40);
      font-size: rem(30);
      font-weight: 700;
      color: #333333;
      letter-spacing: rem($letter-spacing-title);
    }
    .btn-modify{
      display: block;
      position: absolute;
      right: rem(10);
      top: 0;
    }
    .total{
      position: absolute;
      right: 0;
      top: 0;
      line-height: rem(40);
      font-size: rem(24);
      font-weight: 500;
      color: #333333;
      .label{
        position: relative;
        margin-right: rem(24);
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(-13);
          top: 50%;
          margin-top: rem(-10);
          width: 1px;
          height: rem(20);
          background: #e7e7e7;
        }
      }
      .price{
        margin-right: rem(6);
        font-size: rem(28);
        font-weight: 700;
      }
    }
  }
  
  .order-info{
    p{
      margin: rem(5) 0;
      line-height: rem(30);
      font-size: rem(24);
      color: #333333;
    }
  }
  
  .payment-info{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    th{
      padding: rem(15) rem(10) rem(15) 0;
      width: rem(170);
      line-height: rem(30);
      text-align: left;
      font-size: rem(24);
      font-weight: 700;
      color: #333333;
      white-space: nowrap;
    }
    td{
      padding: rem(15) 0;
      p{
        line-height: rem(36);
        font-size: rem(24);
        color: #333333;
      }
    }
    tr.total{
      th ,td{
        border-top: 1px solid #e7e7e7;
      }
      th{
        padding: rem(20) 0;
        line-height: rem(40);
        font-size: rem(30);
        font-weight: 700;
      }
      td{
        text-align: right;
        .price{
          line-height: rem(40);
          font-size: rem(28);
          b{
            @include font-manrope(700);
            margin-right: rem(6);
            font-size: rem(44);
            font-weight: 700;
            letter-spacing: rem(-0.05*42);
          }
        }
      }
    }
  }
  
  .option-select-menu{
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: rem(15);
    .btn-select{
      display: block;
      position: relative;
      line-height: rem(60);
      font-size: rem(24);
      font-weight: 500;
      color: #333333;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(15);
        top: 50%;
        margin-top: rem(-6);
        width: rem(17);
        height: rem(12);
        background: url("../img/icons/icon_arrow_down.png") no-repeat center center;
        background-size: contain;
        z-index: 10;
      }
    }
  }
  
  .payment-info-area{
    margin-top: rem(60);
    .table-box{
      padding: rem(60) rem(78);
      border-radius: 0;
    }
    .btn-detail-popup.active .icon{
      transform: rotate(180deg);
    }
    td.sale-detail:not(.active){
      display: none;
    }
    .detail-popup{
      margin-bottom: rem(20);
      padding: rem(30) rem(35);
      border-radius: rem(18);
      background: #fff;
    }
  }
  
  .order-complete{
    padding: rem(50) 0 rem(40) 0;
    margin-bottom: rem(50);
    text-align: center;
    background: #f7fafc;
    p{
      line-height: rem(36);
      font-size: rem(26);
      color: #58595b;
    }
    .title{
      margin-bottom: rem(30);
      line-height: rem(50);
      font-size: rem(44);
      font-weight: 700;
      color: #333333;
    }
  }
  
  .desc-box{
    p{
      line-height: rem(36);
      font-size: rem(26);
      color: #58595b;
      text-align: center;
      .link{
        font-weight: 500;
        color: #333333;
        text-decoration: underline;
      }
    }
  }
  
  .order-gift-total{
    margin-bottom: rem(50);
    .desc-box{
      padding: rem(30) rem(20);
      text-align: center;
      border-radius: rem(20);
      background: #f8f8f8;
      letter-spacing: -1px;
      p{
        line-height: rem(36);
        font-size: rem(25);
        color: #333333;
        b{
          font-weight: 700;
        }
      }
    }
    .total-box{
      position: relative;
      margin-top: rem(50);
      p{
        display: inline-block;
        position: relative;
        line-height: rem(40);
        font-size: rem(26);
        font-weight: 500;
        color: #333333
      }
      .label{
        margin-right: rem(23);
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(-15);
          top: 50%;
          margin-top: rem(-10);
          width: 1px;
          height: rem(20);
          background: #e7e7e7;
        }
      }
      .value{
        margin-left: rem(3);
        font-size: rem(30);
        font-weight: 700;
      }
      .price-warn{
        position: absolute;
        right: 0;
        top: 0;
        color: #ed1c24;
      }
    }
  }
  .message-wrap{
    margin-top: rem(30);
    display: none;
  }
}
//주문결제중
.order-processing{
  .btn-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      flex: 1;
      margin-right: rem(20);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .progressbar{
    margin-top: rem(40);
    .graph-bar{
      width: 100%;
      height: rem(6);
    }
    &.loop{
      @keyframes loading-loop {
        from {
          transform: translate(-100%);
        }
      
        to {
          transform: translate(400%);
        }
      }
      .graph-bar{
        overflow: hidden;
        .bar{
          animation-duration: 3s;
          animation-name: loading-loop;
          animation-iteration-count: infinite;
          background-color: #333333;
        }
      }
    }
  }
  .notice{
    font-size: rem(26);
    color: $fc-dark-gray;
    text-align: center;
    .underline{
      display: inline-block;
      border-bottom: 1px solid $fc-default;
      color: $fc-default;
      font-weight: 500;
    }
  }
}
