body.popup-open{
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}

//필터
.popup-window{
  display: none;
  @include full-page(fixed);
  background: rgba(0,0,0,0.7);
  z-index: 1000;
  overflow-y: auto;
  &.sub-window{
    z-index: 1001;
    .popup-area{
      top: auto;
      height: 70%;
    }
  }
  &.round .popup-area{
    border-radius: rem(60) rem(60) 0 0;
  }
  &.no-header .popup-area .popup-content{
    top: 0;
  }
  &.popup-content{
    .popup-area{
      height: auto;
      .popup-header, .popup-content, .popup-footer{
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
      }
    }
  }
  .image-slide-area{
    top: 10%;
    transform: initial;
  }
  .popup-area{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    .popup-header{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 0 rem(40);
      padding-top: rem(75);
      height: rem(156);
      border-bottom: rem(2) solid #e7e7e7;
      &.black{
        border-color: #000;
      }
      &.no-border{
        border-bottom: 0;
      }
      .title{
        line-height: 1;
        font-size: rem(36);
        font-weight: 700;
        color: #333333;
        letter-spacing: rem($letter-spacing-title);
      }
      .btn-close{
        display: block;
        position: absolute;
        right: rem(30);
        top: rem(68);
        width: rem(50);
        height: rem(50);
      }
      .btn-filter{
        display: block;
        position: absolute;
        right: rem(30);
        top: 50%;
        margin-top: rem(-25);
        padding: 0 rem(10);
        height: rem(50);
        line-height: rem(50);
        font-size: rem(24);
        font-weight: 500;
        color: #333333;
        .icon{
          margin-left: rem(10);
        }
      }
    }
    .popup-footer{
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: rem(130);
      background: #f5f5f5;
      a{
        flex: 1;
        height: rem(130);
        line-height: rem(130);
        font-size: rem(36);
        font-weight: 700;
        .icon{
          margin: 0 0 0 rem(10);
        }
      }
      .line{
        display: block;
        position: relative;
        margin: rem(30) 0;
        width: 1px;
        background: #e7e7e7;
      }
    }
    .popup-content{
      position: absolute;
      top: rem(156);
      left: 0;
      right: 0;
      bottom: rem(130);
      padding: rem(50) rem(40) rem(40) rem(40);
      overflow: hidden;
      overflow-y: auto;
      .form-label{
        margin: rem(60) 0 rem(20) 0;
        line-height: 1;
        font-size: rem(36);
        font-weight: 700;
        color: #333;
        &:first-child{
          margin-top: 0;
        }
      }
      .content-text{
        p{
          line-height: rem(36);
          font-size: rem(24);
          color: #58595b;
        }
      }
    }
  }
  
  .content-desc-top{
    margin-top: rem(50);
    &.gray{
      margin-top: 0;
      padding: rem(100) 0 rem(80) 0;
      background: #f7fafc;
    }
    &:last-child{
      margin-bottom: rem(60);
    }
  }
}
.cs-menu-wrap{
  @include transtion(0.2s);
  opacity: 0;
  visibility: hidden;
  @include full-page(fixed);
  background-color: rgba(255,255,255,1);
  z-index: -1;
  &.open{
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
  .header{
    position: relative;
    height: rem(150);
    .btn-close{
      @extend .icon-close;
      @include img-only;
      display: inline-block;
      position: absolute;
      width: rem(27);
      height: rem(27);
      right: rem(65);
      top: rem(50);
    }
  }
  .menu-list{
    padding-left: rem(40);
    li{
      margin-bottom: rem(50);
      &.active{
        a{
          color: #333333;
        }
      }
      a{
        font-size: rem(36);
        line-height: 1;
        font-weight: 700;
        color: #bcbdc1;
      }
    }
  }
  .footer {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: rem(130);
    background: #f5f5f5;
    a {
      flex: 1;
      height: rem(130);
      line-height: rem(130);
      font-size: rem(36);
      font-weight: 700;

    }
  }
}

.layer-pop{
  opacity: 0;
  @include full-page(fixed);
  background-color: rgba(255,255,255,1);
  z-index: -1;
  overflow: auto;
  &.open{
    opacity: 1;
    z-index: 100;
  }
  $header-height: 156;
  .header{
    position: fixed;
    display: flex;
    width: 100%;
    height: rem($header-height);
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff;
    h3{
      display: flex;
      align-items: center;
      padding-left: rem(40);
      font-size: rem(36);
      font-weight: 700;
    }
    .btn-close{
      @extend .icon-close-popup;
      @include img-only;
      display: inline-block;
      position: absolute;
      width: rem(27);
      height: rem(27);
      right: rem(65);
      top: rem(50);
    }
  }
  .layer-body{
    margin-top: rem($header-height);
    margin-bottom: rem($btn-box-height);
  }
  .btn-fixed-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

//반품/교환 상세정보
#popup-refund-detail{
  .popup-area{
    .popup-content{
      padding-top: 0;
    }
  }
  .item-refund-list{
    border-top: 0;
    .item-box{
      padding-bottom: rem(40);
      border-bottom: 0;
      border-top: 1px solid #e7e7e7;
      &:first-child{
        border-top: 0;
      }
    }
  }
}

//매장 상세 정보
#popup-store-detail{
  .popup-content{
    padding-left: 0;
    padding-right: 0;
  }
  .store-info{
    position: relative;
    padding: 0 rem(40) rem(40) rem(40);
    background: #fff;
    z-index: 10;
    .name{
      margin-bottom: rem(10);
      line-height: rem(36);
      font-size: rem(28);
      font-weight: 700;
      color: #333333;
    }
    .address{
      margin-bottom: rem(25);
      line-height: rem(36);
      font-size: rem(24);
      color: #818286;
    }
    .tel{
      @include font-manrope(700);
      display: inline-block;
      padding: 0 rem(20);
      height: rem(68);
      line-height: rem(66);
      font-size: rem(28);
      color: #ffffff;
      border-radius: rem(35);
      background: #333333;
      .icon{
        margin-right: rem(10);
      }
    }
  }
  .store-map{
    height: rem(500);
    z-index: 1;
    .map{
      width: 100%;
      height: 100%;
    }
  }
  .store-transport{
    padding: 0 rem(40);
    background: #ffffff;
    z-index: 10;
    .transport-box{
      position: relative;
      padding: rem(40) 0;
      border-top: 1px solid #e7e7e7;
      display: flex;
      align-items: center;
      &:first-child{
        border-top: 0;
      }
      .list-wrap{
        flex: 1 1 auto;
        p{
          position: relative;
          // margin-top: rem(2);
          line-height: rem(38);
          font-size: rem(24);
          font-weight: 500;
          color: #58595b;
          &.bus{
            padding-left: rem(20);
            &:before{
              display: block;
              content: "";
              position: absolute;
              left: 0;
              top: rem(15);
              width: rem(9);
              height: rem(9);
              border-radius: 50%;
            }
            &.blue:before{
              background: #1b2caa;
            }
            &.green:before{
              background: #89b03f;
            }
            &.red:before{
              background: #8a494d;
            }
          }
          &.subway{
            padding-left: rem(20);
          }
        }
      }
      .label{
        flex: 0 0 rem(200);
        // position: absolute;
        // left: rem(20);
        // top: 50%;
        // margin-top: rem(-24);
        // transform: translateY(-50%);
        // line-height: rem(60);
        font-size: rem(26);
        font-weight: 700;
        color: #333333;
        .icon{
          margin: 0 rem(12) 0 0;
          vertical-align: middle;
        }
      }
      
    }
  }
}

//매장 상세 정보
#popup-shipping-detail, #popup-shipping-cancel, #popup-shipping-change{
  .order-item-info{
    padding: 0 rem(40) rem(40) rem(40);
    margin-bottom: rem(5);
    border-bottom: rem(10) solid #f5f5f5;
    .info-box{
      display: inline-flex;
      span{
        display: block;
        position: relative;
        margin-left: rem(38);
        line-height: rem(50);
        font-size: rem(22);
        font-weight: 500;
        color: #333333;
        position: relative;
        &:after{
          display: block;
          content: "";
          position: absolute;
          left: rem(-18);
          top: 50%;
          margin-top: rem(-9);
          width: rem(2);
          height: rem(18);
          background: #e7e7e7;
        }
        &:first-child{
          margin-left: 0;
        }
        &:first-child:after{
          display: none;
        }
      }
      .date{
        @include font-manrope(700);
        font-size: rem(26);
        color: #333333;
        
      }
    }
    .dot-list{
      margin-top: rem(20);
      padding-top: rem(30);
      border-top: 1px solid #e7e7e7;
    }
  }
  .item-refund-list{
    border-top: 0;
    .item-box{
      padding-top: rem(40);
      &:last-child{
        border-bottom: 0;
      }
    }
  }
}

#popup-shipping-detail{
  .payment-info-area{
    margin-top: rem(30);
    padding: 0;
    .table-box{
      padding: rem(30) rem(70);
    }
  }
}

#popup-shipping-cancel{
  .form-content{
    .account-radio-wrap{
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(30);
    }
    .check-wrap{
      margin-top: rem(40);
    }
    .dot-list{
      margin-top: rem(40);
      padding-top: rem(40);
      border-top: 1px solid #e7e7e7;
    }
  }
}

//구매확정 팝업
#popup-confirm-point{
  .popup-area{
    overflow: visible;
    .icon-box{
      position: absolute;
      left: 50%;
      top: rem(-129);
      margin-left: rem(-209);
      width: rem(418);
      z-index: 10;
      img{
        display: block;
        width: 100%;
      }
    }
    .popup-content{
      scroll-behavior: smooth;
      padding: 0;
      overflow: hidden;
      border-radius: rem(60) rem(60) 0 0;
      z-index: 1;
      .point-top{
        position: relative;
        padding: rem(150) rem(40) rem(50) rem(40);
        background: #f3f4e6;
        .reward-point{
          @include font-manrope(700);
          text-align: center;
          line-height: rem(60);
          font-size: rem(46);
          color: #3a5542;
          letter-spacing: -1px;
          white-space: nowrap;
          .point{
            font-size: rem(62);
          }
        }
        .point-box{
          display: flex;
          justify-content: space-between;
          margin: rem(50) 0 rem(30) 0;
          padding: rem(40);
          border-radius: rem(25);
          background: #fff;
          .label{
            line-height: rem(40);
            font-size: rem(28);
            font-weight: 500;
            color: #333333;
          }
          .point{
            @include font-manrope(700);
            line-height: rem(40);
            font-size: rem(32);
            color: #6b8138;
          }
        }
        .point-desc{
          text-align: center;
          line-height: rem(40);
          font-size: rem(26);
          color: #333;
        }
      }
      .point-bottom{
        padding: rem(40) rem(40) rem(60) rem(40);
        .review-text{
          position: relative;
          padding-left: rem(120);
          .icon{
            position: absolute;
            left: rem(10);
            top: rem(3);
          }
          p{
            line-height: rem(40);
            font-size: rem(26);
            font-weight: 500;
            color: #333;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// 주변매장보기
#popup-store-list{
  .popup-area{
    .popup-content{
      padding-top: 0;
      padding-bottom: 0;
      bottom: 0;
    }
    .store-result-list{
      .list-box:last-child{
        border-bottom: 0;
      }
    }
  }
}

//구매하기옵션
#popup-item-option{
  bottom: rem(130);
  top: unset;
  height: 100%;
  .popup-area{
    max-height: 100%;
    overflow: visible;
  }
  .popup-content{
    padding-top: rem(80);
    max-height: 100%;
  }
  .icon-option-close{
    position: absolute;
    left: 50%;
    top: rem(-60);
    margin-left: rem(-22);
    width: rem(45);
    height: rem(28);
    background: url("../img/icons/icon_option_close.png") no-repeat center center;
    background-size: contain;
  }
  .select-item-box{
    .select-option-detail{
      margin-top: rem(20);
    }
  }
  .count-item-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: rem(20);
    .label{
      font-size: rem(26);
      font-weight: 500;
      color: #333;
    }
  }
  .option-list-box{
    margin-top: rem(30);
    max-height: rem(520);
    overflow: hidden;
    overflow-y: auto;
    .option-box{
      position: relative;
      padding: rem(20);
      margin-top: rem(20);
      border-radius: rem(10);
      background: #f7fafc;
      &:first-child{
        margin-top: 0;
      }
      .value-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(5);
      }
      .btn-item-delete{
        display: block;
        position: absolute;
        right: rem(15);
        top: retm(15);
        width: rem(30);
        height: rem(30);
        z-index: 10;
      }
      .pd-name{
        @include ellipse;
        width: 100%;
        line-height: rem(32);
        font-size: rem(26);
        font-weight: 500;
        color: #333;
      }
      .pd-price{
        font-size: rem(26);
        font-weight: 500;
        color: #333;
        .price{
          @include font-manrope(700);
          margin-right: rem(3);
          font-size: rem(30);
        }
      }
      .count-box{
        flex: 0 0 rem(240);
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #e7e7e7;
      }
    }
  }
  .total-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(40);
    padding: 0 rem(20);
    .label{
      font-size: rem(30);
      font-weight: 700;
      color: #333;
    }
    .total{
      font-size: rem(28);
      font-weight: 500;
      color: #6b8138;
      .price{
        @include font-manrope(700);
        font-size: rem(44);
      }
    }
  }
}

//쿠폰 적용 대상 안내
#popup-coupon-target{
  .coupon-box{
    position: relative;
    flex: 1;
    padding: rem(20) 0 0 0;
    .coupon-price{
      @include font-manrope(700);
      line-height: rem(50);
      font-size: rem(30);
      color: #8bb23f;
      text-indent: rem(-5);
      .price{
        margin-left: rem(5);
        font-size: rem(50);
      }
    }
    .coupon-name{
      @include ellipsen(2);
      line-height: rem(42);
      font-size: rem(32);
      font-weight: 700;
      color: #333333;
    }
    .coupon-target{
      margin-top: rem(20);
      line-height: rem(30);
      font-size: rem(24);
      font-weight: 500;
      color: #58595b;
      .btn-link{
        color: #58595b;
        .icon{
          margin-left: rem(10);
        }
      }
    }
    .coupon-info{
      margin-top: rem(25);
      line-height: rem(30);
      font-size: rem(22);
      font-weight: 500;
      color: #818286;
      white-space: nowrap;
      .dday{
        position: relative;
        margin-left: rem(40);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(-20);
          top: 50%;
          margin-top: rem(-10);
          width: 1px;
          height: rem(20);
          background: #e7e7e7;
        }
      }
    }
  }
}

//상품정보제공공시
#popup-productinfo-detail{
  .product-info-notice{
    .title{
      margin-bottom: rem(20);
      line-height: 1;
      font-size: rem(28);
      font-weight: 700;
    }
    .info-content{
      margin-bottom: rem(60);
      font-size: rem(24);
      color: $fc-dark-gray;
    }
    .btn-round.md {
      font-size:rem(24);
      width: auto;
      padding:0 rem(26);
    }
  }
}

// 제품사용기한
#popup-dateof-use{
  .date-of-use{
    overflow-x: auto;
    margin-bottom: rem(60);
    table{
      width: 100%;
      margin-right: rem(40);
      border-top: rem(2) solid #333333;
      border-spacing: 0;
      border-collapse: collapse;
      thead{
        tr{
          th{
            border-bottom: rem(2) solid #e7e7e7;
            padding: rem(38) 0;
            text-align: center;
            font-size: rem(26);
            font-weight: 700;
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: rem(22);
            border-bottom: rem(2) solid #e7e7e7;
            padding: rem(30) rem(15);
            text-align: center;
            vertical-align: middle;
            color: $fc-dark-gray;
          }
        }
      }
    }
  }
  .caution-box{
    margin-bottom: rem(60);
  }
}

// 전성분
#popup-product-material{
  .material-wrap{
    .title{
      font-size: rem(28);
      font-weight: 700;
      line-height: 1;
      margin-bottom: rem(45);
    }
    .material-content{
      font-size: rem(24);
      line-height: 1.8;
      color: $fc-dark-gray;
    }
  }
}

//주의사항
#popup-notice-use{
  .popup-notice-use{
    .title{
      margin-bottom: rem(45);
      font-size: rem(30);
      font-weight: 500;
      line-height: 1;
    }
    .use-notice-list{
      counter-reset: notice;
      padding-left: rem(30);
      li{
        margin-bottom: rem(40);
        line-height: 1.5;
        font-size: rem(26);
        color: $fc-dark-gray;
        text-indent: rem(-15);
        &:before{
          counter-increment: notice;
          content: counter(notice);
          display: inline-block;
          margin-right: rem(10);
        }
      }
    }
  }
}

//상품문의
#popup-item-qna{
  .form-content .check-secret{
    margin-top: rem(-70);
  }
}

//비밀번호 변경
#popup-password-change{
  .popup-content{
    padding-bottom: rem(100);
  }
}

//비밀번호 확인
#popup-password{
  .popup-content{
    padding-bottom: rem(100);
  }
}

//리뷰이용가이드 팝업
#popup-review-guide{
  .popup-content{
    padding-bottom: rem(100);
  }
  .review-guide{
    .review-title{
      margin-bottom: rem(20);
      line-height: rem(34);
      font-size: rem(28);
      font-weight: 700;
      color: #333;
    }
    .dot-list{
      margin-bottom: rem(40);
      letter-spacing: -1px;
    }
    .review-guide-box{
      display: flex;
      flex-wrap: wrap;
      margin-top: rem(30);
      padding: rem(40) 0;
      text-align: center;
      border-radius: rem(15);
      background: #f7fafc;
      .title{
        width: 100%;
        margin-bottom: rem(40);
        line-height: rem(34);
        font-size: rem(28);
        color: #333333;
        font-weight: 500;
        letter-spacing: rem($letter-spacing-title);
        .icon{
          margin: rem(-4) rem(6) 0 0;
        }
      }
      .guide-box{
        position: relative;
        width: 50%;
        text-align: center;
        margin:0 auto;
        .label{
          display: inline-block;
          line-height: 1;
          font-size: rem(26);
          color: #58595b;
        }
        .point{
          display: inline-block;
          @include font-manrope(700);
          margin-left: rem(12);
          line-height: 1;
          font-size: rem(26);
          color: #6b8138;
        }
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
          height: rem(30);
          background: #e7e7e7;
        }
        &:last-child:after{
          display: none;
        }
      }
    }
  }
}
//환불계좌등록
#popup-account-add{
  .content-desc-top{
    .title{
      font-size: rem(36);
    }
  }
  .popup-content{
    padding-bottom: rem(100);
  }
}

//리뷰 상세
#popup-review{
  .popup-content{
    bottom: rem(190);
    padding-top: 0;
    padding-bottom: rem(60);
    .review-view-area{
      padding-top: rem(40);
    }
  }
  .popup-footer{
    display: block;
    height: rem(190);
    border-top: rem(10) solid #f5f5f5;
    .item-box{
      border-radius: 0;
      .info-slot{
        padding-right: rem(30);
      }
      .btn-slot{
        display: flex;
        flex: 0 0 rem(140);
        align-items: center;
        justify-content: space-between;
        .btn{
          display: block;
          position: relative;
          flex: 0 0 rem(60);
          width: rem(60);
          height: rem(60);
          border-radius: 50%;
          background: #f5f5f5;
          .icon{
            margin: 0;
          }
        }
      }
    }
  }
}

//사은품 이용안내
#popup-gift-guide{
  .popup-content{
    p{
      line-height: rem(36);
      font-size: rem(24);
      color: #58595b;
    }
  }
}

//옵션/수량 변경
#popup-item-change{
  .item-box{
    padding: 0;
    .img-slot{
      flex: 0 0 rem(160);
      width: rem(160);
      height: rem(160);
    }
    .info-slot{
      padding-left: rem(30);
      .pd-name{
        @include ellipsen(2);
        margin-bottom: rem(30);
      }
      .pd-price{
        font-size: rem(26);
        .price{
          font-size: rem(36);
        }
      }
      .pd-old-price{
        font-size: rem(20);
        .price{
          font-size: rem(24);
        }
      }
    }
  }
  
  .option-list{
    .option-box{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: rem(30);
      &:first-child{
        margin-top: 0;
      }
      .opt-box{
        display: flex;
        align-items: center;
        flex: 1;
        .pd-opt{
          line-height: 1;
          font-size: rem(26);
          color: #818286;
        }
        .btn-delete{
          display: block;
          position: relative;
          margin-left: rem(10);
          width: rem(40);
          height: rem(40);
        }
      }
      .price-box{
        flex: 0 0 rem(220);
        padding-right: rem(35);
        text-align: right;
        .pd-price{
          line-height: 1;
          font-size: rem(26);
          font-weight: 500;
          color: #333333;
          .price{
            @include font-manrope(700);
            font-size: rem(30);
          }
        }
      }
    }
  }
  
  .total-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label{
      font-size: rem(30);
      font-weight: 700;
      color: #333;
    }
    .total{
      font-size: rem(28);
      font-weight: 500;
      color: #333;
      .price{
        @include font-manrope(700);
        font-size: rem(44);
      }
    }
  }
}

//사은품 선택
#popup-gift-select{
  .popup-content{
    padding-bottom: 0;
  }
  .page-btn-box{
    justify-content: center;
    margin-bottom:rem(180);
    a{
      flex: 0 0 rem(320);
    }
  }
  
  .gift-more-area{
    .title{
      margin-bottom: rem(30);
      line-height: rem(40);
      font-size: rem(28);
      font-weight: 500;
      color: #333333;
      b{
        font-weight: 700;
        color: #6b8138;
      }
    }
  }
  
  .popup-footer.w100 {
    display: block;
    height:auto;
    .total-price-box {
      margin-top:0;
    }
    .btn-box {
      display:block;
      width:100%;
      text-align: center;
    }
    .btn-sve2 {
      font-size:rem(28);
      line-height:1.4;
      display: flex;
      background:#333333;
    }
    .btn-sve {
      background:#333333;
    }
  }
  .total-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(30) rem(40);
    margin-top: rem(80);
    background: #f7fafc;
    .label{
      font-size: rem(28);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-text);
      .price{
        margin-left: rem(3);
        font-size: rem(24);
        font-weight: 400;
      }
    }
    .total{
      font-size: rem(26);
      font-weight: 500;
      color: #333;
      .price{
        @include font-manrope(700);
        margin-right: rem(5);
        font-size: rem(36);
        letter-spacing: rem($letter-spacing-price);
      }
    }
  }
}

//결제수단선택
#popup-payment-select{
  .payment-list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem(60);
    >li{
      flex: 1 1 50%;
      &:nth-of-type(2n){
        text-align: right;
      }
      &:nth-last-of-type(n+3){
        margin-bottom: rem(30);
      }
    }
    [class*="icon-"]{
      @include img-only;
    }
    a{
      line-height: 1;
      height: rem(100);
      width: calc(100% - #{rem(11)});
      border-radius: rem(50);
      font-size: rem(28);
      font-weight: 700;
      &.active{
        color: #fff;
        background: #31291c;
        font-weight: 700;
        .icon-paycopay{
          @extend .icon-paycopay-off;
        }
        .icon-kakaopay{
          @extend .icon-kakaopay-off;
        }
        .icon-naverpay{
          @extend .icon-naverpay-off;
        }
      }
    }
  }
  .payment-description{
    border-top: 1px solid #e7e7e7;
    padding-top: rem(60);
    padding-bottom: rem(80);
    >ul{
      >li{
        display: none;
      }
    }
    .guide-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title{
        font-size: rem(32);
        font-weight: 700;
        line-height: 1;
        vertical-align: middle;
        letter-spacing: rem($letter-spacing-title);
        .icon{
          vertical-align: bottom;
          margin-right: rem(5);
        }
      }
      .btn-round{
        padding: 0 rem(30);
        width: auto;
        font-size: rem(26);
        height: rem(60);
      }
    }
    .caution-list{
      li{
        margin-top: rem(20);
        &:first-child{
          margin-top: 0;
        }
        p{
          position: relative;
          padding-left: rem(18);
          line-height: rem(36);
          font-size: rem(24);
          color: #818286;
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: rem(16);
            width: rem(6);
            height: rem(6);
            border-radius: 50%;
            background: #bcbdc1;
          }
        }
      }
    }
  }
}

//무이자 할부 혜택
#popup-installment{
  table{
    tr{
      &:nth-of-type(1){
        td{
          padding-top: 0;
        }
      }
      td{
        vertical-align: middle;
        padding-top: rem(40);
        padding-bottom: rem(40);
        border-bottom: 1px solid #e7e7e7;
        p{
          line-height: 1.5;
          font-size: rem(22);
          color: $fc-dark-gray;
          em{
            font-size: rem(24);
            font-weight: 700;
            margin-bottom: rem(5);
          }
          .emphas{
            color: $fc-emphas;
          }
        }
      }
    }
    .logo{
      width: rem(200);
      margin-right: rem(40);
      img{
        width: 100%;
      }
    }
  }
  h3{
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    margin-top: rem(60);
    .icon{
      vertical-align: bottom;
      margin-right: rem(5);
    }
  }
  .caution-list{
    margin-bottom: rem(60);
    li{
      margin-top: rem(20);
      &:first-child{
        margin-top: 0;
      }
      p{
        position: relative;
        padding-left: rem(18);
        line-height: rem(36);
        font-size: rem(24);
        color: #818286;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: rem(16);
          width: rem(6);
          height: rem(6);
          border-radius: 50%;
          background: #bcbdc1;
        }
      }
    }
  }
}

//무통장입금 안내
#popup-guide-deposit, #popup-guide-realtime{
  .info-table{
    width: 100%;
    table-layout: fixed;
    border-top: rem(3) solid #333333;
    border-spacing: 0;
    tr{
      th, td{
        border-bottom: rem(3) solid #e7e7e7;
      }
      th{
        padding: rem(20) rem(10);
        text-align: center;
        vertical-align: middle;
        background: #f8f8f8;
        p{
          font-size: rem(28);
          font-weight: 700;
          color: #333333;
        }
      }
      td{
        padding: rem(20) rem(20) rem(20) rem(30);
        text-align: left;
        p{
          line-height: rem(32);
          font-size: rem(24);
          font-weight: 500;
          color: #333333;
          // word-break: keep-all;
        }
      }
    }
  }
}

// 메인비주얼
#popup-visual{
  .popup-content{
    padding: 0;
    bottom: 0;
    .events{
      a{
        position: relative;
        float: left;
        line-height: 0;
        img{
          width: 100%;
        }
        .text-box{
          position: absolute;
          left: rem(40);
          top: rem(100);
          .pd-name{
            display: block;
            font-size: rem(56);
            line-height: 1;
            font-weight: 700;
            padding-top:rem(6);
            color: #333;
          }
          .pd-name-sub{
            display: block;
            margin-bottom: rem(10);
            line-height: 1;
            font-size: rem(36);
            font-weight: 700;
            color: #333;
          }
          .pd-desc{
            display: block;
            margin-top: rem(30);
            line-height: rem(32);
            font-size: rem(28);
            font-weight: 400;
            color: #58595b;
          }
        }
      }
    }
  }
}

//앱사용유도
#popup-app-use{
  .popup-header{
    height: auto;
    border: 0;
    z-index: 10;
    .btn-close{
      top: rem(60);
      margin-top: 0;
    }
  }
  .content-desc-top{
    .icon-box{
      height: rem(120);
    }
    .title{
      @include font-manrope(700);
      line-height: rem(52);
      font-size: rem(42);
      color: #333333;
      b{
        color: #89b03f;
      }
    }
    .link-box{
      margin-top: rem(50);
      text-align: center;
      .btn-link{
        display: inline-block;
        font-size: rem(26);
        color: #58595b;
        border-bottom: 1px solid #58595b;
      }
    }
  }
}

//앱시작
#popup-app-start{
  .popup-area {
    overflow: hidden;
    background-color: transparent;
    border-radius: 0;
  }
  .popup-content{
    padding: 0;
  }
  .slide-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    .slide-count{
      @include font-manrope(700);
      position: absolute;
      right: rem(36);
      bottom: rem(38);
      line-height: rem(20);
      font-size: rem(26);
      color: #333;
      z-index: 10;
    }
    .btn-link{
      @include bgcover;
      display: block;
      position: relative;
      height: rem(500);
      width: 100%;
      border-radius: rem(60) rem(60) 0 0;
      overflow: hidden;
      .text-box{
        display: block;
        position: absolute;
        left: rem(38);
        top: 50%;
        transform: translateY(-50%);
        .title{
          @include font-manrope(700);
          display: block;
          margin-bottom: rem(25);
          line-height: 1.2em;
          font-size: rem(60);
          color: #15563c;
        }
        .desc{
          display: block;
          line-height: 1.4em;
          font-size: rem(28);
          font-weight: 500;
          color: #333333;
        }
      }
    }
  }
  .bottom-box{
    position: relative;
    background-color: #fff;
    padding: rem(35) rem(36) 0 rem(38);
    height: rem(96);
    p{
      line-height: 1.4em;
      font-size: rem(26);
      color: #818286;
    }
    .btn-close{
      display: block;
      position: absolute;
      padding: rem(5);
      right: rem(30);
      top: rem(30);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
    }
  }
}

//앱종료
#popup-app-end{
  .popup-area{
    left: rem(80);
    right: rem(80);
    top: 50%;
    transform: translateY(-50%);
    height: rem(460);
    border-radius: rem(60);
    overflow: visible!important;
  }
  .popup-content{
    padding-top: rem(65);
    text-align: center;
    overflow: visible!important;
    p{
      line-height: 1.6em;
      font-size: rem(24);
      color: #818286;
    }
    .title{
      margin-bottom: rem(30);
      line-height: 1.3em;
      font-size: rem(42);
      font-weight: 700;
      color: #333333;
    }
    .bottom-box{
      position: absolute;
      left: 0;
      bottom: rem(-110);
      right: 0;
      text-align: center;
      .btn-link{
        display: inline-block;
        position: relative;
        padding: rem(10);
        font-size: rem(26);
        color: #ffffff;
      }
      .btn-link:after{
        display: block;
        content: "";
        position: absolute;
        left: rem(8);
        right: rem(8);
        bottom: rem(5);
        height: 1px;
        background: #fff;
      }
    }
  }
}

// 댓글보기 팝업
#popup-comment{
  .comment-content{
    .img-box{
      margin-bottom: rem(40);
      border-radius: rem(25);
      overflow: hidden;
      img{
        display: block;
        width: 100%;
      }
    }
    p{
      line-height: 1.5em;
      font-size: rem(22);
      color: #000000;
    }
    .info-box{
      display: flex;
      align-items: center;
      margin-top: rem(30);
      p{
        @include font-manrope(500);
        position: relative;
        padding-left: rem(36);
        line-height: 1;
        font-size: rem(24);
        color: #333;
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(18);
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: rem(20);
          background: #e7e7e7;
        }
        &:first-child{
          padding-left: 0;
          &:before{
            display: none;
          }
        }
      }
    }
  }
}

//쿠폰선택 팝업
#popup-coupon-select{
  .popup-area{
    .popup-content{
      bottom: rem(260);
    }
    .popup-footer{
      display: block;
      height: rem(260);
      .total-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(40);
        width: 100%;
        height: rem(130);
        background: #f7fafc;
        p{
          line-height: 1;
          color: #333333;
        }
        .label{
          font-size: rem(28);
          font-weight: 700;
          .desc{
            margin-left: rem(5);
            font-size: rem(22);
            font-weight: normal;
          }
        }
        .total{
          font-size: rem(26);
          font-weight: 500;
          .price{
            @include font-manrope(700);
            margin-right: rem(5);
            font-size: rem(36);
          }
        }
      }
      .btn-box{
        width: 100%;
      }
    }
  }
}

//상세 보기 팝업
#popup-view-detail{
  .view-title-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .label{
      line-height: 1;
      font-size: rem(20);
      color: #818286;
      .category{
        font-weight: 700;
        color: #333;
      }
      span{
        @include font-manrope(400);
        margin-left: rem(10);
      }
    }
    .title{
      margin-top: rem(12);
      width: 100%;
      line-height: 1.4em;
      font-size: rem(24);
      font-weight: 500;
      color: #333333;
      letter-spacing: rem($letter-spacing-text);
    }
  }
  .view-text-box{
    p{
      line-height: 1.6em;
      font-size: rem(22);
      color: #333333;
    }
  }
  .btn-round.center {
    margin-top:rem(80);
    margin-bottom:rem(80);
  }
}

//최근 본 상품
#popup-recent-item{
  .popup-content{
    bottom: 0;
    padding-bottom: rem(80);
    .list-empty-box{
      padding-top: rem(200);
    }
  }
}

// 공유하기 팝업
#popup-item-share {
  .popup-area {
    top:auto;
    height:auto;
    min-height:rem(500);
    > div {
      position:static;
    }
    .popup-content {
      text-align: center;
      padding-top:rem(70);
      font-size:rem(26);
      font-weight: 700;
      color:#333333;
    }
    .btns-share{
      display: flex;
      width:rem(380);
      margin:rem(35) auto 0; 
      justify-content: space-between;
      li {
        width:rem(80);
      }
      a {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        font-size:0;
        width:rem(80);
        height:rem(80);
        background-image: url("../img/icons/icon_share_btn.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        &.btn-kakao {
          background-position:0 0;
        }
        &.btn-facebook {
          background-position:rem(-100) 0;
        }
        &.btn-kakaostory {
          background-position:rem(-200) 0;
        }
        &.btn-link {
          background-position:rem(-300) 0;
        }
      }
    }
  }
}
.alertify-notifier.ajs-right {
  right:rem(40);
}
.alertify-notifier .ajs-message.ajs-success {
  background-color: rgba(0,0,0,.6);
  width:calc(100vw - #{rem(80)});
  min-height: rem(100);
  line-height: 1.6;
  text-align: center;
  border-radius: rem(12);
  font-size: rem(16);
  padding:rem(20) rem(40);
  box-sizing: border-box;
  font-weight: 500;
  border: 0px solid #ddd;
  text-shadow: none;
  box-sizing: border-box;
  font-size:rem(32);
  color:#fff;
}
.alertify-notifier.ajs-right .ajs-message.ajs-visible{
  right:calc(100vw - #{rem(80)});
}
.material-box {
  .txt-box {
    max-height:0;
    overflow: hidden;
    margin: 0 rem(20);
    transition: all .2s ease-in-out;
    .title {
      color:#333 !important
    }
    .material-content {
      font-size: rem(24);
      line-height: 1.8;
      color: $fc-dark-gray;
    }
    .use-notice-list{
      counter-reset: notice;
      padding-left: rem(30);
      li{
        margin-bottom: rem(40);
        text-indent: rem(-15);
        &:before{
          counter-increment: notice;
          content: counter(notice);
          display: inline-block;
          margin-right: rem(10);
        }
      }
    }
  }
  &.show {
    .btn-round {
      background:#333333;
      color:#fff;
    }
    .txt-box {
      max-height:rem(1000);
      margin: rem(30) rem(20);
    }
  }
}