.pd-info-area{
  letter-spacing: rem($letter-spacing-default);
  .info-top{
    display: flex;
    justify-content: space-between;
  }
  .tag-list{
    display: inline-flex;
    margin-bottom: rem(30);
    .tag{
      @include tag;
      margin-right: rem(4);
      color: #ffffff;
      border:0;
      height:rem(44);
      font-size:rem(22);
      &.sale{
        background: #8a4933;
      }
      &.best, &.new{
        background: #89b03f;
      }
      &.online{
        background: #3c3e26;
      }
    }
  }
  .btn-share{
    display: block;
    position: relative;
    margin: rem(-4) rem(-10) 0 0;
    width: rem(50);
    height: rem(50);
  }
  .pd-name{
    // @include ellipsen(2);
    line-height: rem(58);
    font-size: rem(46);
    font-weight: 700;
    color: #333333;
    letter-spacing: rem($letter-spacing-title);
  }
  .pd-desc{
    margin-top: rem(5);
    line-height: rem(36);
    font-size: rem(28);
    color: #58595b;
    letter-spacing: rem($letter-spacing-default);
  }
  .pd-info{
    display: flex;
    margin-top: rem(26);
    .good{
      line-height: rem(40);
      font-size: rem(28);
      color: #333;
      @include font-manrope(700);
      .icon{
        margin: rem(-6) rem(6) 0 0;
      }
    }
    .review{
      position: relative;
      margin-left: rem(34);
      line-height: rem(40);
      font-size: rem(28);
      font-weight: 500;
      color: #333;
      &:before{
        display: block;
        content: "";
        position: absolute; 
        left: rem(-14);
        top: 50%;
        margin-top: rem(-12);
        width: rem(2);
        height: rem(22);
        background: #e7e7e7;
      }
    }
  }
  .pd-price-box{
    display: flex;
    margin-top: rem(46);
    .pd-price{
      @include font-manrope(700);
      line-height: rem(50);
      font-size: rem(32);
      font-weight: 700;
      color: #333333;
      .price{
        margin-right: rem(4);
        font-size: rem(52);
        letter-spacing: rem($letter-spacing-price);
      }
    }
    .pd-old-price{
      @include font-manrope(700);
      margin-top: rem(6);
      margin-left: rem(20);
      line-height: rem(50);
      font-size: rem(22);
      font-weight: 700;
      color: #bcbdc1;
      text-decoration: line-through;
      .price{
        margin-right: rem(4);
        font-size: rem(36);
        letter-spacing: rem($letter-spacing-price);
      }
    }
    .pd-sale{
      @include font-manrope(700);
      margin-top: rem(6);
      margin-left: rem(24);
      line-height: rem(50);
      font-size: rem(20);
      font-weight: 700;
      color: #ed1c24;
      .sale{
        margin-right: rem(4);
        font-size: rem(42);
        letter-spacing: rem($letter-spacing-price);
      }
    }
  }
  .pd-coupon{
    margin-top: rem(24);
    .btn-coupon{
      display: block;
      position: relative;
      padding-left: rem(26);
      width: rem(520);
      height: rem(80);
      line-height: rem(76);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
      border-radius: rem(6);
      border: rem(2) solid #e7e7e7;
      letter-spacing: rem($letter-spacing-default);
      .icon{
        display: block;
        position: absolute;
        right: rem(40);
        top: 50%;
        margin-top: rem(-17);
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(96);
        top: rem(-4);
        width: rem(24);
        height: rem(84);
        background: url("../img/ui/coupon_round_line.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
  .pd-info-list{
    margin-top: rem(46);
    padding-top: rem(50);
    border-top: rem(4) solid #31291c;
    li{
      position: relative;
      padding-left: rem(240);
      margin-top: rem(30);
      &:first-child{
        margin-top: 0;
      }
      .label{
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 500;
      }
    }
    p{
      line-height: rem(33);
      min-height: rem(30);
      font-weight: 500;
      font-size: rem(28);
      color: #333333;
    }
    .btn-tooltip-msg{
      cursor: pointer;
      display: inline-block;
      margin: rem(-6) 0 0 rem(8);
      vertical-align: middle;
      p {
        font-size:rem(20);
        line-height: 1;
        font-weight: 500;
      }
    }
  }
}

.pd-content-area{
  
  .item-tab{
    margin-top: rem(-50);
  }
  .pd-content-wrap{
    margin-bottom: rem(40);
  }
  .pd-caution-list{
    > li{
      position: relative;
      border-bottom: 1px solid #e7e7e7;
    }
    P{
      line-height: rem(36);
      font-size: rem(26);
      font-weight: 300;
    }
    .label{
      padding: rem(28) 0;
      line-height: rem(40);
      font-size: rem(28);
      font-weight: 700;
      color: #333333;
    }
    .btn-more{
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: rem(-20);
      line-height: rem(40);
      font-size: rem(28);
      font-weight: 500;
      color: #58595b;
      .icon{
        margin: rem(-4) 0 0 rem(10);
      }
    }
    .info-list{
      padding: rem(30);
      background: #f8f8f8;
      li{
        margin-top: rem(26);
        &:first-child{
          margin-top: 0;
        }
      }
      .info-label{
        margin-bottom: rem(10);
        font-size: rem(26);
        font-weight: 700;
        color: #333333;
      }
    }
  }
  
  .pd-content-detail{
    &:not(.more) .content-more{
      max-height: rem(670);
      overflow: hidden;
      -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,1)));
    }
    &.more{
      > .container{
        display: none;
      }
    }
    img {
      max-width:100%;
    }
  }
}

body{
  &.scroll{
    .sticky-tab{
      top: -5px;
    }
  }
  .sticky-tab{
    @include transtion(0.3s);
    top: rem(100);
    position: sticky;
    background-color: #ffffff;
    z-index: 80;
  }
}