/* font-family: 'Noto Sans KR', sans-serif; */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

hr,
legend {
    display: none;
    height: 0px;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    // color: #4c4c4c;
}

caption {
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

label,
input,
select,
button {
    vertical-align: middle;
    outline: 0;
    box-sizing: border-box;
}
button{
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
input{
    appearance: none;
}
input::-ms-clear {
    display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
}
// select {
    // appearance: none;
// }

img {
    border: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

//ie에서 웹폰트에 엑박뜨는현상
br{
    font-size: 0;
    opacity: 0;
}

//placeholder
input::-webkit-input-placeholder{color:#bcbdc1}
input::-moz-placeholder{color:#bcbdc1}
input:-moz-placeholder{color:#bcbdc1}
input:-ms-input-placeholder{color:#bcbdc1}
textarea::-webkit-input-placeholder{color:#bcbdc1}
textarea::-moz-placeholder{color:#bcbdc1}
textarea:-moz-placeholder{color:#bcbdc1}
textarea:-ms-input-placeholder{color:#bcbdc1}

