//리뷰 리스트
.review-check-list{
  li{
    .review-check-box{
      display: inline-block;
      position: relative;
      padding: rem(5) rem(10) rem(5) rem(38);
      .check{
        display: block;
        position: absolute;
        left: 0;
        top: rem(10);
        width: rem(31);
        height: rem(29);
        opacity: 0;
        z-index: 10;
      }
      .check:checked + span.icon{
        background: url("../img/icons/icon_good_md.png") no-repeat center center;
      }
      .check:checked + span.icon + span.text{
        color: #333;
      }
      .icon{
        display: block;
        position: absolute;
        left: 0;
        top: rem(10);
        width: rem(31);
        height: rem(29);
        background: url("../img/icons/icon_good_gray_md.png") no-repeat center center;
        background-size: contain!important;
      }
      .text{
        display: block;
        line-height: rem(40);
        font-size: rem(26);
        color: #bcbdc1;
        b{
          margin-right: rem(14);
          font-weight: 700
        }
      }
    }
  }
}

//리뷰
.review-point-area{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: rem(50);
  padding: rem(32) 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #e7e7e7;
  .point-total{
    flex: 0 0 40%;
    text-align: center;
    .label{
      line-height: rem(30);
      font-size: rem(26);
      font-weight: 700;
      color: #333;
    }
    .point{
      @include font-manrope(700);
      margin: rem(10) 0 rem(10) 0;
      line-height: rem(60);
      font-size: rem(46);
      color: #bcbdc1;
      letter-spacing: -1px;
      b{
        margin-right: rem(10);
        font-size: rem(56);
        color: #333333;
      }
    }
    .good-list{
      display: inline-flex;
      align-items: center;
      .icon{
        margin: 0 rem(2);
        opacity: 0.15;
        &.on{
          opacity: 1;
        }
      }
    }
  }
  .point-list{
    flex: 1;
    padding: rem(15) 0 rem(15) rem(35);
    border-left: 1px solid #e7e7e7;
    li{
      display: flex;
      flex-wrap: nowrap;
      padding: rem(5) 0;
      height: rem(38);
      .good{
        margin-right: rem(18);
        line-height: rem(30);
        font-size: rem(24);
        font-weight: 700;
        color: #333333;
        white-space: nowrap;
        .icon{
          margin: rem(-5) rem(4) 0 0;
        }
      }
      .graph-bar{
        width: 50%;
      }
    }
  }
}

.review-summry-area{
  .title{
    line-height: rem(40);
    font-size: rem(28);
    font-weight: 700;
    color: #333;
  }
  .summary-list{
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: rem(-40);
    margin-bottom: rem(60);
    li{
      position: relative;
      padding-top: rem(25);
      width: 50%;
      .label{
        line-height: rem(40);
        font-size: rem(24);
        color: #58595b;
        b{
          margin-right: rem(12);
          font-weight: 700;
          color: #89b03f;
        }
      }
      .graph-bar{
        width: 70%;
      }
    }
  }
}

//리뷰
.review-view-list{
  .review-view-area{
    margin-bottom: rem(40);
    padding-bottom: rem(60);
    border-bottom: 1px solid #e7e7e7;
  }
}
.review-view-area{
  .review-header{
    display: flex;
    margin-bottom: rem(20);
    .good{
      margin-right: rem(40);
      line-height: rem(50);
      font-size: rem(26);
      font-weight: 700;
      color: #333333;
      .icon{
        margin: rem(-4) rem(6) 0 0;
      }
      & + .name {
        position:relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: rem(-20);
          top: 50%;
          margin-top: rem(-11);
          width: 1px;
          height: rem(22);
          background: #e7e7e7;

        }
      }
    }
    .name{
      line-height: rem(50);
      font-size: rem(26);
      font-weight: 500;
      color: #333333;
    }
    .info{
      display: flex;
      margin-left: auto;
      p{
        position: relative;
        margin-left: rem(40);
        line-height: rem(50);
        font-size: rem(26);
        @include font-manrope(500);
        color: #333333;
        .icon{
          margin: rem(-4) rem(6) 0 0;
        }
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(-20);
          top: 50%;
          margin-top: rem(-11);
          width: 1px;
          height: rem(22);
          background: #e7e7e7;
        }
        &:first-child:before{
          display: none;
        }
      }
    }
  }
  .product-name{
    font-size: rem(28);
    font-weight: 700;
    color: #333333;
    padding-bottom: rem(15);
  }
  .review-tag{
    display: flex;
    margin-bottom: rem(25);
    .tag{
      @include tag;
    }
  }
  .review-summary{
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: rem(-40);
    margin-bottom: rem(10);
    li{
      position: relative;
      width: 50%;
      padding-left: rem(140);
      height: rem(55);
      .label{
        position: absolute;
        left: 0;
        top: rem(-3);
        line-height: rem(40);
        font-size: rem(28);
        font-weight: 700;
        color: #333333;
      }
    }
  }
  .review-text-area{
    p{
      line-height: rem(36);
      font-size: rem(26);
      color: #58595b;
    }
    .more-text{
      display: none;
    }
    .review-opt{
      margin-bottom: rem(15);
    }
    .review-more-box{
      position: relative;
      margin-top: rem(30);
      height: rem(70);
      .btn-review-helpful{
        display: inline-block;
        width: auto;
        padding: 0 rem(20);
        height: rem(70);
        line-height: rem(66);
        font-size: rem(24);
        color: #bcbdc1;
        border-radius: rem(10);
        &.on{
          color: #89b03f;
          border-color: #89b03f;
          .icon{
            -webkit-filter: none;
            filter: none;
            opacity: 1;
          }
        }
        .icon{
          margin: rem(-6) rem(15) 0 0;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 0.5;
        }
      }
      .btn-list-more{
        display: block;
        position: absolute;
        margin: 0;
        right: rem(-15);
        top: rem(-10);
        color: #58595b;
        font-size: rem(26);
        font-weight: 500;
        .off{
          display: none;
        }
        .icon{
          width: rem(18);
          height: rem(10);
          background-image: url("../img/icons/icon_select_arrow.png");
        }
      }
    }
  }
  .review-thumb{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(35);
    width: 100%;
    li{
      flex:1;
      max-width: 23.49vw;;
      position: relative;
      margin-right: rem(10);
      border-radius: rem(10);
      overflow: hidden;
      &:last-child{
        margin-right: 0;
      }
      img{
        display: block;
        width: 100%;
        height:rem(160);
        object-fit: cover;
      }
      .btn-link{
        display: block;
        height: 100%;
        position: relative;
        .more{
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: rem(36);
          font-weight: 700;
          color: #fff;
          background: rgba(0,0,0,0.7);
        }
      }
    }
  }
  &.active{
    .review-text-area .review-text .more-text{
      display: block;
    }
    .review-text-area .review-more-box{
      .more-text{
        display: block;
      }
      .btn-list-more{
        opacity: 1;
        .on{
          display: none;
        }
        .off{
          display: inline;
        }
        .icon{
          transform: rotate(180deg);
        }
      }
    }
  }
}

//리뷰 작성
.review-write-area{
  .write-point-box{
    padding-bottom: rem(45);
    border-bottom: 1px solid #e7e7e7;
    .title{
      .q{
        @include font-manrope(800);
        font-size: rem(36);
      }
      margin-bottom: rem(25);
      text-align: center;
      line-height: rem(40);
      font-size: rem(32);
      font-weight: 700;
      color: #333;
      letter-spacing: rem($letter-spacing-text);
    }
    .point-box{
      margin-bottom: rem(25);
      text-align: center;
      .icon{
        margin: 0 rem(2);
      }
    }
    .desc{
      text-align: center;
      line-height: rem(30);
      font-size: rem(26);
      color: #f01d11;
    }
  }
  .write-summary-box{
    padding-top: rem(50);
    margin-bottom: rem(50);
    .summary-list{
      padding-bottom: rem(50);
      .list-box{
        position: relative;
        margin-bottom: rem(5);
        padding-left: rem(180);
        .label{
          position: absolute;
          left: rem(15);
          top: rem(20);
          line-height: rem(38);
          font-size: rem(28);
          font-weight: 700;
          color: #333333;
        }
        .check-list{
          display: flex;
          width: 100%;
          li{
            position: relative;
            height: rem(150);
            &:before{
              display: block;
              content: "";
              position: absolute;
              left: rem(-25);
              top: rem(36);
              margin-top: -1px;
              width: rem(50);
              height: rem(2);
              border-top: rem(2) dotted #e7e7e7;
            }
            &:first-child:before{
              display: none;
            }
            flex: 1;
            .check-box{
              cursor: pointer;
              display: block;
              position: relative;
              margin: 0 auto;
              width: rem(70);
              height: rem(70);
              input{
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: rem(70);
                height: rem(70);
                opacity: 0;
                z-index: 10;
              }
              .icon{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: rem(70);
                height: rem(70);
                border: 1px solid #e7e7e7;
                border-radius: 50%;
              }
              .text{
                display: block;
                position: absolute;
                left: 50%;
                top: rem(85);
                padding: 0;
                margin-left: rem(-80);
                width: rem(160);
                line-height: rem(32);
                text-align: center;
                font-size: rem(24);
                color: #bcbdc1;
              }
              input:checked{
                & + span.icon{
                  border-color: #8bb23f;
                  background: #8bb23f url('../img/icons/icon_leaf_white.png') no-repeat 45% center;
                  background-size: 50%;
                }
                & + span.icon + span.text{
                  color: #333333;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
    .desc-box{
      text-align: center;
      border-radius: rem(20);
      background: #f8f8f8;
      white-space: nowrap;
      p{
        line-height: rem(120);
        font-size: rem(24);
        color: #333333;
        letter-spacing: -1px;
        b{
          font-weight: 700;
        }
      }
    }
  }
  .write-picture-box{
    padding-bottom: rem(50);
    margin-bottom: rem(20);
    border-bottom: 1px solid #e7e7e7;
    .title-box{
      display: flex;
      margin-bottom: rem(50);
      height: rem(80);
      border-bottom: 1px solid #e7e7e7;
      .title{
        line-height: rem(80);
        font-size: rem(32);
        font-weight: 700;
        color: #333333;
        letter-spacing: rem($letter-spacing-title);
      }
      .desc{
        margin-left: rem(12);
        line-height: rem(80);
        font-size: rem(24);
        color: #58595b
      }
    }
    .upload-list{
      display: flex;
      margin-bottom: rem(25);
      li{
        flex: 1;
        margin-right: rem(15);
        &:last-child{
          margin-right: 0;
        }
      }
      li:first-child{
        .upload-box:before{
          display: none;
          content:"대표";
          position: absolute;
          left: rem(8);
          top: rem(8);
          padding: 0 rem(12);
          height: rem(40);
          line-height: rem(40);
          font-size: rem(22);
          color: #fff;
          font-weight: 500;
          border-radius: rem(22);
          background: rgba(0,0,0,.5);
          z-index: 11;
        }
        .upload-box.upload{
          border-color: #333333;
          &:before{
            display: block;
          }
        }
      }
      &.only-img{
        li:first-child{
          .upload-box.upload:before{
            display: none;
          }
        }
      }
      .upload-box{
        position: relative;
        padding-top: 95%;
        width: 100%;
        height: 0;
        border: rem(2) solid #e7e7e7;
        border-radius: rem(20);
        overflow: hidden;
        .input-file{
          cursor: pointer;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          opacity: 0;
        }
        .btn-close{
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          width: rem(60);
          height: rem(60);
          background: rgba(0,0,0,0.5);
          z-index: 11;
          border-top-left-radius: rem(20);
        }
        .img{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-position: center center!important;
          background-repeat: no-repeat!important;
          background-size: cover!important;
        }
        &.upload{
          border-color: transparent;
          > .icon{
            display: none;
          }
          .btn-close{
            display: block;
          }
        }
      }
    }
  }
  .write-comment-box{
    margin-bottom: rem(50);
    .title{
      margin-bottom: rem(10);
      line-height: rem(80);
      font-size: rem(32);
      font-weight: 700;
      color: #333333;
      letter-spacing: rem($letter-spacing-title);
    }
    .input-text{
      width: 100%;
      height: rem(350);
      box-sizing: border-box;
    }
  }
  .write-address-box{
    margin-bottom: rem(50);
    .title-box{
      margin-bottom: rem(20);
      border-bottom: 1px solid #e7e7e7;
      .title{
        margin-bottom: rem(10);
        line-height: rem(80);
        font-size: rem(32);
        font-weight: 700;
        color: #333333;
        letter-spacing: rem($letter-spacing-title);
      }
    }
  }
}
