//상품검색
.search-total{
  .search-box{
    position: relative;
    border-bottom: rem(3) solid #333333;
    .input-text{
      border: 0;
      height: rem(80);
      width: calc(100% - #{rem(60)});
      padding-left: 0;
      font-size: rem(36);
      font-weight: 700;
      letter-spacing: -1.8;
      margin-bottom: rem(20);
    }
    > a{
      display: inline-block;
      position: absolute;
      width: rem(42);
      height: rem(44);
      right: rem(20);
      top: rem(25);
      .icon-search{
      }
    }
  }
}

#popup-search-total{
  .popup-area{
    .popup-header{
      height: rem(174);
      padding-top: 0;
      .btn-back{
        position: absolute;
        left: rem(16);
        top: rem(56);
        width: rem(60);
        height: rem(60);
      }
    }
  }
  .popup-content{
    padding-top: 0;
    .search-box{
      position: relative;
      border-bottom: rem(3) solid #333333;
      .input-text{
        border: 0;
        height: rem(80);
        width: calc(100% - #{rem(60)});
        padding-left: 0;
        font-size: rem(36);
        font-weight: 700;
        letter-spacing: -1.8;
        margin-bottom: rem(20);
      }
      > a{
        display: inline-block;
        position: absolute;
        width: rem(42);
        height: rem(44);
        right: rem(20);
        top: rem(25);
        .icon-search{
        }
      }
    }
    .ranking, .recommand-list{
      counter-reset: rank;
      margin-top: rem(80);
      >ul{
        >li{
          position: relative;
          line-height: 1;
          margin-bottom: rem(25);
          font-size: rem(24);
          letter-spacing: -1.2;
          &:before{
            counter-increment: rank;
            content: "0"counter(rank);
            display: inline-block;
            width: rem(30);
            margin-right: rem(20);
            font-size: rem(26);
            @include font-manrope(700);
          }
          &:nth-of-type(10){
            &:before{
              content: counter(rank);
            }
          }
          a{
            display: inline-block;
            width: calc(100% - #{rem(130)});
            @include ellipse;
          }
          .arrow{
            display: inline-block;
            position: absolute;
            width: rem(50);
            right: rem(15);
            .icon{
              margin-right: rem(12);
            }
            &.up{
              color: #6b8138;
              .icon{
                @extend .icon-rank-up;
              }
            }
            &.down{
              color: #ed1c24;
              .icon{
                @extend .icon-rank-down;
              }
            }
            &.stay{
              .icon{
                @extend .icon-rank-stay;
              }
            }
          }
        }
      }
    }
  }
  
}