.newar-visual-area{
  position: relative;
  margin-bottom: rem(250);
  .slide-area{
    position: absolute;
    left: 0;
    bottom: rem(-140);
    width: 100%;
    height: rem(246);
    .bottom-slide{
      height: rem(220);
      .swiper-slide{
        padding: rem(10);
      }
      .item-box{
        box-shadow: 0 rem(4) rem(20) rgba(0,0,0,0.06);
      }
    }
    .slider-page-bar{
      bottom: 0;
    }
  }
}

.slide-area{
  position: relative;
  .dday-box{
    display: block;
    position: absolute;
    left: rem(40);
    top: rem(30);
    padding: 0 rem(20) 0 rem(57);
    width:rem(120);
    height: rem(44);
    box-sizing: border-box;
    border-radius: rem(20);
    background: #945945;
    z-index: 10;
    .time{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(44);
      height: rem(44);
      border-radius: 50%;
      background: #764737;
      .icon{
        display: block;
      }
    }
    .dday{
      @include font-manrope(700);
      display: block;
      line-height: rem(44);
      font-size: rem(24);
      color: #fff;
    }
  }
  .slider-page-bar.swiper-pagination-progressbar {
    background: rgba(255,255,255,.7);
  }
}

// .swiper-container:not(.item-list):not(.swiper-container-initialized) .swiper-slide:not(:first-child){
  // display: none;
// }
.swiper-container img{
  display: block;
  width: 100%;
}

.slider-page-bar{
  display: flex;
  position: absolute;
  left: rem(40);
  right: rem(40);
  bottom: rem(40);
  height: rem(6);
  border-radius: rem(3);
  background: #e7e7e7;
  z-index: 10;
  .swiper-pagination-bullet{
    @include transtion(0.2s);
    display: block;
    flex: 1;
    height: rem(6);
    border-radius: rem(3);
    background: #e7e7e7;
    &.swiper-pagination-bullet-active{
      background: #31291c;
    }
  }
  &.swiper-pagination-progressbar{
    background: #e7e7e7;
    .swiper-pagination-progressbar-fill {
      background:#333333;
    }
  }
  &.swiper-pagination-lock {
    display: none;
  }
}

.slider-page-dot{
  padding-top: rem(50);
  height: rem(70);
  text-align: center;
  .swiper-pagination-bullet{
    margin: 0 rem(9);
    width: rem(20);
    height: rem(20);
    background: #ddd;
    opacity: 1;
    &.swiper-pagination-bullet-active{
      // background: #89b03f;
      border: 1px solid #333333;
      background: #e7e7e7;
    }
  }
}

.event-slide .slider-page-dot{
  height:auto;
  padding-top:rem(30);
  .swiper-pagination-bullet{
    margin: 0 rem(9);
    width: rem(20);
    height: rem(20);
    background: #ddd;
    opacity: 1;
    &.swiper-pagination-bullet-active{
      background: #333333;
    }
  }
}

.category-visual-area{
  .btn-detail-popup{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: rem(80);
    height: rem(80);
    background: rgba(0,0,0,0.2);
    z-index: 20;
  }
  &.slide-detail{
    .slider-page-bar{
      right: rem(150);
    }
  }
}

.category-slide{
  .btn-link{
    display: block;
    position: relative;
    .badge-list{
      position: absolute;
      right: rem(20);
      top: rem(20);
      z-index: 5;
      .badge-img{
        margin-bottom: rem(10);
        width: rem(130);
        height: rem(130);
      }
      img{
        display: block;
        width: 100%;
      }
    }
  }
  .text-box{
    position: absolute;
    left: rem(40);
    top: rem(100);
    .pd-name{
      display: block;
      font-size: rem(56);
      line-height: 1;
      font-weight: 700;
      padding-top:rem(6);
      color: #333;
      opacity: 0;
      padding-left:rem(20);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    .pd-name-sub{
      display: block;
      margin-bottom: rem(10);
      line-height: 1;
      font-size: rem(36);
      font-weight: 700;
      color: #333;
      opacity: 0;
      padding-left:rem(20);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .pd-desc{
      display: block;
      margin-top: rem(30);
      line-height: rem(32);
      font-size: rem(28);
      font-weight: 400;
      color: #58595b;
      opacity: 0;
      padding-left:rem(20);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }
  }
  .swiper-slide-active {
    .pd-name, .pd-name-sub, .pd-desc {
      opacity: 1;
      padding-left:0;
    }
  }
  .video-wrap-youtube {
    position:relative;
    width:100%;
    height:rem(600);
    background:#f7f7f7;
    overflow: hidden;
    iframe{
      position: absolute;
      width:100%;
      position:relative;
      top:50%;
      transform: translateY(-50%);
    }
  }
  .video-wrap {
    position:relative;
    width:100%;
    height:rem(600);
    background:#f7f7f7;
    overflow: hidden;
    video {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width:100%;
    }
    .play-btn {
      position:absolute;
      display: block;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
    }
    &.playing .play-btn {
      display: none;
    }
  }
}

//이미지 상세
.image-slide-area{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .container{
    position: relative;
    .btn-close{
      display: block;
      position: absolute;
      padding: rem(20);
      right: rem(80);
      bottom: rem(30);
    }
  }
  .swiper-slide{
    img{
      display: block;
      width: 100%;
      border-radius: rem(40);
    }
  }
}

.brand-slide-area{
  position: relative;
  padding-bottom: rem(50);
  .slider-page-bar{
    bottom: 0;
  }
  
  .btn-link{
    display: block;
    span{
      display: block;
    }
    .img-slot{
      .img{
        display: block;
        width: 100%;
      }
      margin-bottom: rem(40);
    }
    .info-slot{
      text-align: center;
      .eng{
        @include font-manrope(700);
        line-height: 1;
        font-size: rem(22);
        color: #e9bb5b;
      }
      .title{
        margin-top: rem(10);
        line-height: rem(48);
        font-size: rem(36);
        font-weight: 500;
        color: #818286;
        letter-spacing: rem($letter-spacing-text);
        b{
          font-weight: 700;
          color: #333333;
        }
      }
    }
  }
}
.category-visual-area {
  .swiper-slide:not(.swiper-slide-active){
      height:0;
  }
}
