//탭
.content-tab{
  display: flex;
  background: #f7fafc;
  &.icon{
    .btn-tab{
      padding-top: rem(90);
      height: rem(140);
      line-height: rem(30);
      font-size: rem(24);
    }
  }
  .btn-tab{
    display: block;
    position: relative;
    width: 50%;
    height: rem(110);
    text-align: center;
    line-height: rem(110);
    font-size: rem(28);
    font-weight: 500;
    color: #818286;
    .icon{
      display: block;
      position: absolute;
      left: 50%;
      top: rem(26);
      margin-left: rem(-30);
    }
    &.active{
      color: #333333;
      background: #fff;
      font-weight: 700;
    }
    &:not(.active) .icon{
      @include icon-gray;
    }
  }
}

//카테고리 탭 슬라이드
.category-tab-slide{
  margin-top: rem(55);
  margin-bottom: rem(55);
  .title{
    margin-bottom: rem(30);
    padding: 0 rem(40);
    line-height: rem(40);
    font-size: rem(36);
    font-weight: 700;
    color: #333333;
    letter-spacing: rem($letter-spacing-title);
  }
  .tab-slide{
    height: rem(58);
    .swiper-slide{
      width: auto;
    }
    .btn-tab{
      display: block;
      padding: 0 rem(28);
      height: rem(58);
      line-height: rem(52);
      font-size: rem(26);
      font-weight: 500;
      color: #58595b;
      border: rem(3) solid #e7e7e7;
      border-radius: rem(29);
      letter-spacing: rem($letter-spacing-text);
      &.active{
        color: #333;
        border-color: #333;
      }
    }
  }
}

//상품 리스트 탭
.item-tab{
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 rem(20);
  margin-bottom: rem(40);
  justify-content: space-evenly;
  &.tab-width{
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: rem(94);
    border-bottom: rem(2) solid #e7e7e7;
    .btn-tab{
      display: block;
      flex: 1;
      margin: 0;
      padding: 0;
      height: rem(92);;
      line-height: rem(92);
      text-align: center;
      font-size: rem(32);
      &.active:after{
        left: 0;
        right: 0;
        bottom: rem(-2);
      }
    }
  }
  .btn-tab{
    display: inline-block;
    position: relative;
    margin:0 rem(10);
    padding: 0 rem(10);
    height: rem(55);
    line-height: rem(50);
    font-size: rem(30);
    font-weight: 500;
    color: #bcbdc1;
    margin-bottom: rem(2);
    &.active{
      color: #333;
      font-weight: 700;
      &:after{
        display: block;
        content: "";
        position: absolute;
        left: rem(10);
        right: rem(10);
        bottom: 0;
        height: rem(5);
        border-radius: rem(5);
        background: #333;
      }
    }
  }
}

.item-tab-slide{
  .tab-slide{
    margin: 0;
  }
  .swiper-slide{
    width: auto;
  }
}
