.terms-content-wrap{
  p, li{
    line-height: 1.5em;
    font-size: rem(24);
    color: #58595b;
  }
  .title{
    margin: rem(20) 0 rem(30) 0;
    font-size: rem(28);
    color: #333333;
    font-weight: 700;
    &:first-child{
      margin-top: 0!important;
    }
  }
  .sub_title{
    margin-bottom: rem(30);
  }
  ol{
    padding-left: rem(30);
    li{
      margin-top: rem(30);
      font-size: rem(22);
      &:first-child{
        margin-top: 0!important;
      }
    }
    &.sub{
      padding-left: rem(60);
    }
  }
  
  .scroll-wrap{
    overflow: hidden;
    overflow-x: auto;
  }
  table{
    border-top: 1px solid #333333;
    border-spacing: 0;
    th, td{
      padding: rem(20);
      text-align: center;
      border-bottom: 1px solid #e7e7e7;
      white-space: nowrap;
    }
    th{
      font-size: rem(26);
      font-weight: 700;
      color: #333333;
      background: #f5f5f5;
      vertical-align: middle;
    }
    td{
      p{
        font-size: rem(22);
        font-weight: 500;
        color: #58595b;
      }
    }
  }
}

#popup-terms{
  .btn-term{
    display: block;
    position: relative;
    margin-bottom: rem(60);
    padding: 0 rem(40) 0 rem(20);
    border-radius: rem(10);
    border: 1px solid #e7e7e7;
    height: rem(80);
    line-height: rem(86);
    font-size: rem(26);
    font-weight: 500;
    color: #333333;
    .icon{
      display: block;
      position: absolute;
      right: rem(20);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#popup-terms-select{
  .popup-content{
    padding-top: 0;
    padding-bottom: rem(40);
    max-height: rem(740);
  }
  .terms-list{
    li{
      padding: rem(30) rem(20);
      border-top: 1px solid #e7e7e7;
      .btn-link{
        display: block;
        .date{
          @include font-manrope(700);
          display: block;
          margin-bottom: rem(10);
          font-size: rem(24);
          line-height: 1;
          color: #6b8138;
        }
        .title{
          display: block;
          margin-bottom: rem(5);
          font-size: rem(26);
          line-height: 1.5em;
          font-weight: 500;
          color: #333333;
        }
        .desc{
          display: block;
          font-size: rem(22);
          line-height: 1.5em;
          color: #818286;
        }
      }
    }
  }
}
.alertify .ajs-body .ajs-content {
  font-size: 2rem;
}