// layout
$default-container-pad: 40;
$gnb-header-height: 130;
$footer-top-margin: 150;

// footer
$bg-gray: #f8f8f8;
$bg-blue: #f7fafc;
$bg-footer: $bg-gray;

// color
$primary: #89b03f;
$secondary: #8a4933;

// font color
$fc-default: #333333;
$fc-dark-gray: #58595b;
$fc-gray: #818286;
$fc-light-gray: #bcbdc1;
$fc-primary: $primary;
$fc-emphas: #f01d11;

// text style
$letter-spacing: -1px;
$letter-spacing-default: -1.2;
$letter-spacing-text: -2;
$letter-spacing-title: -2;
$letter-spacing-price: -2;

//btn
$btn-default-fs: 16;
$btn-default-fc: $fc-dark-gray;
$btn-fill-black: #31291c;
$btn-fill-primary: $primary;
$btn-fill-secondary: $secondary;
$btn-outline-lightgray: #e7e7e7;
$btn-outline-black: #333333;
$btn-outline-white: #ffffff;
$btn-outline-green: #89b03f;
$btn-color-green: #6b8138;
$btn-box-height: 78;

// input
$input-outline: #e7e7e7;


// main section border color
$section-border-color: #e7e7e7;
$bc-black: #c9cfd2;
$bc-tab-active: $fc-default;
$bc-tab-line: #020202;

// z indexs
$zindex-header: 1;
$zindex-layer-pop: 3;
$zindex-modal-pop: 2;
