.video-modal{
  position: fixed;
  bottom: rem(-320);
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: rem(60) rem(60) 0 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: all .3s;
  &.on {
    bottom:0;
    transition: all .3s;
  }
  .img-wrap{
    a{
      display: block;
      img{
        width: 100%;
        line-height: 0;
        font-size: 0;
      }
    }
  }
  .modal-footer{
    @include prefix-center-suffix;
    height: rem(130);
    padding-left: rem($default-container-pad);
    padding-right: rem($default-container-pad);
    .btn-close{
      font-size: rem(26);
      font-weight: 500;
    }
    .btn-no-more{
      font-size: rem(26);
      color: $fc-gray;
    }
  }
}
.video-popup{
  &.popup-window{
    background: rgba(0,0,0,.95);
  }
  video{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .close-btn{
    position: absolute;
    top: rem(70);
    right: rem(40);
  }
  
.youtube-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height:56.25%;
}
}